<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AeonMoreBarNoModelMapper">

    <insert id="insertAll" parameterType="com.efuture.model.AeonMoreBarNoModel">
        insert into aeonmorebarno (mbid, goodsCode, barNo,groupCode,createDate,updateDate,mainBarcodeFlag,barNoStatus
        <foreach collection="@com.efuture.utils.BeanUtils@xmlList(list)" item="item" index="0">
            <if test="item.dealType != null and item.dealType != ''">
             ,dealType
            </if>
            <if test="item.seqNum != null and item.seqNum != ''">
             ,seqNum
            </if>
        </foreach>
        )
        values
        <foreach collection="list" item="item" separator=",">
			(#{item.mbid,jdbcType=BIGINT}, #{item.goodsCode,jdbcType=VARCHAR},
			#{item.barNo,jdbcType=VARCHAR},
			#{item.groupCode,jdbcType=VARCHAR},
			#{item.createDate,jdbcType=TIMESTAMP},
			#{item.updateDate,jdbcType=TIMESTAMP},
			#{item.mainBarcodeFlag,jdbcType=SMALLINT},
			#{item.barNoStatus,jdbcType=SMALLINT}
            <if test="item.dealType != null and item.dealType != ''">
                ,#{item.dealType,jdbcType=CHAR}
            </if>
            <if test="item.seqNum != null and item.seqNum != ''">
                ,#{item.seqNum,jdbcType=BIGINT}
            </if>
            )
        </foreach>
    </insert>

    <update id="updateAll" parameterType="com.efuture.model.AeonMoreBarNoModel">
        <foreach collection="list" item="item" separator=";">
            update aeonmorebarno
            <set>
                <!-- <if test="item.goodsCode != null">
                    goodsCode = #{item.goodsCode,jdbcType=VARCHAR},
                </if> -->
                <if test="item.updateDate != null">
					updateDate = #{item.updateDate,jdbcType=TIMESTAMP},
				</if>
				<if test="item.mainBarcodeFlag != null">
					mainBarcodeFlag = #{item.mainBarcodeFlag,jdbcType=SMALLINT},
				</if>
				<if test="item.barNoStatus != null">
					barNoStatus = #{item.barNoStatus,jdbcType=SMALLINT},
				</if>
                <if test="item.dealType != null and item.dealType != ''">
                    dealType = #{item.dealType,jdbcType=CHAR},
                </if>
                <if test="item.seqNum != null and item.seqNum != ''">
                    seqNum = #{item.seqNum,jdbcType=BIGINT},
                </if>
            </set>
            where groupCode = #{item.groupCode,jdbcType=VARCHAR} and barNo = #{item.barNo,jdbcType=VARCHAR} and goodsCode = #{item.goodsCode,jdbcType=VARCHAR}
                <if test="item.seqNum != null and item.seqNum != ''">
                    and #{item.seqNum,jdbcType=BIGINT} >= seqNum
                </if>
        </foreach>
    </update>

    <insert id="insert" parameterType="com.efuture.model.AeonMoreBarNoModel">
        insert into aeonmorebarno (mbid, goodsCode, barNo, groupCode,createDate,updateDate,mainBarcodeFlag,barNoStatus
        <if test="dealType != null and dealType != ''">
            ,dealType
        </if>
        <if test="seqNum != null and seqNum != ''">
            ,seqNum
        </if>
        )
        values (#{mbid,jdbcType=BIGINT},
                #{goodsCode,jdbcType=VARCHAR},
                #{barNo,jdbcType=VARCHAR},
                #{groupCode,jdbcType=VARCHAR},
                #{createDate,jdbcType=TIMESTAMP},
                #{updateDate,jdbcType=TIMESTAMP},
                #{mainBarcodeFlag,jdbcType=SMALLINT},
                #{barNoStatus,jdbcType=SMALLINT}
                <if test="dealType != null and dealType != ''">
                    ,#{dealType,jdbcType=CHAR}
                </if>
                <if test="seqNum != null and seqNum != ''">
                    ,#{seqNum,jdbcType=BIGINT}
                </if>
                )
    </insert>

    <update id="update" parameterType="com.efuture.model.AeonMoreBarNoModel">
		update aeonmorebarno
         <set>
             <!-- <if test="goodsCode != null">
                 goodsCode = #{goodsCode,jdbcType=VARCHAR},
             </if> -->
             <if test="updateDate != null">
				 updateDate = #{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="mainBarcodeFlag != null">
				 mainBarcodeFlag = #{mainBarcodeFlag,jdbcType=SMALLINT},
			</if>
			<if test="barNoStatus != null">
				 barNoStatus = #{barNoStatus,jdbcType=SMALLINT},
			</if>
             <if test="dealType != null and dealType != ''">
                 dealType = #{dealType,jdbcType=CHAR},
             </if>
             <if test="seqNum != null and seqNum != ''">
                 seqNum = #{seqNum,jdbcType=BIGINT},
             </if>
         </set>
		where groupCode = #{groupCode,jdbcType=VARCHAR} and barNo = #{barNo,jdbcType=VARCHAR} and goodsCode = #{goodsCode,jdbcType=VARCHAR}
            <if test="seqNum != null and seqNum != ''">
                and #{seqNum,jdbcType=BIGINT} >= seqNum
            </if>
    </update>

</mapper>