<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AmcProfileModelMapper">
  <resultMap id="BaseResultMap" type="com.efuture.model.AmcProfileModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="memberId" jdbcType="VARCHAR" property="memberId" />
    <result column="membershipExpireDate" jdbcType="TIMESTAMP" property="membershipExpireDate" />
    <result column="bonusPointLastMonth" jdbcType="DECIMAL" property="bonusPointLastMonth" />
    <result column="bonusPointThisMonth" jdbcType="DECIMAL" property="bonusPointThisMonth" />
    <result column="bonusPointUsed" jdbcType="DECIMAL" property="bonusPointUsed" />
    <result column="bonusPointExpireDate" jdbcType="DECIMAL" property="bonusPointExpireDate" />
    <result column="BonusPoint" jdbcType="DECIMAL" property="BonusPoint" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="bonusPointToBeExpired" jdbcType="DECIMAL" property="bonusPointToBeExpired" />
    <result column="estamp" jdbcType="CHAR" property="estamp" />
    <result column="filler1" jdbcType="VARCHAR" property="filler1" />
    <result column="filler2" jdbcType="VARCHAR" property="filler2" />
    <result column="filler3" jdbcType="VARCHAR" property="filler3" />
    <result column="filler4" jdbcType="VARCHAR" property="filler4" />
    <result column="filler5" jdbcType="VARCHAR" property="filler5" />
    <result column="filler6" jdbcType="VARCHAR" property="filler6" />
    <result column="filler7" jdbcType="VARCHAR" property="filler7" />
    <result column="filler8" jdbcType="VARCHAR" property="filler8" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>

  <insert id="insertAll" parameterType="com.efuture.model.AmcProfileModel">
    insert into amcprofile (id, memberId, membershipExpireDate,
    bonusPointLastMonth, bonusPointThisMonth,
    bonusPointUsed, bonusPointExpireDate, BonusPoint,
    status, bonusPointToBeExpired, estamp,
    filler1, filler2, filler3,
    filler4, filler5, filler6,
    filler7, filler8, updateDate
    )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.memberId,jdbcType=VARCHAR}, #{item.membershipExpireDate,jdbcType=TIMESTAMP},
      #{item.bonusPointLastMonth,jdbcType=DECIMAL}, #{item.bonusPointThisMonth,jdbcType=DECIMAL},
      #{item.bonusPointUsed,jdbcType=DECIMAL}, #{item.bonusPointExpireDate,jdbcType=DECIMAL}, #{item.BonusPoint,jdbcType=DECIMAL},
      #{item.status,jdbcType=CHAR}, #{item.bonusPointToBeExpired,jdbcType=DECIMAL}, #{item.estamp,jdbcType=CHAR},
      #{item.filler1,jdbcType=VARCHAR}, #{item.filler2,jdbcType=VARCHAR}, #{item.filler3,jdbcType=VARCHAR},
      #{item.filler4,jdbcType=VARCHAR}, #{item.filler5,jdbcType=VARCHAR}, #{item.filler6,jdbcType=VARCHAR},
      #{item.filler7,jdbcType=VARCHAR}, #{item.filler8,jdbcType=VARCHAR}, #{item.updateDate,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>

  <update id="updateAll" parameterType="com.efuture.model.AmcProfileModel">
    <foreach collection="list" item="item" separator=";">
      update amcprofile
      <set>
        <!--    <if test="item.memberId != null">-->
        <!--        memberId = #{item.memberId,jdbcType=VARCHAR},-->
        <!--    </if>-->
        <if test="item.membershipExpireDate != null">
          membershipExpireDate = #{item.membershipExpireDate,jdbcType=TIMESTAMP},
        </if>
        <if test="item.bonusPointLastMonth != null">
          bonusPointLastMonth = #{item.bonusPointLastMonth,jdbcType=DECIMAL},
        </if>
        <if test="item.bonusPointThisMonth != null">
          bonusPointThisMonth = #{item.bonusPointThisMonth,jdbcType=DECIMAL},
        </if>
        <if test="item.bonusPointUsed != null">
          bonusPointUsed = #{item.bonusPointUsed,jdbcType=DECIMAL},
        </if>
        <if test="item.bonusPointExpireDate != null">
          bonusPointExpireDate = #{item.bonusPointExpireDate,jdbcType=DECIMAL},
        </if>
        <if test="item.BonusPoint != null">
          BonusPoint = #{item.BonusPoint,jdbcType=DECIMAL},
        </if>
        <if test="item.status != null">
          status = #{item.status,jdbcType=CHAR},
        </if>
        <if test="item.bonusPointToBeExpired != null">
          bonusPointToBeExpired = #{item.bonusPointToBeExpired,jdbcType=DECIMAL},
        </if>
        <if test="item.estamp != null">
          estamp = #{item.estamp,jdbcType=CHAR},
        </if>
        <if test="item.filler1 != null">
          filler1 = #{item.filler1,jdbcType=VARCHAR},
        </if>
<!--        <if test="item.filler2 != null">-->
<!--          filler2 = #{item.filler2,jdbcType=VARCHAR},-->
<!--        </if>-->
        <if test="item.filler3 != null">
          filler3 = #{item.filler3,jdbcType=VARCHAR},
        </if>
        <if test="item.filler4 != null">
          filler4 = #{item.filler4,jdbcType=VARCHAR},
        </if>
        <if test="item.filler5 != null">
          filler5 = #{item.filler5,jdbcType=VARCHAR},
        </if>
        <if test="item.filler6 != null">
          filler6 = #{item.filler6,jdbcType=VARCHAR},
        </if>
        <if test="item.filler7 != null">
          filler7 = #{item.filler7,jdbcType=VARCHAR},
        </if>
        <if test="item.filler8 != null">
          filler8 = #{item.filler8,jdbcType=VARCHAR},
        </if>
        <if test="item.updateDate != null">
          updateDate = #{item.updateDate,jdbcType=TIMESTAMP},
        </if>
      </set>
      where memberId = #{item.memberId,jdbcType=VARCHAR}
            and filler2 = #{item.filler2,jdbcType=VARCHAR}
    </foreach>
  </update>

  <insert id="insert" parameterType="com.efuture.model.AmcProfileModel">
    insert into amcprofile (id, memberId, membershipExpireDate, 
      bonusPointLastMonth, bonusPointThisMonth, 
      bonusPointUsed, bonusPointExpireDate, BonusPoint, 
      status, bonusPointToBeExpired, estamp, 
      filler1, filler2, filler3, 
      filler4, filler5, filler6, 
      filler7, filler8, updateDate
      )
    values (#{id,jdbcType=BIGINT}, #{memberId,jdbcType=VARCHAR}, #{membershipExpireDate,jdbcType=TIMESTAMP}, 
      #{bonusPointLastMonth,jdbcType=DECIMAL}, #{bonusPointThisMonth,jdbcType=DECIMAL}, 
      #{bonusPointUsed,jdbcType=DECIMAL}, #{bonusPointExpireDate,jdbcType=DECIMAL}, #{BonusPoint,jdbcType=DECIMAL}, 
      #{status,jdbcType=CHAR}, #{bonusPointToBeExpired,jdbcType=DECIMAL}, #{estamp,jdbcType=CHAR}, 
      #{filler1,jdbcType=VARCHAR}, #{filler2,jdbcType=VARCHAR}, #{filler3,jdbcType=VARCHAR}, 
      #{filler4,jdbcType=VARCHAR}, #{filler5,jdbcType=VARCHAR}, #{filler6,jdbcType=VARCHAR}, 
      #{filler7,jdbcType=VARCHAR}, #{filler8,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="update" parameterType="com.efuture.model.AmcProfileModel">
    update amcprofile
    <set>
<!--      <if test="memberId != null">-->
<!--        memberId = #{memberId,jdbcType=VARCHAR},-->
<!--      </if>-->
      <if test="membershipExpireDate != null">
        membershipExpireDate = #{membershipExpireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bonusPointLastMonth != null">
        bonusPointLastMonth = #{bonusPointLastMonth,jdbcType=DECIMAL},
      </if>
      <if test="bonusPointThisMonth != null">
        bonusPointThisMonth = #{bonusPointThisMonth,jdbcType=DECIMAL},
      </if>
      <if test="bonusPointUsed != null">
        bonusPointUsed = #{bonusPointUsed,jdbcType=DECIMAL},
      </if>
      <if test="bonusPointExpireDate != null">
        bonusPointExpireDate = #{bonusPointExpireDate,jdbcType=DECIMAL},
      </if>
      <if test="BonusPoint != null">
        BonusPoint = #{BonusPoint,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="bonusPointToBeExpired != null">
        bonusPointToBeExpired = #{bonusPointToBeExpired,jdbcType=DECIMAL},
      </if>
      <if test="estamp != null">
        estamp = #{estamp,jdbcType=CHAR},
      </if>
      <if test="filler1 != null">
        filler1 = #{filler1,jdbcType=VARCHAR},
      </if>
<!--      <if test="filler2 != null">-->
<!--        filler2 = #{filler2,jdbcType=VARCHAR},-->
<!--      </if>-->
      <if test="filler3 != null">
        filler3 = #{filler3,jdbcType=VARCHAR},
      </if>
      <if test="filler4 != null">
        filler4 = #{filler4,jdbcType=VARCHAR},
      </if>
      <if test="filler5 != null">
        filler5 = #{filler5,jdbcType=VARCHAR},
      </if>
      <if test="filler6 != null">
        filler6 = #{filler6,jdbcType=VARCHAR},
      </if>
      <if test="filler7 != null">
        filler7 = #{filler7,jdbcType=VARCHAR},
      </if>
      <if test="filler8 != null">
        filler8 = #{filler8,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        updateDate = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where memberId = #{memberId,jdbcType=VARCHAR}
        and filler2 = #{filler2,jdbcType=VARCHAR}
  </update>

</mapper>