<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ErrorLogModelMapper">
  <resultMap id="BaseResultMap" type="com.efuture.model.ErrorLogModel">
    <result column="errorId" jdbcType="BIGINT" property="errorId" />
    <result column="tableName" jdbcType="VARCHAR" property="tableName" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="operatorType" jdbcType="VARCHAR" property="operatorType" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="paramType" jdbcType="VARCHAR" property="paramType" />
    <result column="param" jdbcType="LONGVARCHAR" property="param" />
    <result column="errorMsg" jdbcType="LONGVARCHAR" property="errorMsg" />
  </resultMap>

  <!--1.查询待删除的数据 -->
  <select id="queryDeleteGoodsCode" parameterType="map" resultType="String">
    select goodsCode from goods_delete where status = 0 limit ${pageSize}
  </select>
  <!--2.删除三张核心表 -->
  <delete id="deleteGoods" parameterType="map">
    delete from goods where goodsCode in
    <foreach collection="values" index="index" item="item" open="(" separator="," close=")">
      '${item}'
    </foreach>;
    delete from goodsshopref where goodsCode in
    <foreach collection="values" index="index" item="item" open="(" separator="," close=")">
      '${item}'
    </foreach>;
    delete from aeonmorebarno where goodsCode in
    <foreach collection="values" index="index" item="item" open="(" separator="," close=")">
      '${item}'
    </foreach>;
    insert into salegoods_log_delete select * from salegoods where goodsCode in
    <foreach collection="values" item="item" index="index"  open="(" separator="," close=")">
      '${item}'
    </foreach>;
    delete from salegoods where goodsCode in
    <foreach collection="values" item="item" index="index"  open="(" separator="," close=")">
      '${item}'
    </foreach>;
  </delete>
  <!--3.更新待删除的数据处理状态 -->
  <update id="updateStatus" parameterType="map">
    update goods_delete set status = 1 where goodsCode in
    <foreach collection="values" index="index" item="item" open="(" separator="," close=")">
      '${item}'
    </foreach>;
  </update>

  <!--create table `omdmain`.`salegoods_log_delete` like `omdmain`.`salegoods`;-->
  <!--定时删除salegoods -1状态的数据-->
  <select id="queryShopCode" parameterType="map" resultType="String">
    select shopCode from shop where status in (-1,1) and leafFlag = 1
  </select>
  <select id="querySaleGoods" parameterType="map" resultType="long">
    select ssgid from salegoods where shopCode = #{shopCode,jdbcType=VARCHAR} and goodsStatus = -1
        and updateDate &lt;= #{startDate,jdbcType=TIMESTAMP} limit 0,#{pageSize,jdbcType=INTEGER}
  </select>
  <select id="deleteSaleGoods" parameterType="map" resultType="com.alibaba.fastjson.JSONObject">
    insert into salegoods_log_delete select * from salegoods where ssgid in
    <foreach item="item" index="index" collection="values" open="(" separator="," close=")">
      #{item,jdbcType=BIGINT}
    </foreach>;
    delete from salegoods where ssgid in
    <foreach item="item" index="index" collection="values" open="(" separator="," close=")">
      #{item,jdbcType=BIGINT}
    </foreach>
  </select>

  <sql id="Blob_Column_List">
    param, errorMsg
  </sql>
  <insert id="insert" parameterType="com.efuture.model.ErrorLogModel">
    insert into errorlog (errorId, tableName, status, 
      operatorType, createDate, paramType,
      param, errorMsg)
    values (#{errorId,jdbcType=BIGINT}, #{tableName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{operatorType,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{paramType,jdbcType=VARCHAR}, 
      #{param,jdbcType=LONGVARCHAR}, #{errorMsg,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.efuture.model.ErrorLogModel">
    insert into errorlog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="errorId != null">
        errorId,
      </if>
      <if test="tableName != null">
        tableName,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="operatorType != null">
        operatorType,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
      <if test="paramType != null">
        paramType,
      </if>
      <if test="param != null">
        param,
      </if>
      <if test="errorMsg != null">
        errorMsg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="errorId != null">
        #{errorId,jdbcType=BIGINT},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="operatorType != null">
        #{operatorType,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="paramType != null">
        #{paramType,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
        #{param,jdbcType=LONGVARCHAR},
      </if>
      <if test="errorMsg != null">
        #{errorMsg,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>