<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ExtCategoryModelMapper">
  <update id="update" parameterType="JSONObject">
    update extcategory
    <set>
      <if test="entId != null">
        entId = #{entId,jdbcType=BIGINT},
      </if>
      <if test="erpCode != null">
        erpCode = #{erpCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null">
        categoryCode = #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        categoryName = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categorLevel != null">
        categorLevel = #{categorLevel,jdbcType=VARCHAR},
      </if>
      <!--<if test="parentId != null">
          parentId = #{parentId,jdbcType=BIGINT},
      </if>-->
      <if test="parentCode != null">
        parentCode = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryStatus != null">
        categoryStatus = #{categoryStatus,jdbcType=INTEGER},
      </if>
      <if test="dmsValue != null">
        dmsValue = #{dmsValue,jdbcType=DOUBLE},
      </if>
      <if test="saleQuotaDays != null">
        saleQuotaDays = #{saleQuotaDays,jdbcType=INTEGER},
      </if>
      <if test="standardSaleDays != null">
        standardSaleDays = #{standardSaleDays,jdbcType=INTEGER},
      </if>
      <if test="trySaleDays != null">
        trySaleDays = #{trySaleDays,jdbcType=INTEGER},
      </if>
      <if test="safeStockDays != null">
        safeStockDays = #{safeStockDays,jdbcType=INTEGER},
      </if>
      <if test="minStockDays != null">
        minStockDays = #{minStockDays,jdbcType=INTEGER},
      </if>
      <if test="maxStockDays != null">
        maxStockDays = #{maxStockDays,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <!-- <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if> -->
      <if test="leafFlag != null">
        leafFlag = #{leafFlag,jdbcType=BIT},
      </if>
      <if test="sourceFromCode != null">
        sourceFromCode = #{sourceFromCode,jdbcType=VARCHAR},
      </if>
      <if test="dealStatus != null">
        dealStatus = #{dealStatus,jdbcType=INTEGER},
      </if>
      <if test="lang != null">
        lang = #{lang,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        updateDate = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <!-- <if test="license != null">
        license = #{license,jdbcType=SMALLINT},
      </if> -->
      <if test="manageCategoryCode != null">
        manageCategoryCode = #{manageCategoryCode,jdbcType=VARCHAR},
      </if>
    </set>
    where categoryCode = #{categoryCode} and entId = #{entId} and erpCode = #{erpCode} and level = #{level}
  </update>

  <!--<update id="updateDealStatus" parameterType="map">
    update extcategory
    set
      dealStatus = 2
    where ecategoryId = #{ecategoryId}
  </update>-->

  <!--<delete id="delete" parameterType="ExtCategoryModel">
    delete from extcategory
    where categoryCode in
    <foreach collection="list" item="item" separator="or">
      #{item}
    </foreach>
  </delete>-->

  <!--<select id="select" resultType="JSONObject">
    select ecategoryId, entId, erpCode, categoryCode, categoryName, categorLevel, parentId,
      parentCode, categoryStatus, dmsValue, saleQuotaDays, standardSaleDays, trySaleDays,
      safeStockDays, minStockDays, maxStockDays, remark, status, level, leafFlag, sourceFromCode,
      lang, creator, createDate, modifier, updateDate
    from extcategory
    where dealStatus = 0;
  </select>-->

  <select id="count" parameterType="JSONObject" resultType="long">
    select count(*)
    from extcategory
    where categoryCode = #{categoryCode} and entId = #{entId} and erpCode = #{erpCode}
  </select>

  <insert id="insertAll" parameterType="JSONObject">
    insert into extcategory (ecategoryId, entId, erpCode,
    categoryCode, categoryName, categorLevel,
    parentId, parentCode, categoryStatus,
    dmsValue, saleQuotaDays, standardSaleDays,
    trySaleDays, safeStockDays, minStockDays,
    maxStockDays, remark, status,
    level, leafFlag, lang,
    creator, createDate, modifier,
    updateDate, <!--license,--> manageCategoryCode,
    dealStatus)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.ecategoryId,jdbcType=BIGINT}, #{item.entId,jdbcType=BIGINT}, #{item.erpCode,jdbcType=VARCHAR},
      #{item.categoryCode,jdbcType=VARCHAR}, #{item.categoryName,jdbcType=VARCHAR}, #{item.categorLevel,jdbcType=VARCHAR},
      #{item.parentId,jdbcType=BIGINT}, #{item.parentCode,jdbcType=VARCHAR}, #{item.categoryStatus,jdbcType=INTEGER},
      #{item.dmsValue,jdbcType=DOUBLE}, #{item.saleQuotaDays,jdbcType=INTEGER}, #{item.standardSaleDays,jdbcType=INTEGER},
      #{item.trySaleDays,jdbcType=INTEGER}, #{item.safeStockDays,jdbcType=INTEGER}, #{item.minStockDays,jdbcType=INTEGER},
      #{item.maxStockDays,jdbcType=INTEGER}, #{item.remark,jdbcType=VARCHAR}, #{item.status,jdbcType=SMALLINT},
      #{item.level,jdbcType=SMALLINT}, #{item.leafFlag,jdbcType=BIT}, #{item.lang,jdbcType=VARCHAR},
      #{item.creator,jdbcType=VARCHAR}, #{item.createDate,jdbcType=TIMESTAMP}, #{item.modifier,jdbcType=VARCHAR},
      #{item.updateDate,jdbcType=TIMESTAMP}, <!--#{item.license,jdbcType=SMALLINT}, -->#{item.manageCategoryCode,jdbcType=VARCHAR},
      #{item.dealStatus,jdbcType=INTEGER})
    </foreach>
  </insert>

  <insert id="insert" parameterType="JSONObject">
    insert into extcategory (ecategoryId, entId, erpCode,
      categoryCode, categoryName, categorLevel,
      parentId, parentCode, categoryStatus,
      dmsValue, saleQuotaDays, standardSaleDays,
      trySaleDays, safeStockDays, minStockDays,
      maxStockDays, remark, status,
      level, leafFlag, sourceFromCode,
      dealStatus, lang, creator,
      createDate, modifier, updateDate,
      manageCategoryCode
      )
    values (#{ecategoryId,jdbcType=BIGINT}, #{entId,jdbcType=BIGINT}, #{erpCode,jdbcType=VARCHAR},
      #{categoryCode,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR}, #{categorLevel,jdbcType=VARCHAR},
      #{parentId,jdbcType=BIGINT}, #{parentCode,jdbcType=VARCHAR}, #{categoryStatus,jdbcType=INTEGER},
      #{dmsValue,jdbcType=DOUBLE}, #{saleQuotaDays,jdbcType=INTEGER}, #{standardSaleDays,jdbcType=INTEGER},
      #{trySaleDays,jdbcType=INTEGER}, #{safeStockDays,jdbcType=INTEGER}, #{minStockDays,jdbcType=INTEGER},
      #{maxStockDays,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{level,jdbcType=INTEGER}, #{leafFlag,jdbcType=BIT}, #{sourceFromCode,jdbcType=VARCHAR},
      #{dealStatus,jdbcType=INTEGER}, #{lang,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},
      #{manageCategoryCode,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateAll" parameterType="JSONObject">
  	 <foreach collection="list" item="item" separator=";">
		update extcategory
		<set>
			<if test="item.entId != null">
				entId = #{item.entId,jdbcType=BIGINT},
			</if>
			<if test="item.erpCode != null">
				erpCode = #{item.erpCode,jdbcType=VARCHAR},
			</if>
			<if test="item.categoryCode != null">
				categoryCode = #{item.categoryCode,jdbcType=VARCHAR},
			</if>
			<if test="item.categoryName != null">
				categoryName = #{item.categoryName,jdbcType=VARCHAR},
			</if>
			<if test="item.categorLevel != null">
				categorLevel = #{item.categorLevel,jdbcType=VARCHAR},
			</if>
			<!--<if test="parentId != null"> parentId = #{parentId,jdbcType=BIGINT}, 
				</if> -->
			<if test="item.parentCode != null">
				parentCode = #{item.parentCode,jdbcType=VARCHAR},
			</if>
			<if test="item.categoryStatus != null">
				categoryStatus = #{item.categoryStatus,jdbcType=INTEGER},
			</if>
			<if test="item.dmsValue != null">
				dmsValue = #{item.dmsValue,jdbcType=DOUBLE},
			</if>
			<if test="item.saleQuotaDays != null">
				saleQuotaDays = #{item.saleQuotaDays,jdbcType=INTEGER},
			</if>
			<if test="item.standardSaleDays != null">
				standardSaleDays = #{item.standardSaleDays,jdbcType=INTEGER},
			</if>
			<if test="item.trySaleDays != null">
				trySaleDays = #{item.trySaleDays,jdbcType=INTEGER},
			</if>
			<if test="item.safeStockDays != null">
				safeStockDays = #{item.safeStockDays,jdbcType=INTEGER},
			</if>
			<if test="item.minStockDays != null">
				minStockDays = #{item.minStockDays,jdbcType=INTEGER},
			</if>
			<if test="item.maxStockDays != null">
				maxStockDays = #{item.maxStockDays,jdbcType=INTEGER},
			</if>
			<if test="item.remark != null">
				remark = #{item.remark,jdbcType=VARCHAR},
			</if>
			<if test="item.status != null">
				status = #{item.status,jdbcType=INTEGER},
			</if>
			<!-- <if test="item.level != null">
				level = #{item.level,jdbcType=INTEGER},
			</if> -->
			<if test="item.leafFlag != null">
				leafFlag = #{item.leafFlag,jdbcType=BIT},
			</if>
			<if test="item.sourceFromCode != null">
				sourceFromCode = #{item.sourceFromCode,jdbcType=VARCHAR},
			</if>
			<if test="item.dealStatus != null">
				dealStatus = #{item.dealStatus,jdbcType=INTEGER},
			</if>
			<if test="item.lang != null">
				lang = #{item.lang,jdbcType=VARCHAR},
			</if>
			<if test="item.creator != null">
				creator = #{item.creator,jdbcType=VARCHAR},
			</if>
			<if test="item.createDate != null">
				createDate = #{item.createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="item.modifier != null">
				modifier = #{item.modifier,jdbcType=VARCHAR},
			</if>
			<if test="item.updateDate != null">
				updateDate = #{item.updateDate,jdbcType=TIMESTAMP},
			</if>
			<!--<if test="item.license != null">
				license = #{item.license,jdbcType=SMALLINT},
			</if>-->
			<if test="item.manageCategoryCode != null">
				manageCategoryCode = #{item.manageCategoryCode,jdbcType=VARCHAR},
			</if>
		</set>
		where categoryCode = #{item.categoryCode} and entId = #{item.entId} and erpCode = #{item.erpCode} and level = #{item.level}
	 </foreach>
  </update>

</mapper>