<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ExtErpPaymentMethodModelMapper">
	
	<update id="update" parameterType="JSONObject">
		update exterppaymentmethod
		<set>
			<if test="entId != null">
				entId = #{entId,jdbcType=BIGINT},
			</if>
			<if test="erpCode != null">
				erpCode = #{erpCode,jdbcType=VARCHAR},
			</if>
			<!--<if test="parentId != null">
				parentId = #{parentId,jdbcType=BIGINT},
			</if>-->
			<if test="parentCode != null">
				parentCode = #{parentCode,jdbcType=VARCHAR},
			</if>
			<if test="payLevel != null">
				payLevel = #{payLevel,jdbcType=INTEGER},
			</if>
			<if test="payType != null">
				payType = #{payType,jdbcType=VARCHAR},
			</if>
			<if test="virtualPayType != null">
				virtualPayType = #{virtualPayType,jdbcType=SMALLINT},
			</if>
			<if test="payCode != null">
				payCode = #{payCode,jdbcType=VARCHAR},
			</if>
			<if test="paySCode != null">
				paySCode = #{paySCode,jdbcType=VARCHAR},
			</if>
			<if test="payName != null">
				payName = #{payName,jdbcType=VARCHAR},
			</if>
			<if test="payPattern != null">
				payPattern = #{payPattern,jdbcType=VARCHAR},
			</if>
			<if test="rate != null">
				rate = #{rate,jdbcType=DOUBLE},
			</if>
			<if test="changeRate != null">
				changeRate = #{changeRate,jdbcType=DOUBLE},
			</if>
			<if test="minAmount != null">
				minAmount = #{minAmount,jdbcType=DECIMAL},
			</if>
			<if test="maxAmount != null">
				maxAmount = #{maxAmount,jdbcType=DECIMAL},
			</if>
			<if test="roundType != null">
				roundType = #{roundType,jdbcType=VARCHAR},
			</if>
			<if test="roundPrecision != null">
				roundPrecision = #{roundPrecision,jdbcType=DOUBLE},
			</if>
			<if test="overflowFlag != null">
				overflowFlag = #{overflowFlag,jdbcType=BIT},
			</if>
			<if test="changeFlag != null">
				changeFlag = #{changeFlag,jdbcType=BIT},
			</if>
			<if test="recordFlag != null">
				recordFlag = #{recordFlag,jdbcType=BIT},
			</if>
			<if test="invoiceFlag != null">
				invoiceFlag = #{invoiceFlag,jdbcType=BIT},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="level != null">
				level = #{level,jdbcType=INTEGER},
			</if>
			<if test="leafFlag != null">
				leafFlag = #{leafFlag,jdbcType=BIT},
			</if>
			<if test="sourceFromCode != null">
				sourceFromCode = #{sourceFromCode,jdbcType=VARCHAR},
			</if>
			<if test="dealStatus != null">
				dealStatus = #{dealStatus,jdbcType=INTEGER},
			</if>
			<if test="lang != null">
				lang = #{lang,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				createDate = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				modifier = #{modifier,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				updateDate = #{updateDate,jdbcType=TIMESTAMP}
			</if>
		</set>
		where payCode = #{payCode} and entId = #{entId} and erpCode = #{erpCode}
	</update>

    <!--<update id="updateDealStatus" parameterType="map">
      update exterppaymentmethod
      set
        dealStatus = 2
      where entId = #{entId} and erpCode = #{erpCode} and payCode = #{payCode}
    </update>

    <delete id="delete" parameterType="ExtErpPaymentMethodModel">
      delete from exterppaymentmethod
      where payCode in
      <foreach collection="list" item="item" separator="or">
        #{item}
      </foreach>
    </delete>-->

    <select id="count" parameterType="JSONObject" resultType="long">
        select count(*)
        from exterppaymentmethod
        where payCode = #{payCode} and entId = #{entId} and erpCode = #{erpCode}
    </select>

    <!--<select id="select" resultType="JSONObject">
      select
        eepmid, entId, erpCode, parentId, parentCode, payLevel, payType, virtualPayType,
        payCode, paySCode, payName, payPattern, rate, changeRate, minAmount, maxAmount, roundType,
        roundPrecision, overflowFlag, changeFlag, recordFlag, invoiceFlag, status, level,
        leafFlag, sourceFromCode, dealStatus, lang, creator, createDate, modifier, updateDate
      from exterppaymentmethod
      where eepmid = #{eepmid,jdbcType=BIGINT}
    </select>-->

    <insert id="insertAll" parameterType="JSONObject">
        insert into exterppaymentmethod (eepmid, entId, erpCode,
        parentId, parentCode, payLevel,
        payType, virtualPayType, payCode,
        paySCode, payName, payPattern,
        rate, changeRate, minAmount,
        maxAmount, roundType, roundPrecision,
        overflowFlag, changeFlag, recordFlag,
        invoiceFlag, status, level,
        leafFlag, sourceFromCode, dealStatus,
        lang, creator, createDate,
        modifier, updateDate)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.eepmid,jdbcType=BIGINT}, #{item.entId,jdbcType=BIGINT}, #{item.erpCode,jdbcType=VARCHAR},
            #{item.parentId,jdbcType=BIGINT}, #{item.parentCode,jdbcType=VARCHAR}, #{item.payLevel,jdbcType=INTEGER},
            #{item.payType,jdbcType=VARCHAR}, #{item.virtualPayType,jdbcType=SMALLINT},
            #{item.payCode,jdbcType=VARCHAR},
            #{item.paySCode,jdbcType=VARCHAR}, #{item.payName,jdbcType=VARCHAR}, #{item.payPattern,jdbcType=VARCHAR},
            #{item.rate,jdbcType=DOUBLE}, #{item.changeRate,jdbcType=DOUBLE}, #{item.minAmount,jdbcType=DECIMAL},
            #{item.maxAmount,jdbcType=DECIMAL}, #{item.roundType,jdbcType=VARCHAR},
            #{item.roundPrecision,jdbcType=DOUBLE},
            #{item.overflowFlag,jdbcType=BIT}, #{item.changeFlag,jdbcType=BIT}, #{item.recordFlag,jdbcType=BIT},
            #{item.invoiceFlag,jdbcType=BIT}, #{item.status,jdbcType=INTEGER}, #{item.level,jdbcType=INTEGER},
            #{item.leafFlag,jdbcType=BIT}, #{item.sourceFromCode,jdbcType=VARCHAR}, #{item.dealStatus,jdbcType=INTEGER},
            #{item.lang,jdbcType=VARCHAR}, #{item.creator,jdbcType=VARCHAR}, #{item.createDate,jdbcType=TIMESTAMP},
            #{item.modifier,jdbcType=VARCHAR}, #{item.updateDate,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    
    <insert id="insert" parameterType="JSONObject">
    	insert into exterppaymentmethod (eepmid, entId, erpCode,
        parentId, parentCode, payLevel,
        payType, virtualPayType, payCode,
        paySCode, payName, payPattern,
        rate, changeRate, minAmount,
        maxAmount, roundType, roundPrecision,
        overflowFlag, changeFlag, recordFlag,
        invoiceFlag, status, level,
        leafFlag, sourceFromCode, dealStatus,
        lang, creator, createDate,
        modifier, updateDate)
        values
            (#{eepmid,jdbcType=BIGINT}, #{entId,jdbcType=BIGINT}, #{erpCode,jdbcType=VARCHAR},
            #{parentId,jdbcType=BIGINT}, #{parentCode,jdbcType=VARCHAR}, #{payLevel,jdbcType=INTEGER},
            #{payType,jdbcType=VARCHAR}, #{virtualPayType,jdbcType=SMALLINT},#{payCode,jdbcType=VARCHAR},
            #{paySCode,jdbcType=VARCHAR}, #{payName,jdbcType=VARCHAR}, #{payPattern,jdbcType=VARCHAR},
            #{rate,jdbcType=DOUBLE}, #{changeRate,jdbcType=DOUBLE}, #{minAmount,jdbcType=DECIMAL},
            #{maxAmount,jdbcType=DECIMAL}, #{roundType,jdbcType=VARCHAR},#{roundPrecision,jdbcType=DOUBLE},
            #{overflowFlag,jdbcType=BIT}, #{changeFlag,jdbcType=BIT}, #{recordFlag,jdbcType=BIT},
            #{invoiceFlag,jdbcType=BIT}, #{status,jdbcType=INTEGER}, #{level,jdbcType=INTEGER},
            #{leafFlag,jdbcType=BIT}, #{sourceFromCode,jdbcType=VARCHAR}, #{dealStatus,jdbcType=INTEGER},
            #{lang,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
            #{modifier,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP})
    </insert>

	<update id="updateAll" parameterType="JSONObject">
		<foreach collection="list" item="item" separator=";">
			update exterppaymentmethod
			<set>
				<if test="item.entId != null">
					entId = #{item.entId,jdbcType=BIGINT},
				</if>
				<if test="item.erpCode != null">
					erpCode = #{item.erpCode,jdbcType=VARCHAR},
				</if>
				<!--<if test="parentId != null">
					parentId = #{parentId,jdbcType=BIGINT},
				</if>-->
				<if test="item.parentCode != null">
					parentCode = #{item.parentCode,jdbcType=VARCHAR},
				</if>
				<if test="item.payLevel != null">
					payLevel = #{item.payLevel,jdbcType=INTEGER},
				</if>
				<if test="item.payType != null">
					payType = #{item.payType,jdbcType=VARCHAR},
				</if>
				<if test="item.virtualPayType != null">
					virtualPayType = #{item.virtualPayType,jdbcType=SMALLINT},
				</if>
				<if test="item.payCode != null">
					payCode = #{item.payCode,jdbcType=VARCHAR},
				</if>
				<if test="item.paySCode != null">
					paySCode = #{item.paySCode,jdbcType=VARCHAR},
				</if>
				<if test="item.payName != null">
					payName = #{item.payName,jdbcType=VARCHAR},
				</if>
				<if test="item.payPattern != null">
					payPattern = #{item.payPattern,jdbcType=VARCHAR},
				</if>
				<if test="item.rate != null">
					rate = #{item.rate,jdbcType=DOUBLE},
				</if>
				<if test="item.changeRate != null">
					changeRate = #{item.changeRate,jdbcType=DOUBLE},
				</if>
				<if test="item.minAmount != null">
					minAmount = #{item.minAmount,jdbcType=DECIMAL},
				</if>
				<if test="item.maxAmount != null">
					maxAmount = #{item.maxAmount,jdbcType=DECIMAL},
				</if>
				<if test="item.roundType != null">
					roundType = #{item.roundType,jdbcType=VARCHAR},
				</if>
				<if test="item.roundPrecision != null">
					roundPrecision = #{item.roundPrecision,jdbcType=DOUBLE},
				</if>
				<if test="item.overflowFlag != null">
					overflowFlag = #{item.overflowFlag,jdbcType=BIT},
				</if>
				<if test="item.changeFlag != null">
					changeFlag = #{item.changeFlag,jdbcType=BIT},
				</if>
				<if test="item.recordFlag != null">
					recordFlag = #{item.recordFlag,jdbcType=BIT},
				</if>
				<if test="item.invoiceFlag != null">
					invoiceFlag = #{item.invoiceFlag,jdbcType=BIT},
				</if>
				<if test="item.status != null">
					status = #{item.status,jdbcType=INTEGER},
				</if>
				<if test="item.level != null">
					level = #{item.level,jdbcType=INTEGER},
				</if>
				<if test="item.leafFlag != null">
					leafFlag = #{item.leafFlag,jdbcType=BIT},
				</if>
				<if test="item.sourceFromCode != null">
					sourceFromCode = #{item.sourceFromCode,jdbcType=VARCHAR},
				</if>
				<if test="item.dealStatus != null">
					dealStatus = #{item.dealStatus,jdbcType=INTEGER},
				</if>
				<if test="item.lang != null">
					lang = #{item.lang,jdbcType=VARCHAR},
				</if>
				<if test="item.creator != null">
					creator = #{item.creator,jdbcType=VARCHAR},
				</if>
				<if test="item.createDate != null">
					createDate = #{item.createDate,jdbcType=TIMESTAMP},
				</if>
				<if test="item.modifier != null">
					modifier = #{item.modifier,jdbcType=VARCHAR},
				</if>
				<if test="item.updateDate != null">
					updateDate = #{item.updateDate,jdbcType=TIMESTAMP}
				</if>
			</set>
			where payCode = #{item.payCode} and entId = #{item.entId} and erpCode = #{item.erpCode}
		</foreach>
	</update>
</mapper>