<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ExtGoodsModelMapper">
    <update id="update" parameterType="JSONObject">
        update extgoods
        <set>
            <if test="entId != null">
                entId = #{entId,jdbcType=BIGINT},
            </if>
            <if test="erpCode != null">
                erpCode = #{erpCode,jdbcType=VARCHAR},
            </if>
            <if test="goodsType != null">
                goodsType = #{goodsType,jdbcType=INTEGER},
            </if>
            <if test="directFromErp != null">
                directFromErp = #{directFromErp,jdbcType=BIT},
            </if>
            <if test="singleItemFlag != null">
                singleItemFlag = #{singleItemFlag,jdbcType=BIT},
            </if>
            <if test="canSaleFlag != null">
                canSaleFlag = #{canSaleFlag,jdbcType=BIT},
            </if>
            <if test="goodsCode != null">
                goodsCode = #{goodsCode,jdbcType=VARCHAR},
            </if>
            <if test="parentGoodsCode != null">
                parentGoodsCode = #{parentGoodsCode,jdbcType=VARCHAR},
            </if>
            <if test="goodsName != null">
                goodsName = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsDisplayName != null">
                goodsDisplayName = #{goodsDisplayName,jdbcType=VARCHAR},
            </if>
            <if test="fullName != null">
                fullName = #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="enSname != null">
                enSname = #{enSname,jdbcType=VARCHAR},
            </if>
            <if test="enFname != null">
                enFname = #{enFname,jdbcType=VARCHAR},
            </if>
            <if test="barNo != null">
                barNo = #{barNo,jdbcType=VARCHAR},
            </if>
            <if test="salePrice != null">
                salePrice = #{salePrice,jdbcType=DECIMAL},
            </if>
            <if test="refPrice != null">
                refPrice = #{refPrice,jdbcType=DECIMAL},
            </if>
            <if test="minSalePrice != null">
                minSalePrice = #{minSalePrice,jdbcType=DECIMAL},
            </if>
            <if test="minDiscount != null">
                minDiscount = #{minDiscount,jdbcType=REAL},
            </if>
            <if test="memberPrice != null">
                memberPrice = #{memberPrice,jdbcType=DECIMAL},
            </if>
            <if test="primeCost != null">
                primeCost = #{primeCost,jdbcType=DECIMAL},
            </if>
            <if test="goodsFromCode != null">
                goodsFromCode = #{goodsFromCode,jdbcType=VARCHAR},
            </if>
            <if test="measureUnit != null">
                measureUnit = #{measureUnit,jdbcType=VARCHAR},
            </if>
            <if test="saleUnit != null">
                saleUnit = #{saleUnit,jdbcType=VARCHAR},
            </if>
            <if test="partsNum != null">
                partsNum = #{partsNum,jdbcType=DOUBLE},
            </if>
            <if test="partsUnit != null">
                partsUnit = #{partsUnit,jdbcType=VARCHAR},
            </if>
            <if test="categoryId != null">
                categoryId = #{categoryId,jdbcType=BIGINT},
            </if>
            <if test="categoryCode != null">
                categoryCode = #{categoryCode,jdbcType=VARCHAR},
            </if>
            <if test="brandId != null">
                brandId = #{brandId,jdbcType=BIGINT},
            </if>
            <if test="brandCode != null">
                brandCode = #{brandCode,jdbcType=VARCHAR},
            </if>
            <if test="artNo != null">
                artNo = #{artNo,jdbcType=VARCHAR},
            </if>
            <if test="textture != null">
                textture = #{textture,jdbcType=VARCHAR},
            </if>
            <if test="originArea != null">
                originArea = #{originArea,jdbcType=VARCHAR},
            </if>
            <if test="nweight != null">
                nweight = #{nweight,jdbcType=DOUBLE},
            </if>
            <if test="rweight != null">
                rweight = #{rweight,jdbcType=DOUBLE},
            </if>
            <if test="qaDays != null">
                qaDays = #{qaDays,jdbcType=INTEGER},
            </if>
            <if test="qaDaysUnit != null">
                qaDaysUnit = #{qaDaysUnit,jdbcType=SMALLINT},
            </if>
            <if test="waterDamage != null">
                waterDamage = #{waterDamage,jdbcType=REAL},
            </if>
            <if test="lowTemp != null">
                lowTemp = #{lowTemp,jdbcType=REAL},
            </if>
            <if test="highTemp != null">
                highTemp = #{highTemp,jdbcType=REAL},
            </if>
            <if test="inputTax != null">
                inputTax = #{inputTax,jdbcType=REAL},
            </if>
            <if test="outputTax != null">
                outputTax = #{outputTax,jdbcType=REAL},
            </if>
            <if test="consumpTax != null">
                consumpTax = #{consumpTax,jdbcType=REAL},
            </if>
            <if test="longScale != null">
                longScale = #{longScale,jdbcType=INTEGER},
            </if>
            <if test="wideScale != null">
                wideScale = #{wideScale,jdbcType=INTEGER},
            </if>
            <if test="highScale != null">
                highScale = #{highScale,jdbcType=INTEGER},
            </if>
            <if test="goodsGrade != null">
                goodsGrade = #{goodsGrade,jdbcType=VARCHAR},
            </if>
            <if test="orderSpec != null">
                orderSpec = #{orderSpec,jdbcType=VARCHAR},
            </if>
            <if test="orderUnit != null">
                orderUnit = #{orderUnit,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                orderNum = #{orderNum,jdbcType=INTEGER},
            </if>
            <if test="safeStockDays != null">
                safeStockDays = #{safeStockDays,jdbcType=INTEGER},
            </if>
            <if test="minStockDays != null">
                minStockDays = #{minStockDays,jdbcType=INTEGER},
            </if>
            <if test="maxStockDays != null">
                maxStockDays = #{maxStockDays,jdbcType=INTEGER},
            </if>
            <if test="isPercious != null">
                isPercious = #{isPercious,jdbcType=BIT},
            </if>
            <if test="coldTransFlag != null">
                coldTransFlag = #{coldTransFlag,jdbcType=BIT},
            </if>
            <if test="escaleFlag != null">
                escaleFlag = #{escaleFlag,jdbcType=BIT},
            </if>
            <if test="timesFlag != null">
                timesFlag = #{timesFlag,jdbcType=SMALLINT},
            </if>
            <if test="season != null">
                season = #{season,jdbcType=VARCHAR},
            </if>
            <if test="isBatch != null">
                isBatch = #{isBatch,jdbcType=BIT},
            </if>
            <if test="controlFlag != null">
                controlFlag = #{controlFlag,jdbcType=BIT},
            </if>
            <if test="recycleFee != null">
                recycleFee = #{recycleFee,jdbcType=DECIMAL},
            </if>
            <if test="multiUnitFlag != null">
                multiUnitFlag = #{multiUnitFlag,jdbcType=BIT},
            </if>
            <if test="goodsStatus != null">
                goodsStatus = #{goodsStatus,jdbcType=SMALLINT},
            </if>
            <if test="lang != null">
                lang = #{lang,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                createDate = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                updateDate = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="dealStatus != null">
                dealStatus = #{dealStatus,jdbcType=INTEGER},
            </if>
            <if test="venderCode != null">
            	venderCode = #{venderCode,jdbcType=VARCHAR},
            </if>
            <if test="deliveryFlag != null">
            	deliveryFlag = #{deliveryFlag,jdbcType=SMALLINT},
            </if>
        </set>
        where goodsCode = #{goodsCode} and entId = #{entId} and erpCode = #{erpCode}
        <!--entId = #{entId} and erpCode = #{erpCode} and goodsCode = #{goodsCode}
        and goodsName = #{goodsName} and brandCode = #{brandCode}-->
    </update>


    <select id="count" parameterType="JSONObject" resultType="long">
        select count(*)
        from extgoods
        where goodsCode = #{goodsCode} and entId = #{entId} and erpCode = #{erpCode}
    </select>

    <insert id="insertAll" parameterType="JSONObject">
        insert into extgoods (egid, entId, erpCode,
        goodsType, directFromErp, singleItemFlag,
        canSaleFlag, goodsCode, parentGoodsCode,
        goodsName, goodsDisplayName, fullName,
        enSname, enFname, barNo,
        salePrice, refPrice, minSalePrice,
        minDiscount, memberPrice, primeCost,
        goodsFromCode, measureUnit, saleUnit,
        partsNum, partsUnit, categoryId,
        categoryCode, brandId, brandCode,
        artNo, textture, originArea,
        nweight, rweight, qaDays,
        qaDaysUnit, waterDamage, lowTemp,
        highTemp, inputTax, outputTax,
        consumpTax, longScale, wideScale,
        highScale, goodsGrade, orderSpec,
        orderUnit, orderNum, safeStockDays,
        minStockDays, maxStockDays, isPercious,
        coldTransFlag, escaleFlag, timesFlag,
        season, isBatch, controlFlag,
        recycleFee, multiUnitFlag, goodsStatus,
        lang, creator, createDate,
        modifier, updateDate, dealStatus,venderCode,deliveryFlag<!--,saleSpec-->)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.egid,jdbcType=BIGINT}, #{item.entId,jdbcType=BIGINT}, #{item.erpCode,jdbcType=VARCHAR},
            #{item.goodsType,jdbcType=INTEGER}, #{item.directFromErp,jdbcType=BIT}, #{item.singleItemFlag,jdbcType=BIT},
            #{item.canSaleFlag,jdbcType=BIT}, #{item.goodsCode,jdbcType=VARCHAR},
            #{item.parentGoodsCode,jdbcType=VARCHAR},
            #{item.goodsName,jdbcType=VARCHAR}, #{item.goodsDisplayName,jdbcType=VARCHAR},
            #{item.fullName,jdbcType=VARCHAR},
            #{item.enSname,jdbcType=VARCHAR}, #{item.enFname,jdbcType=VARCHAR}, #{item.barNo,jdbcType=VARCHAR},
            #{item.salePrice,jdbcType=DECIMAL}, #{item.refPrice,jdbcType=DECIMAL},
            #{item.minSalePrice,jdbcType=DECIMAL},
            #{item.minDiscount,jdbcType=REAL}, #{item.memberPrice,jdbcType=DECIMAL}, #{item.primeCost,jdbcType=DECIMAL},
            #{item.goodsFromCode,jdbcType=VARCHAR}, #{item.measureUnit,jdbcType=VARCHAR},
            #{item.saleUnit,jdbcType=VARCHAR},
            #{item.partsNum,jdbcType=DOUBLE}, #{item.partsUnit,jdbcType=VARCHAR}, #{item.categoryId,jdbcType=BIGINT},
            #{item.categoryCode,jdbcType=VARCHAR}, #{item.brandId,jdbcType=BIGINT}, #{item.brandCode,jdbcType=VARCHAR},
            #{item.artNo,jdbcType=VARCHAR}, #{item.textture,jdbcType=VARCHAR}, #{item.originArea,jdbcType=VARCHAR},
            #{item.nweight,jdbcType=DOUBLE}, #{item.rweight,jdbcType=DOUBLE}, #{item.qaDays,jdbcType=INTEGER},
            #{item.qaDaysUnit,jdbcType=SMALLINT}, #{item.waterDamage,jdbcType=REAL}, #{item.lowTemp,jdbcType=REAL},
            #{item.highTemp,jdbcType=REAL}, #{item.inputTax,jdbcType=REAL}, #{item.outputTax,jdbcType=REAL},
            #{item.consumpTax,jdbcType=REAL}, #{item.longScale,jdbcType=INTEGER}, #{item.wideScale,jdbcType=INTEGER},
            #{item.highScale,jdbcType=INTEGER}, #{item.goodsGrade,jdbcType=VARCHAR}, #{item.orderSpec,jdbcType=VARCHAR},
            #{item.orderUnit,jdbcType=VARCHAR}, #{item.orderNum,jdbcType=INTEGER},
            #{item.safeStockDays,jdbcType=INTEGER},
            #{item.minStockDays,jdbcType=INTEGER}, #{item.maxStockDays,jdbcType=INTEGER},
            #{item.isPercious,jdbcType=BIT},
            #{item.coldTransFlag,jdbcType=BIT}, #{item.escaleFlag,jdbcType=BIT}, #{item.timesFlag,jdbcType=SMALLINT},
            #{item.season,jdbcType=VARCHAR}, #{item.isBatch,jdbcType=BIT}, #{item.controlFlag,jdbcType=BIT},
            #{item.recycleFee,jdbcType=DECIMAL}, #{item.multiUnitFlag,jdbcType=BIT},
            #{item.goodsStatus,jdbcType=SMALLINT},
            #{item.lang,jdbcType=VARCHAR}, #{item.creator,jdbcType=VARCHAR}, #{item.createDate,jdbcType=TIMESTAMP},
            #{item.modifier,jdbcType=VARCHAR}, #{item.updateDate,jdbcType=TIMESTAMP},
            #{item.dealStatus,jdbcType=INTEGER}, #{item.venderCode,jdbcType=VARCHAR}, #{item.deliveryFlag,jdbcType=SMALLINT}<!--, #{item.saleSpec,jdbcType=VARCHAR}-->
            )
        </foreach>
    </insert>

    <insert id="insert" parameterType="JSONObject">
        insert into extgoods (egid, entId, erpCode,
        goodsType, directFromErp, singleItemFlag,
        canSaleFlag, goodsCode, parentGoodsCode,
        goodsName, goodsDisplayName, fullName,
        enSname, enFname, barNo,
        salePrice, refPrice, minSalePrice,
        minDiscount, memberPrice, primeCost,
        goodsFromCode, measureUnit, saleUnit,
        partsNum, partsUnit, categoryId,
        categoryCode, brandId, brandCode,
        artNo, textture, originArea,
        nweight, rweight, qaDays,
        qaDaysUnit, waterDamage, lowTemp,
        highTemp, inputTax, outputTax,
        consumpTax, longScale, wideScale,
        highScale, goodsGrade, orderSpec,
        orderUnit, orderNum, safeStockDays,
        minStockDays, maxStockDays, isPercious,
        coldTransFlag, escaleFlag, timesFlag,
        season, isBatch, controlFlag,
        recycleFee, multiUnitFlag, goodsStatus,
        lang, creator, createDate,
        modifier, updateDate, dealStatus,venderCode,deliveryFlag)
        values
            (#{egid,jdbcType=BIGINT}, #{entId,jdbcType=BIGINT}, #{erpCode,jdbcType=VARCHAR},
            #{goodsType,jdbcType=INTEGER}, #{directFromErp,jdbcType=BIT}, #{singleItemFlag,jdbcType=BIT},
            #{canSaleFlag,jdbcType=BIT}, #{goodsCode,jdbcType=VARCHAR},
            #{parentGoodsCode,jdbcType=VARCHAR},
            #{goodsName,jdbcType=VARCHAR}, #{goodsDisplayName,jdbcType=VARCHAR},
            #{fullName,jdbcType=VARCHAR},
            #{enSname,jdbcType=VARCHAR}, #{enFname,jdbcType=VARCHAR}, #{barNo,jdbcType=VARCHAR},
            #{salePrice,jdbcType=DECIMAL}, #{refPrice,jdbcType=DECIMAL},
            #{minSalePrice,jdbcType=DECIMAL},
            #{minDiscount,jdbcType=REAL}, #{memberPrice,jdbcType=DECIMAL}, #{primeCost,jdbcType=DECIMAL},
            #{goodsFromCode,jdbcType=VARCHAR}, #{measureUnit,jdbcType=VARCHAR},
            #{saleUnit,jdbcType=VARCHAR},
            #{partsNum,jdbcType=DOUBLE}, #{partsUnit,jdbcType=VARCHAR}, #{categoryId,jdbcType=BIGINT},
            #{categoryCode,jdbcType=VARCHAR}, #{brandId,jdbcType=BIGINT}, #{brandCode,jdbcType=VARCHAR},
            #{artNo,jdbcType=VARCHAR}, #{textture,jdbcType=VARCHAR}, #{originArea,jdbcType=VARCHAR},
            #{nweight,jdbcType=DOUBLE}, #{rweight,jdbcType=DOUBLE}, #{qaDays,jdbcType=INTEGER},
            #{qaDaysUnit,jdbcType=SMALLINT}, #{waterDamage,jdbcType=REAL}, #{lowTemp,jdbcType=REAL},
            #{highTemp,jdbcType=REAL}, #{inputTax,jdbcType=REAL}, #{outputTax,jdbcType=REAL},
            #{consumpTax,jdbcType=REAL}, #{longScale,jdbcType=INTEGER}, #{wideScale,jdbcType=INTEGER},
            #{highScale,jdbcType=INTEGER}, #{goodsGrade,jdbcType=VARCHAR}, #{orderSpec,jdbcType=VARCHAR},
            #{orderUnit,jdbcType=VARCHAR}, #{orderNum,jdbcType=INTEGER},
            #{safeStockDays,jdbcType=INTEGER},
            #{minStockDays,jdbcType=INTEGER}, #{maxStockDays,jdbcType=INTEGER},
            #{isPercious,jdbcType=BIT},
            #{coldTransFlag,jdbcType=BIT}, #{escaleFlag,jdbcType=BIT}, #{timesFlag,jdbcType=SMALLINT},
            #{season,jdbcType=VARCHAR}, #{isBatch,jdbcType=BIT}, #{controlFlag,jdbcType=BIT},
            #{recycleFee,jdbcType=DECIMAL}, #{multiUnitFlag,jdbcType=BIT},
            #{goodsStatus,jdbcType=SMALLINT},
            #{lang,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
            #{modifier,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},
            #{dealStatus,jdbcType=INTEGER}, #{venderCode,jdbcType=VARCHAR},#{deliveryFlag,jdbcType=SMALLINT} )
    </insert>
        
	<update id="updateAll" parameterType="JSONObject" >
	  	<foreach collection="list" item="item" separator=";" >
			update extgoods
	        <set>
	            <if test="item.entId != null">
	                entId = #{item.entId,jdbcType=BIGINT},
	            </if>
	            <if test="item.erpCode != null">
	                erpCode = #{item.erpCode,jdbcType=VARCHAR},
	            </if>
	            <if test="item.goodsType != null">
	                goodsType = #{item.goodsType,jdbcType=INTEGER},
	            </if>
	            <if test="item.directFromErp != null">
	                directFromErp = #{item.directFromErp,jdbcType=BIT},
	            </if>
	            <if test="item.singleItemFlag != null">
	                singleItemFlag = #{item.singleItemFlag,jdbcType=BIT},
	            </if>
	            <if test="item.canSaleFlag != null">
	                canSaleFlag = #{item.canSaleFlag,jdbcType=BIT},
	            </if>
	            <if test="item.goodsCode != null">
	                goodsCode = #{item.goodsCode,jdbcType=VARCHAR},
	            </if>
	            <if test="item.parentGoodsCode != null">
	                parentGoodsCode = #{item.parentGoodsCode,jdbcType=VARCHAR},
	            </if>
	            <if test="item.goodsName != null">
	                goodsName = #{item.goodsName,jdbcType=VARCHAR},
	            </if>
	            <if test="item.goodsDisplayName != null">
	                goodsDisplayName = #{item.goodsDisplayName,jdbcType=VARCHAR},
	            </if>
	            <if test="item.fullName != null">
	                fullName = #{item.fullName,jdbcType=VARCHAR},
	            </if>
	            <if test="item.enSname != null">
	                enSname = #{item.enSname,jdbcType=VARCHAR},
	            </if>
	            <if test="item.enFname != null">
	                enFname = #{item.enFname,jdbcType=VARCHAR},
	            </if>
	            <if test="item.barNo != null">
	                barNo = #{item.barNo,jdbcType=VARCHAR},
	            </if>
	            <if test="item.salePrice != null">
	                salePrice = #{item.salePrice,jdbcType=DECIMAL},
	            </if>
	            <if test="item.refPrice != null">
	                refPrice = #{item.refPrice,jdbcType=DECIMAL},
	            </if>
	            <if test="item.minSalePrice != null">
	                minSalePrice = #{item.minSalePrice,jdbcType=DECIMAL},
	            </if>
	            <if test="item.minDiscount != null">
	                minDiscount = #{item.minDiscount,jdbcType=REAL},
	            </if>
	            <if test="item.memberPrice != null">
	                memberPrice = #{item.memberPrice,jdbcType=DECIMAL},
	            </if>
	            <if test="item.primeCost != null">
	                primeCost = #{item.primeCost,jdbcType=DECIMAL},
	            </if>
	            <if test="item.goodsFromCode != null">
	                goodsFromCode = #{item.goodsFromCode,jdbcType=VARCHAR},
	            </if>
	            <if test="item.measureUnit != null">
	                measureUnit = #{item.measureUnit,jdbcType=VARCHAR},
	            </if>
	            <if test="item.saleUnit != null">
	                saleUnit = #{item.saleUnit,jdbcType=VARCHAR},
	            </if>
	            <if test="item.partsNum != null">
	                partsNum = #{item.partsNum,jdbcType=DOUBLE},
	            </if>
	            <if test="item.partsUnit != null">
	                partsUnit = #{item.partsUnit,jdbcType=VARCHAR},
	            </if>
	            <if test="item.categoryId != null">
	                categoryId = #{item.categoryId,jdbcType=BIGINT},
	            </if>
	            <if test="item.categoryCode != null">
	                categoryCode = #{item.categoryCode,jdbcType=VARCHAR},
	            </if>
	            <if test="item.brandId != null">
	                brandId = #{item.brandId,jdbcType=BIGINT},
	            </if>
	            <if test="item.brandCode != null">
	                brandCode = #{item.brandCode,jdbcType=VARCHAR},
	            </if>
	            <if test="item.artNo != null">
	                artNo = #{item.artNo,jdbcType=VARCHAR},
	            </if>
	            <if test="item.textture != null">
	                textture = #{item.textture,jdbcType=VARCHAR},
	            </if>
	            <if test="item.originArea != null">
	                originArea = #{item.originArea,jdbcType=VARCHAR},
	            </if>
	            <if test="item.nweight != null">
	                nweight = #{item.nweight,jdbcType=DOUBLE},
	            </if>
	            <if test="item.rweight != null">
	                rweight = #{item.rweight,jdbcType=DOUBLE},
	            </if>
	            <if test="item.qaDays != null">
	                qaDays = #{item.qaDays,jdbcType=INTEGER},
	            </if>
	            <if test="item.qaDaysUnit != null">
	                qaDaysUnit = #{item.qaDaysUnit,jdbcType=SMALLINT},
	            </if>
	            <if test="item.waterDamage != null">
	                waterDamage = #{item.waterDamage,jdbcType=REAL},
	            </if>
	            <if test="item.lowTemp != null">
	                lowTemp = #{item.lowTemp,jdbcType=REAL},
	            </if>
	            <if test="item.highTemp != null">
	                highTemp = #{item.highTemp,jdbcType=REAL},
	            </if>
	            <if test="item.inputTax != null">
	                inputTax = #{item.inputTax,jdbcType=REAL},
	            </if>
	            <if test="item.outputTax != null">
	                outputTax = #{item.outputTax,jdbcType=REAL},
	            </if>
	            <if test="item.consumpTax != null">
	                consumpTax = #{item.consumpTax,jdbcType=REAL},
	            </if>
	            <if test="item.longScale != null">
	                longScale = #{item.longScale,jdbcType=INTEGER},
	            </if>
	            <if test="item.wideScale != null">
	                wideScale = #{item.wideScale,jdbcType=INTEGER},
	            </if>
	            <if test="item.highScale != null">
	                highScale = #{item.highScale,jdbcType=INTEGER},
	            </if>
	            <if test="item.goodsGrade != null">
	                goodsGrade = #{item.goodsGrade,jdbcType=VARCHAR},
	            </if>
	            <if test="item.orderSpec != null">
	                orderSpec = #{item.orderSpec,jdbcType=VARCHAR},
	            </if>
	            <if test="item.orderUnit != null">
	                orderUnit = #{item.orderUnit,jdbcType=VARCHAR},
	            </if>
	            <if test="item.orderNum != null">
	                orderNum = #{item.orderNum,jdbcType=INTEGER},
	            </if>
	            <if test="item.safeStockDays != null">
	                safeStockDays = #{item.safeStockDays,jdbcType=INTEGER},
	            </if>
	            <if test="item.minStockDays != null">
	                minStockDays = #{item.minStockDays,jdbcType=INTEGER},
	            </if>
	            <if test="item.maxStockDays != null">
	                maxStockDays = #{item.maxStockDays,jdbcType=INTEGER},
	            </if>
	            <if test="item.isPercious != null">
	                isPercious = #{item.isPercious,jdbcType=BIT},
	            </if>
	            <if test="item.coldTransFlag != null">
	                coldTransFlag = #{item.coldTransFlag,jdbcType=BIT},
	            </if>
	            <if test="item.escaleFlag != null">
	                escaleFlag = #{item.escaleFlag,jdbcType=BIT},
	            </if>
	            <if test="item.timesFlag != null">
	                timesFlag = #{item.timesFlag,jdbcType=SMALLINT},
	            </if>
	            <if test="item.season != null">
	                season = #{item.season,jdbcType=VARCHAR},
	            </if>
	            <if test="item.isBatch != null">
	                isBatch = #{item.isBatch,jdbcType=BIT},
	            </if>
	            <if test="item.controlFlag != null">
	                controlFlag = #{item.controlFlag,jdbcType=BIT},
	            </if>
	            <if test="item.recycleFee != null">
	                recycleFee = #{item.recycleFee,jdbcType=DECIMAL},
	            </if>
	            <if test="item.multiUnitFlag != null">
	                multiUnitFlag = #{item.multiUnitFlag,jdbcType=BIT},
	            </if>
	            <if test="item.goodsStatus != null">
	                goodsStatus = #{item.goodsStatus,jdbcType=SMALLINT},
	            </if>
	            <if test="item.lang != null">
	                lang = #{item.lang,jdbcType=VARCHAR},
	            </if>
	            <if test="item.creator != null">
	                creator = #{item.creator,jdbcType=VARCHAR},
	            </if>
	            <if test="item.createDate != null">
	                createDate = #{item.createDate,jdbcType=TIMESTAMP},
	            </if>
	            <if test="item.modifier != null">
	                modifier = #{item.modifier,jdbcType=VARCHAR},
	            </if>
	            <if test="item.updateDate != null">
	                updateDate = #{item.updateDate,jdbcType=TIMESTAMP},
	            </if>
	            <if test="item.dealStatus != null">
	                dealStatus = #{item.dealStatus,jdbcType=INTEGER},
	            </if>
	            <if test="item.venderCode != null">
	            	venderCode = #{item.venderCode,jdbcType=VARCHAR},
	            </if>
	            <if test="item.deliveryFlag != null">
	            	deliveryFlag = #{item.deliveryFlag,jdbcType=SMALLINT},
	            </if>
	        </set>
	        where goodsCode = #{item.goodsCode} and entId = #{item.entId} and erpCode = #{item.erpCode}
	    </foreach>
    </update>
    
    <update id="updateGItemsGoodsType">
        update extgoods g set g.goodsType = 3 where goodsCode in (select ss.ggoodsCode from extsalegoodsitems ss)
    </update>
</mapper>