<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ExtGoodsMoreBarcodeModelMapper">
  <select id="count" parameterType="JSONObject" resultType="long">
    select count(*)
    from extgoodsmorebarcode
    where goodsCode = #{goodsCode,jdbcType=VARCHAR} and barNo=#{barNo,jdbcType=VARCHAR}
  </select>

  <select id="select" parameterType="JSONObject" resultType="JSONObject">
    select * from extgoodsmorebarcode
    where dealStatus = 0
    limit 0,#{pageSize}
  </select>
    
    <select id="dataCount" parameterType="JSONObject" resultType="long">
        select count(*) from extgoodsmorebarcode
        where dealStatus = 0
    </select>

  <insert id="insertAll" parameterType="JSONObject">
      insert into extgoodsmorebarcode (egsid, entId, erpCode,
      sgid, goodsCode, goodsName,
      codeType, barNo, partsNum,
      partsUnit, sortLevel, salePrice,
      lang, creator, createDate,
      modifier, updateDate, priceFromGoods,
      dealStatus, status, barCodeType
      )
    values
      <foreach collection="list" separator="," item="item">
          (#{item.egsid,jdbcType=BIGINT}, #{item.entId,jdbcType=BIGINT}, #{item.erpCode,jdbcType=VARCHAR},
          #{item.sgid,jdbcType=BIGINT}, #{item.goodsCode,jdbcType=VARCHAR}, #{item.goodsName,jdbcType=VARCHAR},
          #{item.codeType,jdbcType=SMALLINT}, #{item.barNo,jdbcType=VARCHAR}, #{item.partsNum,jdbcType=DOUBLE},
          #{item.partsUnit,jdbcType=VARCHAR}, #{item.sortLevel,jdbcType=VARCHAR}, #{item.salePrice,jdbcType=DECIMAL},
          #{item.lang,jdbcType=VARCHAR}, #{item.creator,jdbcType=VARCHAR}, #{item.createDate,jdbcType=TIMESTAMP},
          #{item.modifier,jdbcType=VARCHAR}, #{item.updateDate,jdbcType=TIMESTAMP}, #{item.priceFromGoods,jdbcType=BIT},
          #{item.dealStatus,jdbcType=INTEGER}, #{item.status,jdbcType=SMALLINT}, #{item.barCodeType,jdbcType=SMALLINT}
          )
      </foreach>
  </insert>

    <insert id="insert" parameterType="JSONObject">
    insert into extgoodsmorebarcode (egsid, entId, erpCode,
      sgid, goodsCode, goodsName,
      codeType, barNo, partsNum,
      partsUnit, sortLevel, salePrice,
      lang, creator, createDate,
      modifier, updateDate, priceFromGoods,
      barCodeType, dealStatus, status
      )
    values (#{egsid,jdbcType=BIGINT}, #{entId,jdbcType=BIGINT}, #{erpCode,jdbcType=VARCHAR},
      #{sgid,jdbcType=BIGINT}, #{goodsCode,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR},
      #{codeType,jdbcType=SMALLINT}, #{barNo,jdbcType=VARCHAR}, #{partsNum,jdbcType=DOUBLE},
      #{partsUnit,jdbcType=VARCHAR}, #{sortLevel,jdbcType=VARCHAR}, #{salePrice,jdbcType=DECIMAL},
      #{lang,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{modifier,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{priceFromGoods,jdbcType=BIT},
      #{barCodeType,jdbcType=SMALLINT}, #{dealStatus,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}
      )
  </insert>

  <update id="update" parameterType="JSONObject">
      update extgoodsmorebarcode
      <set>
          <if test="sgid != null">
              sgid = #{sgid,jdbcType=BIGINT},
          </if>
          <if test="goodsCode != null">
              goodsCode = #{goodsCode,jdbcType=VARCHAR},
          </if>
          <if test="goodsName != null">
              goodsName = #{goodsName,jdbcType=VARCHAR},
          </if>
          <if test="codeType != null">
              codeType = #{codeType,jdbcType=SMALLINT},
          </if>
          <if test="barNo != null">
              barNo = #{barNo,jdbcType=VARCHAR},
          </if>
          <if test="partsNum != null">
              partsNum = #{partsNum,jdbcType=DOUBLE},
          </if>
          <if test="partsUnit != null">
              partsUnit = #{partsUnit,jdbcType=VARCHAR},
          </if>
          <if test="sortLevel != null">
              sortLevel = #{sortLevel,jdbcType=VARCHAR},
          </if>
          <if test="salePrice != null">
              salePrice = #{salePrice,jdbcType=DECIMAL},
          </if>
          <if test="lang != null">
              lang = #{lang,jdbcType=VARCHAR},
          </if>
          <if test="creator != null">
              creator = #{creator,jdbcType=VARCHAR},
          </if>
          <if test="createDate != null">
              createDate = #{createDate,jdbcType=TIMESTAMP},
          </if>
          <if test="modifier != null">
              modifier = #{modifier,jdbcType=VARCHAR},
          </if>
          <if test="updateDate != null">
              updateDate = #{updateDate,jdbcType=TIMESTAMP},
          </if>
          <if test="priceFromGoods != null">
              priceFromGoods = #{priceFromGoods,jdbcType=BIT},
          </if>
          <if test="dealStatus != null">
              dealStatus = #{dealStatus,jdbcType=INTEGER},
          </if>
          <if test="status != null">
              status = #{status,jdbcType=SMALLINT},
          </if>
          <if test="barCodeType != null">
              barCodeType = #{barCodeType,jdbcType=SMALLINT},
          </if>
      </set>
    where goodsCode = #{goodsCode,jdbcType=VARCHAR} and barNo=#{barNo,jdbcType=VARCHAR} and entId = #{entId,jdbcType=BIGINT} and erpCode = #{erpCode,jdbcType=VARCHAR}
  </update>

<update id="updateAll" parameterType="JSONObject">
	<foreach collection="list" item="item" separator=";">
		update extgoodsmorebarcode
		<set>
			<if test="item.sgid != null">
				sgid = #{item.sgid,jdbcType=BIGINT},
			</if>
			<if test="item.goodsName != null">
				goodsName = #{item.goodsName,jdbcType=VARCHAR},
			</if>
			<if test="item.codeType != null">
				codeType = #{item.codeType,jdbcType=SMALLINT},
			</if>
			<if test="item.partsNum != null">
				partsNum = #{item.partsNum,jdbcType=DOUBLE},
			</if>
			<if test="item.partsUnit != null">
				partsUnit = #{item.partsUnit,jdbcType=VARCHAR},
			</if>
			<if test="item.sortLevel != null">
				sortLevel = #{item.sortLevel,jdbcType=VARCHAR},
			</if>
			<if test="item.salePrice != null">
				salePrice = #{item.salePrice,jdbcType=DECIMAL},
			</if>
			<if test="item.lang != null">
				lang = #{item.lang,jdbcType=VARCHAR},
			</if>
			<if test="item.creator != null">
				creator = #{item.creator,jdbcType=VARCHAR},
			</if>
			<if test="item.createDate != null">
				createDate = #{item.createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="item.modifier != null">
				modifier = #{item.modifier,jdbcType=VARCHAR},
			</if>
			<if test="item.updateDate != null">
				updateDate = #{item.updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="item.priceFromGoods != null">
				priceFromGoods = #{item.priceFromGoods,jdbcType=BIT},
			</if>
			<if test="item.dealStatus != null">
				dealStatus = #{item.dealStatus,jdbcType=INTEGER},
			</if>
			<if test="item.status != null">
				status = #{item.status,jdbcType=SMALLINT},
			</if>
			<if test="item.barCodeType != null">
				barCodeType = #{item.barCodeType,jdbcType=SMALLINT},
			</if>
		</set>
		where goodsCode = #{item.goodsCode,jdbcType=VARCHAR} and
		barNo=#{item.barNo,jdbcType=VARCHAR} and entId = #{item.entId,jdbcType=BIGINT}
		and erpCode = #{item.erpCode,jdbcType=VARCHAR}
		</foreach>
	</update>
</mapper>