<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ExtGoodsVenderRefModelMapper">

    <update id="update" parameterType="JSONObject">
		update extgoodsvenderref
		<set>
			<if test="entId != null">
				entId = #{entId,jdbcType=BIGINT},
			</if>
			<if test="erpCode != null">
				erpCode = #{erpCode,jdbcType=VARCHAR},
			</if>
			<if test="shopId != null">
				shopId = #{shopId,jdbcType=BIGINT},
			</if>
			<if test="shopCode != null">
				shopCode = #{shopCode,jdbcType=VARCHAR},
			</if>
			<if test="venderCode != null">
				venderCode = #{venderCode,jdbcType=VARCHAR},
			</if>
			<if test="goodsCode != null">
				goodsCode = #{goodsCode,jdbcType=VARCHAR},
			</if>
			<if test="cost != null">
				cost = #{cost,jdbcType=DECIMAL},
			</if>
			<if test="contractCost != null">
				contractCost = #{contractCost,jdbcType=DECIMAL},
			</if>
			<if test="costTaxRate != null">
				costTaxRate = #{costTaxRate,jdbcType=REAL},
			</if>
			<if test="deductRate != null">
				deductRate = #{deductRate,jdbcType=DECIMAL},
			</if>
			<if test="returnFlag != null">
				returnFlag = #{returnFlag,jdbcType=INTEGER},
			</if>
			<if test="orderFlag != null">
				orderFlag = #{orderFlag,jdbcType=INTEGER},
			</if>
			<if test="logistics != null">
				logistics = #{logistics,jdbcType=INTEGER},
			</if>
			<if test="offDate != null">
				offDate = #{offDate,jdbcType=TIMESTAMP},
			</if>
			<if test="defaultSort != null">
				defaultSort = #{defaultSort,jdbcType=INTEGER},
			</if>
			<if test="inDate != null">
				inDate = #{inDate,jdbcType=TIMESTAMP},
			</if>
			<if test="inOper != null">
				inOper = #{inOper,jdbcType=VARCHAR},
			</if>
			<if test="sourceFromCode != null">
				sourceFromCode = #{sourceFromCode,jdbcType=VARCHAR},
			</if>
			<if test="dealStatus != null">
				dealStatus = #{dealStatus,jdbcType=INTEGER},
			</if>
			<if test="lang != null">
				lang = #{lang,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				createDate = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				modifier = #{modifier,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				updateDate = #{updateDate,jdbcType=TIMESTAMP}
			</if>
		</set>
		where goodsCode = #{goodsCode} and venderCode = #{venderCode} and
			shopCode = #{shopCode}and erpCode = #{erpCode}and entId = #{entId}
	</update>

    <!--<update id="updateDealStatus" parameterType="map">
      update extgoodsvenderref
      set dealStatus = 2
      where entId = #{entId} and erpCode = #{erpCode} and shopCode = #{shopCode}
            and venderCode = #{venderCode} and goodsCode = #{goodsCode}
    </update>-->

    <select id="count" parameterType="JSONObject" resultType="long">
        select count(*)
        from extgoodsvenderref
        where goodsCode = #{goodsCode} and venderCode = #{venderCode} and
			shopCode = #{shopCode}and erpCode = #{erpCode}and entId = #{entId}
    </select>

    <insert id="insertAll" parameterType="JSONObject">
        insert into extgoodsvenderref (egvrid, entId, erpCode,
        shopId, shopCode, venderCode,
        goodsCode, cost, contractCost,
        costTaxRate, deductRate, returnFlag,
        orderFlag, logistics, offDate,
        defaultSort, inDate, inOper,
        sourceFromCode, dealStatus, lang,
        creator, createDate, modifier,
        updateDate)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.egvrid,jdbcType=BIGINT}, #{item.entId,jdbcType=BIGINT}, #{item.erpCode,jdbcType=VARCHAR},
            #{item.shopId,jdbcType=BIGINT}, #{item.shopCode,jdbcType=VARCHAR}, #{item.venderCode,jdbcType=VARCHAR},
            #{item.goodsCode,jdbcType=VARCHAR}, #{item.cost,jdbcType=DECIMAL}, #{item.contractCost,jdbcType=DECIMAL},
            #{item.costTaxRate,jdbcType=REAL}, #{item.deductRate,jdbcType=DECIMAL}, #{item.returnFlag,jdbcType=INTEGER},
            #{item.orderFlag,jdbcType=INTEGER}, #{item.logistics,jdbcType=INTEGER}, #{item.offDate,jdbcType=TIMESTAMP},
            #{item.defaultSort,jdbcType=INTEGER}, #{item.inDate,jdbcType=TIMESTAMP}, #{item.inOper,jdbcType=VARCHAR},
            #{item.sourceFromCode,jdbcType=VARCHAR}, #{item.dealStatus,jdbcType=INTEGER}, #{item.lang,jdbcType=VARCHAR},
            #{item.creator,jdbcType=VARCHAR}, #{item.createDate,jdbcType=TIMESTAMP}, #{item.modifier,jdbcType=VARCHAR},
            #{item.updateDate,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    
    <insert id="insert" parameterType="JSONObject">
	    insert into extgoodsvenderref (egvrid, entId, erpCode,
	        shopId, shopCode, venderCode,
	        goodsCode, cost, contractCost,
	        costTaxRate, deductRate, returnFlag,
	        orderFlag, logistics, offDate,
	        defaultSort, inDate, inOper,
	        sourceFromCode, dealStatus, lang,
	        creator, createDate, modifier,
	        updateDate)
	        values
            (#{egvrid,jdbcType=BIGINT}, #{entId,jdbcType=BIGINT}, #{erpCode,jdbcType=VARCHAR},
            #{shopId,jdbcType=BIGINT}, #{shopCode,jdbcType=VARCHAR}, #{venderCode,jdbcType=VARCHAR},
            #{goodsCode,jdbcType=VARCHAR}, #{cost,jdbcType=DECIMAL}, #{contractCost,jdbcType=DECIMAL},
            #{costTaxRate,jdbcType=REAL}, #{deductRate,jdbcType=DECIMAL}, #{returnFlag,jdbcType=INTEGER},
            #{orderFlag,jdbcType=INTEGER}, #{logistics,jdbcType=INTEGER}, #{offDate,jdbcType=TIMESTAMP},
            #{defaultSort,jdbcType=INTEGER}, #{inDate,jdbcType=TIMESTAMP}, #{inOper,jdbcType=VARCHAR},
            #{sourceFromCode,jdbcType=VARCHAR}, #{dealStatus,jdbcType=INTEGER}, #{lang,jdbcType=VARCHAR},
            #{creator,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR},
            #{updateDate,jdbcType=TIMESTAMP})
    </insert>
    
    <update id="updateAll" parameterType="JSONObject" >
	  	<foreach collection="list" item="item" separator=";" >
		  	update extgoodsvenderref
			<set>
				<if test="item.entId != null">
					entId = #{item.entId,jdbcType=BIGINT},
				</if>
				<if test="item.erpCode != null">
					erpCode = #{item.erpCode,jdbcType=VARCHAR},
				</if>
				<if test="item.shopId != null">
					shopId = #{item.shopId,jdbcType=BIGINT},
				</if>
				<if test="item.shopCode != null">
					shopCode = #{item.shopCode,jdbcType=VARCHAR},
				</if>
				<if test="item.venderCode != null">
					venderCode = #{item.venderCode,jdbcType=VARCHAR},
				</if>
				<if test="item.goodsCode != null">
					goodsCode = #{item.goodsCode,jdbcType=VARCHAR},
				</if>
				<if test="item.cost != null">
					cost = #{item.cost,jdbcType=DECIMAL},
				</if>
				<if test="item.contractCost != null">
					contractCost = #{item.contractCost,jdbcType=DECIMAL},
				</if>
				<if test="item.costTaxRate != null">
					costTaxRate = #{item.costTaxRate,jdbcType=REAL},
				</if>
				<if test="item.deductRate != null">
					deductRate = #{item.deductRate,jdbcType=DECIMAL},
				</if>
				<if test="item.returnFlag != null">
					returnFlag = #{item.returnFlag,jdbcType=INTEGER},
				</if>
				<if test="item.orderFlag != null">
					orderFlag = #{item.orderFlag,jdbcType=INTEGER},
				</if>
				<if test="item.logistics != null">
					logistics = #{item.logistics,jdbcType=INTEGER},
				</if>
				<if test="item.offDate != null">
					offDate = #{item.offDate,jdbcType=TIMESTAMP},
				</if>
				<if test="item.defaultSort != null">
					defaultSort = #{item.defaultSort,jdbcType=INTEGER},
				</if>
				<if test="item.inDate != null">
					inDate = #{item.inDate,jdbcType=TIMESTAMP},
				</if>
				<if test="item.inOper != null">
					inOper = #{item.inOper,jdbcType=VARCHAR},
				</if>
				<if test="item.sourceFromCode != null">
					sourceFromCode = #{item.sourceFromCode,jdbcType=VARCHAR},
				</if>
				<if test="item.dealStatus != null">
					dealStatus = #{item.dealStatus,jdbcType=INTEGER},
				</if>
				<if test="item.lang != null">
					lang = #{item.lang,jdbcType=VARCHAR},
				</if>
				<if test="item.creator != null">
					creator = #{item.creator,jdbcType=VARCHAR},
				</if>
				<if test="item.createDate != null">
					createDate = #{item.createDate,jdbcType=TIMESTAMP},
				</if>
				<if test="item.modifier != null">
					modifier = #{item.modifier,jdbcType=VARCHAR},
				</if>
				<if test="item.updateDate != null">
					updateDate = #{item.updateDate,jdbcType=TIMESTAMP}
				</if>
			</set>
			where goodsCode = #{item.goodsCode} and venderCode = #{item.venderCode} and
				shopCode = #{item.shopCode}and erpCode = #{item.erpCode}and entId = #{item.entId}
	  	</foreach>
    </update>

</mapper>