<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ExtGoodsDescModelMapper">
	<select id="count" parameterType="JSONObject" resultType="long">
		select count(*)
		from extgoodsdesc
		where goodsCode = #{goodsCode,jdbcType=VARCHAR} and entId = #{entId,jdbcType=BIGINT} and erpCode = #{erpCode,jdbcType=VARCHAR}
	</select>

	<insert id="insertAll" parameterType="JSONObject">
		insert into extgoodsdesc (gdid, entId, erpCode,
		sgid, goodsCode, showTerm,
		lang, creator, createDate,
		modifier, updateDate, dealStatus,
		printFlag, goodsDesc)
		values
		<foreach collection="list" item="item" separator=",">
			(#{item.gdid,jdbcType=BIGINT}, #{item.entId,jdbcType=BIGINT}, #{item.erpCode,jdbcType=VARCHAR},
			#{item.sgid,jdbcType=BIGINT}, #{item.goodsCode,jdbcType=VARCHAR}, #{item.showTerm,jdbcType=SMALLINT},
			#{item.lang,jdbcType=VARCHAR}, #{item.creator,jdbcType=VARCHAR}, #{item.createDate,jdbcType=TIMESTAMP},
			#{item.modifier,jdbcType=VARCHAR}, #{item.updateDate,jdbcType=TIMESTAMP}, #{item.dealStatus,jdbcType=INTEGER},
			#{item.printFlag,jdbcType=BIT}, #{item.goodsDesc,jdbcType=LONGVARCHAR})
		</foreach>
	</insert>

	<insert id="insert" parameterType="JSONObject">
    insert into extgoodsdesc (gdid, entId, erpCode,
      sgid, goodsCode, showTerm,
      lang, creator, createDate,
      modifier, updateDate, dealStatus,
      printFlag, goodsDesc)
    values (#{gdid,jdbcType=BIGINT}, #{entId,jdbcType=BIGINT}, #{erpCode,jdbcType=VARCHAR},
      #{sgid,jdbcType=BIGINT}, #{goodsCode,jdbcType=VARCHAR}, #{showTerm,jdbcType=SMALLINT},
      #{lang,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{modifier,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{dealStatus,jdbcType=INTEGER},
      #{printFlag,jdbcType=BIT}, #{goodsDesc,jdbcType=LONGVARCHAR})
  </insert>
	
	<update id="update" parameterType="JSONObject">
		update extgoodsdesc
		<set>
			<if test="entId != null">
				entId = #{entId,jdbcType=BIGINT},
			</if>
			<if test="erpCode != null">
				erpCode = #{erpCode,jdbcType=VARCHAR},
			</if>
			<if test="sgid != null">
				sgid = #{sgid,jdbcType=BIGINT},
			</if>
			<if test="goodsCode != null">
				goodsCode = #{goodsCode,jdbcType=VARCHAR},
			</if>
			<if test="showTerm != null">
				showTerm = #{showTerm,jdbcType=SMALLINT},
			</if>
			<if test="lang != null">
				lang = #{lang,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				createDate = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				modifier = #{modifier,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				updateDate = #{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="dealStatus != null">
				dealStatus = #{dealStatus,jdbcType=INTEGER},
			</if>
			<if test="printFlag != null">
				printFlag = #{printFlag,jdbcType=BIT},
			</if>
			<if test="goodsDesc != null">
				goodsDesc = #{goodsDesc,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where goodsCode = #{goodsCode,jdbcType=VARCHAR} and entId = #{entId,jdbcType=BIGINT} and erpCode = #{erpCode,jdbcType=VARCHAR}
	</update>
</mapper>