<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GoodsMoreBarcodeModelMapper">
  <select id="count" parameterType="JSONObject" resultType="long">
    select count(*)
    from goodsmorebarcode
    where goodsCode = #{goodsCode,jdbcType=VARCHAR} and barNo=#{barNo,jdbcType=VARCHAR}
  </select>

  <insert id="insertAll" parameterType="JSONObject">
    insert into goodsmorebarcode (gsid, entId, erpCode, 
      sgid, goodsCode, goodsName, 
      codeType, barNo, partsNum, 
      partsUnit, sortLevel, salePrice, 
      status, lang, creator, 
      createDate, modifier, updateDate, 
      priceFromGoods, barCodeType, erpUpdateDate
      )
    values 
    <foreach collection="list" item="item" separator=",">
    (#{item.gsid,jdbcType=BIGINT}, #{item.entId,jdbcType=BIGINT}, #{item.erpCode,jdbcType=VARCHAR}, 
      #{item.sgid,jdbcType=BIGINT}, #{item.goodsCode,jdbcType=VARCHAR}, #{item.goodsName,jdbcType=VARCHAR}, 
      #{item.codeType,jdbcType=SMALLINT}, #{item.barNo,jdbcType=VARCHAR}, #{item.partsNum,jdbcType=DOUBLE}, 
      #{item.partsUnit,jdbcType=VARCHAR}, #{item.sortLevel,jdbcType=VARCHAR}, #{item.salePrice,jdbcType=DECIMAL}, 
      #{item.status,jdbcType=SMALLINT}, #{item.lang,jdbcType=VARCHAR}, #{item.creator,jdbcType=VARCHAR}, 
      #{item.createDate,jdbcType=TIMESTAMP}, #{item.modifier,jdbcType=VARCHAR}, #{item.updateDate,jdbcType=TIMESTAMP}, 
      #{item.priceFromGoods,jdbcType=BIT}, #{item.barCodeType,jdbcType=SMALLINT}, #{item.erpUpdateDate,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>

  <insert id="insert" parameterType="JSONObject">
    insert into goodsmorebarcode (gsid, entId, erpCode,
      sgid, goodsCode, goodsName,
      codeType, barNo, partsNum,
      partsUnit, sortLevel, salePrice,
      status, lang, creator,
      createDate, modifier, updateDate,
      priceFromGoods, barCodeType, erpUpdateDate
      )
    values (#{gsid,jdbcType=BIGINT}, #{entId,jdbcType=BIGINT}, #{erpCode,jdbcType=VARCHAR},
      #{sgid,jdbcType=BIGINT}, #{goodsCode,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR},
      #{codeType,jdbcType=SMALLINT}, #{barNo,jdbcType=VARCHAR}, #{partsNum,jdbcType=DOUBLE},
      #{partsUnit,jdbcType=VARCHAR}, #{sortLevel,jdbcType=VARCHAR}, #{salePrice,jdbcType=DECIMAL},
      #{status,jdbcType=SMALLINT}, #{lang,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},
      #{priceFromGoods,jdbcType=BIT}, #{barCodeType,jdbcType=SMALLINT}, #{erpUpdateDate,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="update" parameterType="JSONObject">
    update goodsmorebarcode
    <set>
      <if test="entId != null">
        entId = #{entId,jdbcType=BIGINT},
      </if>
      <if test="erpCode != null">
        erpCode = #{erpCode,jdbcType=VARCHAR},
      </if>
      <if test="sgid != null">
        sgid = #{sgid,jdbcType=BIGINT},
      </if>
      <if test="goodsCode != null">
        goodsCode = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        goodsName = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="codeType != null">
        codeType = #{codeType,jdbcType=SMALLINT},
      </if>
      <if test="barNo != null">
        barNo = #{barNo,jdbcType=VARCHAR},
      </if>
      <if test="partsNum != null">
        partsNum = #{partsNum,jdbcType=DOUBLE},
      </if>
      <if test="partsUnit != null">
        partsUnit = #{partsUnit,jdbcType=VARCHAR},
      </if>
      <if test="sortLevel != null">
        sortLevel = #{sortLevel,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null">
        salePrice = #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="lang != null">
        lang = #{lang,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        updateDate = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="priceFromGoods != null">
        priceFromGoods = #{priceFromGoods,jdbcType=BIT},
      </if>
      <if test="barCodeType != null">
        barCodeType = #{barCodeType,jdbcType=SMALLINT},
      </if>
      <if test="erpUpdateDate != null">
        erpUpdateDate = #{erpUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where goodsCode = #{goodsCode,jdbcType=VARCHAR} and barNo=#{barNo,jdbcType=VARCHAR}
  </update>
</mapper>