<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GoodsShopRefModelMapper">
    <select id="count" parameterType="JSONObject" resultType="long">
        select count(*) from goodsshopref
        where goodsCode = #{goodsCode} and shopCode = #{shopCode} and erpCode=#{erpCode} and entId=#{entId}
    </select>

  <insert id="insertAll" parameterType="JSONObject">
    insert into goodsshopref (gsrid, entId, erpCode,
    shopId, shopCode, saleOrgId,
    orgCode, siid, stallCode,
    sgid, goodsCode, vid,
    venderCode, goodStatus, cost,
    contractCost, costTaxRate, deductRate,
    salePrice, customPrice, bulkPrice,
    pcs, partsNum, stepDiff,
    safeStockDays, minStockDays, maxStockDays,
    priceRight, continuePurFlag, importantFlag,
    returnFlag, operateFlag, orderFlag,
    logistics, dcshopId, fdcShopId,
    inDate, inOper, offDate,
    lang, creator, createDate,
    modifier, updateDate, erpUpdateDate,
    goodsName, prcutMode
      <foreach collection="@com.efuture.utils.BeanUtils@xmlList(list)" item="item" index="0">
          <if test="item.dealType != null and item.dealType != ''">
              ,dealType
          </if>
          <if test="item.seqNum != null and item.seqNum != ''">
              ,seqNum
          </if>
      </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.gsrid,jdbcType=BIGINT}, #{item.entId,jdbcType=BIGINT}, #{item.erpCode,jdbcType=VARCHAR},
      #{item.shopId,jdbcType=BIGINT}, #{item.shopCode,jdbcType=VARCHAR}, #{item.saleOrgId,jdbcType=BIGINT},
      #{item.orgCode,jdbcType=VARCHAR}, #{item.siid,jdbcType=BIGINT}, #{item.stallCode,jdbcType=VARCHAR},
      #{item.sgid,jdbcType=BIGINT}, #{item.goodsCode,jdbcType=VARCHAR}, #{item.vid,jdbcType=BIGINT},
      #{item.venderCode,jdbcType=VARCHAR}, #{item.goodStatus,jdbcType=INTEGER}, #{item.cost,jdbcType=DECIMAL},
      #{item.contractCost,jdbcType=DECIMAL}, #{item.costTaxRate,jdbcType=REAL}, #{item.deductRate,jdbcType=DECIMAL},
      #{item.salePrice,jdbcType=DECIMAL}, #{item.customPrice,jdbcType=DECIMAL}, #{item.bulkPrice,jdbcType=DECIMAL},
      #{item.pcs,jdbcType=INTEGER}, #{item.partsNum,jdbcType=REAL}, #{item.stepDiff,jdbcType=REAL},
      #{item.safeStockDays,jdbcType=INTEGER}, #{item.minStockDays,jdbcType=INTEGER}, #{item.maxStockDays,jdbcType=INTEGER},
      #{item.priceRight,jdbcType=SMALLINT}, #{item.continuePurFlag,jdbcType=SMALLINT}, #{item.importantFlag,jdbcType=SMALLINT},
      #{item.returnFlag,jdbcType=SMALLINT}, #{item.operateFlag,jdbcType=SMALLINT}, #{item.orderFlag,jdbcType=SMALLINT},
      #{item.logistics,jdbcType=SMALLINT}, #{item.dcshopId,jdbcType=VARCHAR}, #{item.fdcShopId,jdbcType=VARCHAR},
      #{item.inDate,jdbcType=TIMESTAMP}, #{item.inOper,jdbcType=VARCHAR}, #{item.offDate,jdbcType=TIMESTAMP},
      #{item.lang,jdbcType=VARCHAR}, #{item.creator,jdbcType=VARCHAR}, #{item.createDate,jdbcType=TIMESTAMP},
      #{item.modifier,jdbcType=VARCHAR}, #{item.updateDate,jdbcType=TIMESTAMP}, #{item.erpUpdateDate,jdbcType=TIMESTAMP},
      #{item.goodsName,jdbcType=VARCHAR}, #{item.prcutMode,jdbcType=VARCHAR}
        <if test="item.dealType != null and item.dealType != ''">
            ,#{item.dealType,jdbcType=CHAR}
        </if>
        <if test="item.seqNum != null and item.seqNum != ''">
            ,#{item.seqNum,jdbcType=BIGINT}
        </if>
      )
    </foreach>
  </insert>

  <!-- 屏蔽更新 档口stallCode，柜组orgCode，四舍五入方式prcutMode  -->
  <update id="updateAll" parameterType="JSONObject">
    <foreach collection="list" item="item" separator=";">
      update goodsshopref
      <set>
        <!--<if test="item.shopId != null">
          shopId = #{item.shopId,jdbcType=BIGINT},
        </if>
        <if test="item.shopCode != null">
          shopCode = #{item.shopCode,jdbcType=VARCHAR},
        </if>-->
        <!-- <if test="item.saleOrgId != null">
          saleOrgId = #{item.saleOrgId,jdbcType=BIGINT},
        </if>
        <if test="item.orgCode != null">
          orgCode = #{item.orgCode,jdbcType=VARCHAR},
        </if> -->
        <!-- <if test="item.siid != null">
          siid = #{item.siid,jdbcType=BIGINT},
        </if>
        <if test="item.stallCode != null">
          stallCode = #{item.stallCode,jdbcType=VARCHAR},
        </if> -->
        <!--<if test="item.sgid != null">
          sgid = #{item.sgid,jdbcType=BIGINT},
        </if>
       <if test="item.goodsCode != null">
          goodsCode = #{item.goodsCode,jdbcType=VARCHAR},
        </if>-->
        <if test="item.vid != null">
          vid = #{item.vid,jdbcType=BIGINT},
        </if>
        <if test="item.venderCode != null">
          venderCode = #{item.venderCode,jdbcType=VARCHAR},
        </if>
        <if test="item.goodStatus != null">
          goodStatus = #{item.goodStatus,jdbcType=INTEGER},
        </if>
        <if test="item.cost != null">
          cost = #{item.cost,jdbcType=DECIMAL},
        </if>
        <if test="item.contractCost != null">
          contractCost = #{item.contractCost,jdbcType=DECIMAL},
        </if>
        <if test="item.costTaxRate != null">
          costTaxRate = #{item.costTaxRate,jdbcType=REAL},
        </if>
        <if test="item.deductRate != null">
          deductRate = #{item.deductRate,jdbcType=DECIMAL},
        </if>
        <if test="item.salePrice != null">
          salePrice = #{item.salePrice,jdbcType=DECIMAL},
        </if>
        <if test="item.customPrice != null">
          customPrice = #{item.customPrice,jdbcType=DECIMAL},
        </if>
        <if test="item.bulkPrice != null">
          bulkPrice = #{item.bulkPrice,jdbcType=DECIMAL},
        </if>
        <if test="item.pcs != null">
          pcs = #{item.pcs,jdbcType=INTEGER},
        </if>
        <if test="item.partsNum != null">
          partsNum = #{item.partsNum,jdbcType=REAL},
        </if>
        <if test="item.stepDiff != null">
          stepDiff = #{item.stepDiff,jdbcType=REAL},
        </if>
        <if test="item.safeStockDays != null">
          safeStockDays = #{item.safeStockDays,jdbcType=INTEGER},
        </if>
        <if test="item.minStockDays != null">
          minStockDays = #{item.minStockDays,jdbcType=INTEGER},
        </if>
        <if test="item.maxStockDays != null">
          maxStockDays = #{item.maxStockDays,jdbcType=INTEGER},
        </if>
        <if test="item.priceRight != null">
          priceRight = #{item.priceRight,jdbcType=SMALLINT},
        </if>
        <if test="item.continuePurFlag != null">
          continuePurFlag = #{item.continuePurFlag,jdbcType=SMALLINT},
        </if>
        <if test="item.importantFlag != null">
          importantFlag = #{item.importantFlag,jdbcType=SMALLINT},
        </if>
        <if test="item.returnFlag != null">
          returnFlag = #{item.returnFlag,jdbcType=SMALLINT},
        </if>
        <if test="item.operateFlag != null">
          operateFlag = #{item.operateFlag,jdbcType=SMALLINT},
        </if>
        <if test="item.orderFlag != null">
          orderFlag = #{item.orderFlag,jdbcType=SMALLINT},
        </if>
        <if test="item.logistics != null">
          logistics = #{item.logistics,jdbcType=SMALLINT},
        </if>
        <if test="item.dcshopId != null">
          dcshopId = #{item.dcshopId,jdbcType=VARCHAR},
        </if>
        <if test="item.fdcShopId != null">
          fdcShopId = #{item.fdcShopId,jdbcType=VARCHAR},
        </if>
        <if test="item.inDate != null">
          inDate = #{item.inDate,jdbcType=TIMESTAMP},
        </if>
        <if test="item.inOper != null">
          inOper = #{item.inOper,jdbcType=VARCHAR},
        </if>
        <if test="item.offDate != null">
          offDate = #{item.offDate,jdbcType=TIMESTAMP},
        </if>
        <if test="item.lang != null">
          lang = #{item.lang,jdbcType=VARCHAR},
        </if>
        <if test="item.creator != null">
          creator = #{item.creator,jdbcType=VARCHAR},
        </if>
        <if test="item.createDate != null">
          createDate = #{item.createDate,jdbcType=TIMESTAMP},
        </if>
        <if test="item.modifier != null">
          modifier = #{item.modifier,jdbcType=VARCHAR},
        </if>
        <if test="item.updateDate != null">
          updateDate = #{item.updateDate,jdbcType=TIMESTAMP},
        </if>
        <if test="item.erpUpdateDate != null">
          erpUpdateDate = #{item.erpUpdateDate,jdbcType=TIMESTAMP},
        </if>
        <if test="item.goodsName != null">
          goodsName = #{item.goodsName,jdbcType=VARCHAR},
        </if>
        <!-- <if test="item.prcutMode != null">
          prcutMode = #{item.prcutMode,jdbcType=VARCHAR},
        </if> -->
          <if test="item.dealType != null and item.dealType != ''">
              dealType = #{item.dealType,jdbcType=CHAR},
          </if>
          <if test="item.seqNum != null and item.seqNum != ''">
              seqNum = #{item.seqNum,jdbcType=BIGINT},
          </if>
      </set>
      where goodsCode = #{item.goodsCode} and shopCode = #{item.shopCode} and erpCode=#{item.erpCode} and entId=#{item.entId}
        <if test="item.seqNum != null and item.seqNum != ''">
            and #{item.seqNum,jdbcType=BIGINT} >= seqNum
        </if>
    </foreach>
  </update>

  <insert id="insert" parameterType="JSONObject">
    insert into goodsshopref (gsrid, entId, erpCode,
      shopId, shopCode, saleOrgId,
      orgCode, siid, stallCode,
      sgid, goodsCode, vid,
      venderCode, goodStatus, cost,
      contractCost, costTaxRate, deductRate,
      salePrice, customPrice, bulkPrice,
      pcs, partsNum, stepDiff,
      safeStockDays, minStockDays, maxStockDays,
      priceRight, continuePurFlag, importantFlag,
      returnFlag, operateFlag, orderFlag,
      logistics, dcshopId, fdcShopId,
      inDate, inOper, offDate,
      lang, creator, createDate,
      modifier, updateDate, erpUpdateDate,
      goodsName, prcutMode
      <if test="dealType != null and dealType != ''">
          ,dealType
      </if>
      <if test="seqNum != null and seqNum != ''">
          ,seqNum
      </if>
      )
    values (#{gsrid,jdbcType=BIGINT}, #{entId,jdbcType=BIGINT}, #{erpCode,jdbcType=VARCHAR},
      #{shopId,jdbcType=BIGINT}, #{shopCode,jdbcType=VARCHAR}, #{saleOrgId,jdbcType=BIGINT},
      #{orgCode,jdbcType=VARCHAR}, #{siid,jdbcType=BIGINT}, #{stallCode,jdbcType=VARCHAR},
      #{sgid,jdbcType=BIGINT}, #{goodsCode,jdbcType=VARCHAR}, #{vid,jdbcType=BIGINT},
      #{venderCode,jdbcType=VARCHAR}, #{goodStatus,jdbcType=INTEGER}, #{cost,jdbcType=DECIMAL},
      #{contractCost,jdbcType=DECIMAL}, #{costTaxRate,jdbcType=REAL}, #{deductRate,jdbcType=DECIMAL},
      #{salePrice,jdbcType=DECIMAL}, #{customPrice,jdbcType=DECIMAL}, #{bulkPrice,jdbcType=DECIMAL},
      #{pcs,jdbcType=INTEGER}, #{partsNum,jdbcType=REAL}, #{stepDiff,jdbcType=REAL},
      #{safeStockDays,jdbcType=INTEGER}, #{minStockDays,jdbcType=INTEGER}, #{maxStockDays,jdbcType=INTEGER},
      #{priceRight,jdbcType=SMALLINT}, #{continuePurFlag,jdbcType=SMALLINT}, #{importantFlag,jdbcType=SMALLINT},
      #{returnFlag,jdbcType=SMALLINT}, #{operateFlag,jdbcType=SMALLINT}, #{orderFlag,jdbcType=SMALLINT},
      #{logistics,jdbcType=SMALLINT}, #{dcshopId,jdbcType=VARCHAR}, #{fdcShopId,jdbcType=VARCHAR},
      #{inDate,jdbcType=TIMESTAMP}, #{inOper,jdbcType=VARCHAR}, #{offDate,jdbcType=TIMESTAMP},
      #{lang,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{modifier,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{erpUpdateDate,jdbcType=TIMESTAMP},
      #{goodsName,jdbcType=VARCHAR}, #{prcutMode,jdbcType=CHAR}
      <if test="dealType != null and dealType != ''">
          ,#{dealType,jdbcType=CHAR}
      </if>
      <if test="seqNum != null and seqNum != ''">
          ,#{seqNum,jdbcType=BIGINT}
      </if>
      )
  </insert>

  <!-- 屏蔽更新 档口stallCode，柜组orgCode，四舍五入方式prcutMode  -->
  <update id="update" parameterType="JSONObject">
    update goodsshopref
    <set>
        <if test="entId != null">
          entId = #{entId,jdbcType=BIGINT},
        </if>
        <if test="erpCode != null">
          erpCode = #{erpCode,jdbcType=VARCHAR},
        </if>
        <!--<if test="shopId != null">
          shopId = #{shopId,jdbcType=BIGINT},
        </if>
        <if test="shopCode != null">
          shopCode = #{shopCode,jdbcType=VARCHAR},
        </if>-->
        <!-- <if test="saleOrgId != null">
          saleOrgId = #{saleOrgId,jdbcType=BIGINT},
        </if>
        <if test="orgCode != null">
          orgCode = #{orgCode,jdbcType=VARCHAR},
        </if> -->
        <!-- <if test="siid != null">
          siid = #{siid,jdbcType=BIGINT},
        </if>
        <if test="stallCode != null">
          stallCode = #{stallCode,jdbcType=VARCHAR},
        </if> -->
        <!--<if test="sgid != null">
         sgid = #{sgid,jdbcType=BIGINT},
       </if>
       <if test="goodsCode != null">
         goodsCode = #{goodsCode,jdbcType=VARCHAR},
       </if>-->
        <if test="vid != null">
          vid = #{vid,jdbcType=BIGINT},
        </if>
        <if test="venderCode != null">
          venderCode = #{venderCode,jdbcType=VARCHAR},
        </if>
        <if test="goodStatus != null">
          goodStatus = #{goodStatus,jdbcType=INTEGER},
        </if>
        <if test="cost != null">
          cost = #{cost,jdbcType=DECIMAL},
        </if>
        <if test="contractCost != null">
          contractCost = #{contractCost,jdbcType=DECIMAL},
        </if>
        <if test="costTaxRate != null">
          costTaxRate = #{costTaxRate,jdbcType=REAL},
        </if>
        <if test="deductRate != null">
          deductRate = #{deductRate,jdbcType=DECIMAL},
        </if>
        <if test="salePrice != null">
          salePrice = #{salePrice,jdbcType=DECIMAL},
        </if>
        <if test="customPrice != null">
          customPrice = #{customPrice,jdbcType=DECIMAL},
        </if>
        <if test="bulkPrice != null">
          bulkPrice = #{bulkPrice,jdbcType=DECIMAL},
        </if>
        <if test="pcs != null">
          pcs = #{pcs,jdbcType=INTEGER},
        </if>
        <if test="partsNum != null">
          partsNum = #{partsNum,jdbcType=REAL},
        </if>
        <if test="stepDiff != null">
          stepDiff = #{stepDiff,jdbcType=REAL},
        </if>
        <if test="safeStockDays != null">
          safeStockDays = #{safeStockDays,jdbcType=INTEGER},
        </if>
        <if test="minStockDays != null">
          minStockDays = #{minStockDays,jdbcType=INTEGER},
        </if>
        <if test="maxStockDays != null">
          maxStockDays = #{maxStockDays,jdbcType=INTEGER},
        </if>
        <if test="priceRight != null">
          priceRight = #{priceRight,jdbcType=SMALLINT},
        </if>
        <if test="continuePurFlag != null">
          continuePurFlag = #{continuePurFlag,jdbcType=SMALLINT},
        </if>
        <if test="importantFlag != null">
          importantFlag = #{importantFlag,jdbcType=SMALLINT},
        </if>
        <if test="returnFlag != null">
          returnFlag = #{returnFlag,jdbcType=SMALLINT},
        </if>
        <if test="operateFlag != null">
          operateFlag = #{operateFlag,jdbcType=SMALLINT},
        </if>
        <if test="orderFlag != null">
          orderFlag = #{orderFlag,jdbcType=SMALLINT},
        </if>
        <if test="logistics != null">
          logistics = #{logistics,jdbcType=SMALLINT},
        </if>
        <if test="dcshopId != null">
          dcshopId = #{dcshopId,jdbcType=VARCHAR},
        </if>
        <if test="fdcShopId != null">
          fdcShopId = #{fdcShopId,jdbcType=VARCHAR},
        </if>
        <if test="inDate != null">
          inDate = #{inDate,jdbcType=TIMESTAMP},
        </if>
        <if test="inOper != null">
          inOper = #{inOper,jdbcType=VARCHAR},
        </if>
        <if test="offDate != null">
          offDate = #{offDate,jdbcType=TIMESTAMP},
        </if>
        <if test="lang != null">
          lang = #{lang,jdbcType=VARCHAR},
        </if>
        <if test="creator != null">
          creator = #{creator,jdbcType=VARCHAR},
        </if>
        <if test="createDate != null">
          createDate = #{createDate,jdbcType=TIMESTAMP},
        </if>
        <if test="modifier != null">
          modifier = #{modifier,jdbcType=VARCHAR},
        </if>
        <if test="updateDate != null">
          updateDate = #{updateDate,jdbcType=TIMESTAMP},
        </if>
        <if test="erpUpdateDate != null">
          erpUpdateDate = #{erpUpdateDate,jdbcType=TIMESTAMP},
        </if>
        <if test="goodsName != null">
          goodsName = #{goodsName,jdbcType=VARCHAR},
        </if>
        <!-- <if test="prcutMode != null">
          prcutMode = #{prcutMode,jdbcType=VARCHAR},
        </if> -->
        <if test="dealType != null and dealType != ''">
            dealType = #{dealType,jdbcType=CHAR},
        </if>
        <if test="seqNum != null and seqNum != ''">
            seqNum = #{seqNum,jdbcType=BIGINT},
        </if>
      </set>
      where goodsCode = #{goodsCode} and shopCode = #{shopCode} and erpCode=#{erpCode} and entId=#{entId}
      <if test="seqNum != null and seqNum != ''">
          and #{seqNum,jdbcType=BIGINT} >= seqNum
      </if>
    </update>

</mapper>