<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PaymentMethodMapper">
  <resultMap id="BaseResultMap" type="com.efuture.model.PaymentMethod">
    <id column="pmid" jdbcType="BIGINT" property="pmid" />
    <result column="entId" jdbcType="BIGINT" property="entId" />
    <result column="parentId" jdbcType="BIGINT" property="parentId" />
    <result column="parentCode" jdbcType="VARCHAR" property="parentCode" />
    <result column="payLevel" jdbcType="INTEGER" property="payLevel" />
    <result column="payType" jdbcType="VARCHAR" property="payType" />
    <result column="virtualPayType" jdbcType="SMALLINT" property="virtualPayType" />
    <result column="payCode" jdbcType="VARCHAR" property="payCode" />
    <result column="paySCode" jdbcType="VARCHAR" property="paySCode" />
    <result column="payName" jdbcType="VARCHAR" property="payName" />
    <result column="payPattern" jdbcType="VARCHAR" property="payPattern" />
    <result column="rate" jdbcType="DOUBLE" property="rate" />
    <result column="changeRate" jdbcType="DOUBLE" property="changeRate" />
    <result column="minAmount" jdbcType="DECIMAL" property="minAmount" />
    <result column="maxAmount" jdbcType="DECIMAL" property="maxAmount" />
    <result column="roundType" jdbcType="VARCHAR" property="roundType" />
    <result column="roundPrecision" jdbcType="REAL" property="roundPrecision" />
    <result column="overflowFlag" jdbcType="BIT" property="overflowFlag" />
    <result column="changeFlag" jdbcType="BIT" property="changeFlag" />
    <result column="recordFlag" jdbcType="BIT" property="recordFlag" />
    <result column="invoiceFlag" jdbcType="BIT" property="invoiceFlag" />
    <result column="netvalueFlag" jdbcType="BIT" property="netvalueFlag" />
    <result column="payRemark" jdbcType="VARCHAR" property="payRemark" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="level" jdbcType="SMALLINT" property="level" />
    <result column="leafFlag" jdbcType="BIT" property="leafFlag" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="currencyCode" jdbcType="VARCHAR" property="currencyCode" />
    <result column="currencyFlag" jdbcType="VARCHAR" property="currencyFlag" />
    <result column="cardPayType" jdbcType="VARCHAR" property="cardPayType" />
    <result column="returnPayFlag" jdbcType="BIT" property="returnPayFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    pmid, entId, parentId, parentCode, payLevel, payType, virtualPayType, payCode, paySCode, 
    payName, payPattern, rate, changeRate, minAmount, maxAmount, roundType, roundPrecision, 
    overflowFlag, changeFlag, recordFlag, invoiceFlag, netvalueFlag, payRemark, status, 
    level, leafFlag, lang, creator, createDate, modifier, updateDate, currencyCode, currencyFlag, 
    cardPayType, returnPayFlag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from paymentmethod
    where pmid = #{pmid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from paymentmethod
    where pmid = #{pmid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.efuture.model.PaymentMethod">
    insert into paymentmethod (pmid, entId, parentId, 
      parentCode, payLevel, payType, 
      virtualPayType, payCode, paySCode, 
      payName, payPattern, rate, 
      changeRate, minAmount, maxAmount, 
      roundType, roundPrecision, overflowFlag, 
      changeFlag, recordFlag, invoiceFlag, 
      netvalueFlag, payRemark, status, 
      level, leafFlag, lang, 
      creator, createDate, modifier, 
      updateDate, currencyCode, currencyFlag, 
      cardPayType, returnPayFlag)
    values (#{pmid,jdbcType=BIGINT}, #{entId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{parentCode,jdbcType=VARCHAR}, #{payLevel,jdbcType=INTEGER}, #{payType,jdbcType=VARCHAR}, 
      #{virtualPayType,jdbcType=SMALLINT}, #{payCode,jdbcType=VARCHAR}, #{paySCode,jdbcType=VARCHAR}, 
      #{payName,jdbcType=VARCHAR}, #{payPattern,jdbcType=VARCHAR}, #{rate,jdbcType=DOUBLE}, 
      #{changeRate,jdbcType=DOUBLE}, #{minAmount,jdbcType=DECIMAL}, #{maxAmount,jdbcType=DECIMAL}, 
      #{roundType,jdbcType=VARCHAR}, #{roundPrecision,jdbcType=REAL}, #{overflowFlag,jdbcType=BIT}, 
      #{changeFlag,jdbcType=BIT}, #{recordFlag,jdbcType=BIT}, #{invoiceFlag,jdbcType=BIT}, 
      #{netvalueFlag,jdbcType=BIT}, #{payRemark,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, 
      #{level,jdbcType=SMALLINT}, #{leafFlag,jdbcType=BIT}, #{lang,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{currencyCode,jdbcType=VARCHAR}, #{currencyFlag,jdbcType=VARCHAR}, 
      #{cardPayType,jdbcType=VARCHAR}, #{returnPayFlag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.efuture.model.PaymentMethod">
    insert into paymentmethod
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pmid != null">
        pmid,
      </if>
      <if test="entId != null">
        entId,
      </if>
      <if test="parentId != null">
        parentId,
      </if>
      <if test="parentCode != null">
        parentCode,
      </if>
      <if test="payLevel != null">
        payLevel,
      </if>
      <if test="payType != null">
        payType,
      </if>
      <if test="virtualPayType != null">
        virtualPayType,
      </if>
      <if test="payCode != null">
        payCode,
      </if>
      <if test="paySCode != null">
        paySCode,
      </if>
      <if test="payName != null">
        payName,
      </if>
      <if test="payPattern != null">
        payPattern,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="changeRate != null">
        changeRate,
      </if>
      <if test="minAmount != null">
        minAmount,
      </if>
      <if test="maxAmount != null">
        maxAmount,
      </if>
      <if test="roundType != null">
        roundType,
      </if>
      <if test="roundPrecision != null">
        roundPrecision,
      </if>
      <if test="overflowFlag != null">
        overflowFlag,
      </if>
      <if test="changeFlag != null">
        changeFlag,
      </if>
      <if test="recordFlag != null">
        recordFlag,
      </if>
      <if test="invoiceFlag != null">
        invoiceFlag,
      </if>
      <if test="netvalueFlag != null">
        netvalueFlag,
      </if>
      <if test="payRemark != null">
        payRemark,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="leafFlag != null">
        leafFlag,
      </if>
      <if test="lang != null">
        lang,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="updateDate != null">
        updateDate,
      </if>
      <if test="currencyCode != null">
        currencyCode,
      </if>
      <if test="currencyFlag != null">
        currencyFlag,
      </if>
      <if test="cardPayType != null">
        cardPayType,
      </if>
      <if test="returnPayFlag != null">
        returnPayFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pmid != null">
        #{pmid,jdbcType=BIGINT},
      </if>
      <if test="entId != null">
        #{entId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="parentCode != null">
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="payLevel != null">
        #{payLevel,jdbcType=INTEGER},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="virtualPayType != null">
        #{virtualPayType,jdbcType=SMALLINT},
      </if>
      <if test="payCode != null">
        #{payCode,jdbcType=VARCHAR},
      </if>
      <if test="paySCode != null">
        #{paySCode,jdbcType=VARCHAR},
      </if>
      <if test="payName != null">
        #{payName,jdbcType=VARCHAR},
      </if>
      <if test="payPattern != null">
        #{payPattern,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DOUBLE},
      </if>
      <if test="changeRate != null">
        #{changeRate,jdbcType=DOUBLE},
      </if>
      <if test="minAmount != null">
        #{minAmount,jdbcType=DECIMAL},
      </if>
      <if test="maxAmount != null">
        #{maxAmount,jdbcType=DECIMAL},
      </if>
      <if test="roundType != null">
        #{roundType,jdbcType=VARCHAR},
      </if>
      <if test="roundPrecision != null">
        #{roundPrecision,jdbcType=REAL},
      </if>
      <if test="overflowFlag != null">
        #{overflowFlag,jdbcType=BIT},
      </if>
      <if test="changeFlag != null">
        #{changeFlag,jdbcType=BIT},
      </if>
      <if test="recordFlag != null">
        #{recordFlag,jdbcType=BIT},
      </if>
      <if test="invoiceFlag != null">
        #{invoiceFlag,jdbcType=BIT},
      </if>
      <if test="netvalueFlag != null">
        #{netvalueFlag,jdbcType=BIT},
      </if>
      <if test="payRemark != null">
        #{payRemark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="level != null">
        #{level,jdbcType=SMALLINT},
      </if>
      <if test="leafFlag != null">
        #{leafFlag,jdbcType=BIT},
      </if>
      <if test="lang != null">
        #{lang,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="currencyCode != null">
        #{currencyCode,jdbcType=VARCHAR},
      </if>
      <if test="currencyFlag != null">
        #{currencyFlag,jdbcType=VARCHAR},
      </if>
      <if test="cardPayType != null">
        #{cardPayType,jdbcType=VARCHAR},
      </if>
      <if test="returnPayFlag != null">
        #{returnPayFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.efuture.model.PaymentMethod">
    update paymentmethod
    <set>
      <if test="entId != null">
        entId = #{entId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parentId = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="parentCode != null">
        parentCode = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="payLevel != null">
        payLevel = #{payLevel,jdbcType=INTEGER},
      </if>
      <if test="payType != null">
        payType = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="virtualPayType != null">
        virtualPayType = #{virtualPayType,jdbcType=SMALLINT},
      </if>
      <if test="payCode != null">
        payCode = #{payCode,jdbcType=VARCHAR},
      </if>
      <if test="paySCode != null">
        paySCode = #{paySCode,jdbcType=VARCHAR},
      </if>
      <if test="payName != null">
        payName = #{payName,jdbcType=VARCHAR},
      </if>
      <if test="payPattern != null">
        payPattern = #{payPattern,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=DOUBLE},
      </if>
      <if test="changeRate != null">
        changeRate = #{changeRate,jdbcType=DOUBLE},
      </if>
      <if test="minAmount != null">
        minAmount = #{minAmount,jdbcType=DECIMAL},
      </if>
      <if test="maxAmount != null">
        maxAmount = #{maxAmount,jdbcType=DECIMAL},
      </if>
      <if test="roundType != null">
        roundType = #{roundType,jdbcType=VARCHAR},
      </if>
      <if test="roundPrecision != null">
        roundPrecision = #{roundPrecision,jdbcType=REAL},
      </if>
      <if test="overflowFlag != null">
        overflowFlag = #{overflowFlag,jdbcType=BIT},
      </if>
      <if test="changeFlag != null">
        changeFlag = #{changeFlag,jdbcType=BIT},
      </if>
      <if test="recordFlag != null">
        recordFlag = #{recordFlag,jdbcType=BIT},
      </if>
      <if test="invoiceFlag != null">
        invoiceFlag = #{invoiceFlag,jdbcType=BIT},
      </if>
      <if test="netvalueFlag != null">
        netvalueFlag = #{netvalueFlag,jdbcType=BIT},
      </if>
      <if test="payRemark != null">
        payRemark = #{payRemark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=SMALLINT},
      </if>
      <if test="leafFlag != null">
        leafFlag = #{leafFlag,jdbcType=BIT},
      </if>
      <if test="lang != null">
        lang = #{lang,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        updateDate = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="currencyCode != null">
        currencyCode = #{currencyCode,jdbcType=VARCHAR},
      </if>
      <if test="currencyFlag != null">
        currencyFlag = #{currencyFlag,jdbcType=VARCHAR},
      </if>
      <if test="cardPayType != null">
        cardPayType = #{cardPayType,jdbcType=VARCHAR},
      </if>
      <if test="returnPayFlag != null">
        returnPayFlag = #{returnPayFlag,jdbcType=BIT},
      </if>
    </set>
    where pmid = #{pmid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efuture.model.PaymentMethod">
    update paymentmethod
    set entId = #{entId,jdbcType=BIGINT},
      parentId = #{parentId,jdbcType=BIGINT},
      parentCode = #{parentCode,jdbcType=VARCHAR},
      payLevel = #{payLevel,jdbcType=INTEGER},
      payType = #{payType,jdbcType=VARCHAR},
      virtualPayType = #{virtualPayType,jdbcType=SMALLINT},
      payCode = #{payCode,jdbcType=VARCHAR},
      paySCode = #{paySCode,jdbcType=VARCHAR},
      payName = #{payName,jdbcType=VARCHAR},
      payPattern = #{payPattern,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=DOUBLE},
      changeRate = #{changeRate,jdbcType=DOUBLE},
      minAmount = #{minAmount,jdbcType=DECIMAL},
      maxAmount = #{maxAmount,jdbcType=DECIMAL},
      roundType = #{roundType,jdbcType=VARCHAR},
      roundPrecision = #{roundPrecision,jdbcType=REAL},
      overflowFlag = #{overflowFlag,jdbcType=BIT},
      changeFlag = #{changeFlag,jdbcType=BIT},
      recordFlag = #{recordFlag,jdbcType=BIT},
      invoiceFlag = #{invoiceFlag,jdbcType=BIT},
      netvalueFlag = #{netvalueFlag,jdbcType=BIT},
      payRemark = #{payRemark,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      level = #{level,jdbcType=SMALLINT},
      leafFlag = #{leafFlag,jdbcType=BIT},
      lang = #{lang,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createDate = #{createDate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      updateDate = #{updateDate,jdbcType=TIMESTAMP},
      currencyCode = #{currencyCode,jdbcType=VARCHAR},
      currencyFlag = #{currencyFlag,jdbcType=VARCHAR},
      cardPayType = #{cardPayType,jdbcType=VARCHAR},
      returnPayFlag = #{returnPayFlag,jdbcType=BIT}
    where pmid = #{pmid,jdbcType=BIGINT}
  </update>
</mapper>