<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
    <!-- <setting name="logImpl" value="STDOUT_LOGGING"/>-->
    <setting name="callSettersOnNulls" value="true"/>
    </settings>

<!-- 忽略KEY大小写的MAP -->
	<!--<typeAliases>
        <typeAlias type="com.product.storage.mybatis.HashMapCase" alias="MapCase"/>
        <typeAlias type="com.alibaba.fastjson.JSONObject" alias="JSONObject"/>
    </typeAliases> -->
    
    <typeAliases>
		<typeAlias type="java.util.HashMap" alias="MapCase" />
		<typeAlias type="com.alibaba.fastjson.JSONObject" alias="JSONObject"/>
	</typeAliases>

    <plugins>
        <plugin interceptor="com.product.storage.filter.ExecutorWrapper">
            <property name="dbType" value="mysql" />
        </plugin>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="offsetAsPageNum" value="false"/>
            <property name="rowBoundsWithCount" value="true"/>
            <property name="pageSizeZero" value="false"/>
        </plugin>

    </plugins>

    <mappers>
        <mapper resource="beanmapper/CommonMapper.xml"/>


        <mapper resource="beanmapper/DynQuery.xml"/>
        <mapper resource="beanmapper/MyQuery.xml"/>
        <mapper resource="beanmapper/ExtBrandInfoModelMapper.xml"/>
        <mapper resource="beanmapper/ExtCategoryModelMapper.xml"/>
        <mapper resource="beanmapper/ExtErpPaymentMethodModelMapper.xml"/>
        <mapper resource="beanmapper/ExtGoodsModelMapper.xml"/>
        <mapper resource="beanmapper/ExtGoodsShopRefModelMapper.xml"/>
        <mapper resource="beanmapper/TmpExtGoodsShopRefModelMapper.xml"/>
        <mapper resource="beanmapper/ExtGoodsSpecModelMapper.xml"/>
        <mapper resource="beanmapper/ExtGoodsVenderRefModelMapper.xml"/>
        <mapper resource="beanmapper/ExtPriceChangeBillDetailModelMapper.xml"/>
        <mapper resource="beanmapper/ExtPriceChangeBillModelMapper.xml"/>
        <mapper resource="beanmapper/ExtSaleOrgModelMapper.xml"/>
        <mapper resource="beanmapper/ExtShopModelMapper.xml"/>
        <mapper resource="beanmapper/ExtVenderModelMapper.xml"/>
        <mapper resource="beanmapper/ExtGoodsMoreBarcodeModelMapper.xml"/>
        <mapper resource="beanmapper/ExtGoodsDescModelMapper.xml"/>
        <mapper resource="beanmapper/stock/ExtShelfGoodsRefModelMapper.xml"/>
        <mapper resource="beanmapper/ExtSaleGoodsItemsModelMapper.xml"/>
        <mapper resource="beanmapper/ExtAeonMoreBarNoModelMapper.xml"/>



        <mapper resource="beanmapper/BrandInfoModelMapper.xml"/>
        <mapper resource="beanmapper/CategoryModelMapper.xml"/>
        <mapper resource="beanmapper/ERPPaymentMethodModelMapper.xml"/>
        <mapper resource="beanmapper/GoodsModelMapper.xml"/>
        <mapper resource="beanmapper/GoodsShopRefModelMapper.xml"/>
        <mapper resource="beanmapper/GoodsSpecModelMapper.xml"/>
        <mapper resource="beanmapper/GoodsVenderRefModelMapper.xml"/>
        <mapper resource="beanmapper/PriceChangeBillDetailModelMapper.xml"/>
        <mapper resource="beanmapper/PriceChangeBillModelMapper.xml"/>
        <mapper resource="beanmapper/SaleOrgModelMapper.xml"/>
        <mapper resource="beanmapper/ShopModelMapper.xml"/>
        <mapper resource="beanmapper/VenderModelMapper.xml"/>
        <mapper resource="beanmapper/GoodsMoreBarcodeModelMapper.xml"/>
        <mapper resource="beanmapper/GoodsDescModelMapper.xml"/>
        <mapper resource="beanmapper/SaleGoodsItemsModelMapper.xml"/>
        <mapper resource="beanmapper/AeonMoreBarNoModelMapper.xml"/>
        <mapper resource="beanmapper/AmcprofileModelMapper.xml"/>
        
        <mapper resource="beanmapper/ErrorLogModelMapper.xml" />
        <mapper resource="beanmapper/AdvancedQueryMapper.xml" />
    </mappers>
</configuration>
