<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="beanmapper.hwg.Hwg_FulfillmentShopModelMapper">
	<resultMap id="BaseResultMap"
		type="com.efuture.omdmain.model.hwg.Hwg_FulfillmentShopModel">
		<id column="hfsid" property="hfsid" jdbcType="BIGINT" />
		<result column="entId" property="entId" jdbcType="BIGINT" />
		<result column="erpCode" property="erpCode" jdbcType="VARCHAR" />
		<result column="shopId" property="shopId" jdbcType="BIGINT" />
		<result column="shopCode" property="shopCode"
			jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="SMALLINT" />
		<result column="lang" property="lang" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="createDate" property="createDate"
			jdbcType="TIMESTAMP" />
		<result column="modifier" property="modifier"
			jdbcType="VARCHAR" />
		<result column="updateDate" property="updateDate"
			jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		hfsid, entId, erpCode, shopId, shopCode, status, lang,
		creator, createDate,
		modifier,
		updateDate
	</sql>

	<select id="searchCount" parameterType="Map" resultType="long">
		select
		count(1) from hwg_fulfillmentshop where erpCode=
		#{erpCode,jdbcType=VARCHAR};

	</select>

	<update id="update">
		update hwg_fulfillmentshop
		<set>
			<if test="status != null">
				status = #{status,jdbcType=SMALLINT},
			</if>
			<if test="modifier != null">
				modifier = #{modifier,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				updateDate = #{updateDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where
		erpCode =
		#{erpCode,jdbcType=VARCHAR} and (shopCode,shopId) in
		${params}

	</update>

	<update id="updateNotIn">
		update hwg_fulfillmentshop
		<set>
			<if test="status != null">
				status = #{status,jdbcType=SMALLINT},
			</if>
			<if test="modifier != null">
				modifier = #{modifier,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				updateDate = #{updateDate,jdbcType=TIMESTAMP},
			</if>
		</set>

		where
		erpCode =
		#{erpCode,jdbcType=VARCHAR} and (shopCode,shopId) not in
		${params}

	</update>


	<select id="search" parameterType="Map"
		resultType="com.alibaba.fastjson.JSONObject">
		select * from hwg_fulfillmentshop
		where erpCode=
		#{erpCode,jdbcType=VARCHAR}
		<if test="null != params and '' != params">
			and (shopCode,shopId) in ${params}
		</if>
	</select>

	<select id="searchAll"
		resultType="com.alibaba.fastjson.JSONObject">
		select * from
		hwg_fulfillmentshop
	</select>

	<select id="searchList" resultType="Map">
		select * from
		hwg_fulfillmentshop
		where status = 1 and erpCode=
		#{erpCode,jdbcType=VARCHAR};
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from hwg_fulfillmentshop
		where hfsid = #{hfsid,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		hwg_fulfillmentshop
		where hfsid = #{hfsid,jdbcType=BIGINT}
	</delete>
	<insert id="insert"
		parameterType="com.efuture.omdmain.model.hwg.Hwg_FulfillmentShopModel">
		insert into hwg_fulfillmentshop (hfsid, entId, erpCode,
		shopId, shopCode, status,
		lang, creator, createDate,
		modifier,
		updateDate)
		values (#{hfsid,jdbcType=BIGINT}, #{entId,jdbcType=BIGINT},
		#{erpCode,jdbcType=VARCHAR},
		#{shopId,jdbcType=BIGINT},
		#{shopCode,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT},
		#{lang,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR},
		#{createDate,jdbcType=TIMESTAMP},
		#{modifier,jdbcType=VARCHAR},
		#{updateDate,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective"
		parameterType="com.efuture.omdmain.model.hwg.Hwg_FulfillmentShopModel">
		insert into hwg_fulfillmentshop
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="hfsid != null">
				hfsid,
			</if>
			<if test="entId != null">
				entId,
			</if>
			<if test="erpCode != null">
				erpCode,
			</if>
			<if test="shopId != null">
				shopId,
			</if>
			<if test="shopCode != null">
				shopCode,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="lang != null">
				lang,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="createDate != null">
				createDate,
			</if>
			<if test="modifier != null">
				modifier,
			</if>
			<if test="updateDate != null">
				updateDate,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="hfsid != null">
				#{hfsid,jdbcType=BIGINT},
			</if>
			<if test="entId != null">
				#{entId,jdbcType=BIGINT},
			</if>
			<if test="erpCode != null">
				#{erpCode,jdbcType=VARCHAR},
			</if>
			<if test="shopId != null">
				#{shopId,jdbcType=BIGINT},
			</if>
			<if test="shopCode != null">
				#{shopCode,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=SMALLINT},
			</if>
			<if test="lang != null">
				#{lang,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				#{modifier,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.efuture.omdmain.model.hwg.Hwg_FulfillmentShopModel">
		update hwg_fulfillmentshop
		<set>
			<if test="entId != null">
				entId = #{entId,jdbcType=BIGINT},
			</if>
			<if test="erpCode != null">
				erpCode = #{erpCode,jdbcType=VARCHAR},
			</if>
			<if test="shopId != null">
				shopId = #{shopId,jdbcType=BIGINT},
			</if>
			<if test="shopCode != null">
				shopCode = #{shopCode,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=SMALLINT},
			</if>
			<if test="lang != null">
				lang = #{lang,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				createDate = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				modifier = #{modifier,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				updateDate = #{updateDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where hfsid = #{hfsid,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.efuture.omdmain.model.hwg.Hwg_FulfillmentShopModel">
		update hwg_fulfillmentshop
		set entId =
		#{entId,jdbcType=BIGINT},
		erpCode = #{erpCode,jdbcType=VARCHAR},
		shopId
		= #{shopId,jdbcType=BIGINT},
		shopCode = #{shopCode,jdbcType=VARCHAR},
		status = #{status,jdbcType=SMALLINT},
		lang = #{lang,jdbcType=VARCHAR},
		creator = #{creator,jdbcType=VARCHAR},
		createDate =
		#{createDate,jdbcType=TIMESTAMP},
		modifier =
		#{modifier,jdbcType=VARCHAR},
		updateDate =
		#{updateDate,jdbcType=TIMESTAMP}
		where hfsid = #{hfsid,jdbcType=BIGINT}
	</update>
</mapper>