<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beanmapper.BusinessCompanyModelMapper">
  <resultMap id="BaseResultMap" type="com.efuture.omdmain.model.BusinessCompanyModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="bcid" jdbcType="BIGINT" property="bcid" />
    <result column="entId" jdbcType="BIGINT" property="entId" />
    <result column="erpCode" jdbcType="VARCHAR" property="erpCode" />
    <result column="erpName" jdbcType="VARCHAR" property="erpName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  
  <select id="selectInErpCodes" parameterType="map" resultMap="BaseResultMap">
  	SELECT b.*
  	FROM BusinessCompany b
  	WHERE 1=1 AND b.entId = #{entId}
  	AND b.erpCode IN 
    <foreach item="item" index="index" collection="erpCodes" open="(" separator="," close=")">
  		#{item}
    </foreach>
  </select>
</mapper>