<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beanmapper.CateringTimeMapper">
  <resultMap id="BaseResultMap" type="com.efuture.omdmain.model.CateringTime">
    <!--@mbg.generated-->
    <!--@Table cateringtime-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="entId" jdbcType="BIGINT" property="entId" />
    <result column="erpCode" jdbcType="VARCHAR" property="erpCode" />
    <result column="cateringTimeCode" jdbcType="VARCHAR" property="cateringTimeCode" />
    <result column="cateringTimeName" jdbcType="VARCHAR" property="cateringTimeName" />
    <result column="startTime" jdbcType="TIME" property="startTime" />
    <result column="endTime" jdbcType="TIME" property="endTime" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, entId, erpCode, cateringTimeCode, cateringTimeName, startTime, endTime, `status`,
    lang, creator, createDate, modifier, updateDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from cateringtime
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from cateringtime
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.efuture.omdmain.model.CateringTime">
    <!--@mbg.generated-->
    insert into cateringtime (id, entId, erpCode,
    cateringTimeCode, cateringTimeName, startTime,
    endTime, `status`, lang, creator,
    createDate, modifier, updateDate)
    values (#{id,jdbcType=BIGINT}, #{entId,jdbcType=BIGINT}, #{erpCode,jdbcType=VARCHAR},
    #{cateringTimeCode,jdbcType=VARCHAR}, #{cateringTimeName,jdbcType=VARCHAR}, #{startTime,jdbcType=TIME},
    #{endTime,jdbcType=TIME}, #{status,jdbcType=CHAR}, #{lang,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR},
    #{createDate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.efuture.omdmain.model.CateringTime">
    <!--@mbg.generated-->
    insert into cateringtime
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="entId != null">
        entId,
      </if>
      <if test="erpCode != null">
        erpCode,
      </if>
      <if test="cateringTimeCode != null">
        cateringTimeCode,
      </if>
      <if test="cateringTimeName != null">
        cateringTimeName,
      </if>
      <if test="startTime != null">
        startTime,
      </if>
      <if test="endTime != null">
        endTime,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="lang != null">
        lang,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="updateDate != null">
        updateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="entId != null">
        #{entId,jdbcType=BIGINT},
      </if>
      <if test="erpCode != null">
        #{erpCode,jdbcType=VARCHAR},
      </if>
      <if test="cateringTimeCode != null">
        #{cateringTimeCode,jdbcType=VARCHAR},
      </if>
      <if test="cateringTimeName != null">
        #{cateringTimeName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIME},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIME},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="lang != null">
        #{lang,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.efuture.omdmain.model.CateringTime">
    <!--@mbg.generated-->
    update cateringtime
    <set>
      <if test="entId != null">
        entId = #{entId,jdbcType=BIGINT},
      </if>
      <if test="erpCode != null">
        erpCode = #{erpCode,jdbcType=VARCHAR},
      </if>
      <if test="cateringTimeCode != null">
        cateringTimeCode = #{cateringTimeCode,jdbcType=VARCHAR},
      </if>
      <if test="cateringTimeName != null">
        cateringTimeName = #{cateringTimeName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        startTime = #{startTime,jdbcType=TIME},
      </if>
      <if test="endTime != null">
        endTime = #{endTime,jdbcType=TIME},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=CHAR},
      </if>
      <if test="lang != null">
        lang = #{lang,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        updateDate = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efuture.omdmain.model.CateringTime">
    <!--@mbg.generated-->
    update cateringtime
    set entId = #{entId,jdbcType=BIGINT},
    erpCode = #{erpCode,jdbcType=VARCHAR},
    cateringTimeCode = #{cateringTimeCode,jdbcType=VARCHAR},
    cateringTimeName = #{cateringTimeName,jdbcType=VARCHAR},
    startTime = #{startTime,jdbcType=TIME},
    endTime = #{endTime,jdbcType=TIME},
    `status` = #{status,jdbcType=CHAR},
    lang = #{lang,jdbcType=VARCHAR},
    creator = #{creator,jdbcType=VARCHAR},
    createDate = #{createDate,jdbcType=TIMESTAMP},
    modifier = #{modifier,jdbcType=VARCHAR},
    updateDate = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update cateringtime
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="entId = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.entId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="erpCode = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.erpCode,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="cateringTimeCode = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.cateringTimeCode,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="cateringTimeName = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.cateringTimeName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="startTime = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.startTime,jdbcType=TIME}
        </foreach>
      </trim>
      <trim prefix="endTime = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.endTime,jdbcType=TIME}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=CHAR}
        </foreach>
      </trim>
      <trim prefix="lang = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.lang,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="creator = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.creator,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="createDate = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createDate,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="modifier = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.modifier,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="updateDate = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updateDate,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    replace into cateringtime
    (id, entId, erpCode, cateringTimeCode, cateringTimeName, startTime, endTime, `status`,
    lang, creator, createDate, modifier, updateDate)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.entId,jdbcType=BIGINT}, #{item.erpCode,jdbcType=VARCHAR},
      #{item.cateringTimeCode,jdbcType=VARCHAR}, #{item.cateringTimeName,jdbcType=VARCHAR},
      #{item.startTime,jdbcType=TIME}, #{item.endTime,jdbcType=TIME}, #{item.status,jdbcType=CHAR},
      #{item.lang,jdbcType=VARCHAR}, #{item.creator,jdbcType=VARCHAR}, #{item.createDate,jdbcType=TIMESTAMP},
      #{item.modifier,jdbcType=VARCHAR}, #{item.updateDate,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.efuture.omdmain.model.CateringTime">
    <!--@mbg.generated-->
    insert into cateringtime
    (id, entId, erpCode, cateringTimeCode, cateringTimeName, startTime, endTime, `status`,
    lang, creator, createDate, modifier, updateDate)
    values
    (#{id,jdbcType=BIGINT}, #{entId,jdbcType=BIGINT}, #{erpCode,jdbcType=VARCHAR}, #{cateringTimeCode,jdbcType=VARCHAR},
    #{cateringTimeName,jdbcType=VARCHAR}, #{startTime,jdbcType=TIME}, #{endTime,jdbcType=TIME},
    #{status,jdbcType=CHAR}, #{lang,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR},
    #{createDate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
    )
    on duplicate key update
    id = #{id,jdbcType=BIGINT},
    entId = #{entId,jdbcType=BIGINT},
    erpCode = #{erpCode,jdbcType=VARCHAR},
    cateringTimeCode = #{cateringTimeCode,jdbcType=VARCHAR},
    cateringTimeName = #{cateringTimeName,jdbcType=VARCHAR},
    startTime = #{startTime,jdbcType=TIME},
    endTime = #{endTime,jdbcType=TIME},
    `status` = #{status,jdbcType=CHAR},
    lang = #{lang,jdbcType=VARCHAR},
    creator = #{creator,jdbcType=VARCHAR},
    createDate = #{createDate,jdbcType=TIMESTAMP},
    modifier = #{modifier,jdbcType=VARCHAR},
    updateDate = #{updateDate,jdbcType=TIMESTAMP}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.efuture.omdmain.model.CateringTime">
    <!--@mbg.generated-->
    insert into cateringtime
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="entId != null">
        entId,
      </if>
      <if test="erpCode != null">
        erpCode,
      </if>
      <if test="cateringTimeCode != null">
        cateringTimeCode,
      </if>
      <if test="cateringTimeName != null">
        cateringTimeName,
      </if>
      <if test="startTime != null">
        startTime,
      </if>
      <if test="endTime != null">
        endTime,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="lang != null">
        lang,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="updateDate != null">
        updateDate,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="entId != null">
        #{entId,jdbcType=BIGINT},
      </if>
      <if test="erpCode != null">
        #{erpCode,jdbcType=VARCHAR},
      </if>
      <if test="cateringTimeCode != null">
        #{cateringTimeCode,jdbcType=VARCHAR},
      </if>
      <if test="cateringTimeName != null">
        #{cateringTimeName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIME},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIME},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="lang != null">
        #{lang,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    on duplicate key update
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="entId != null">
        entId = #{entId,jdbcType=BIGINT},
      </if>
      <if test="erpCode != null">
        erpCode = #{erpCode,jdbcType=VARCHAR},
      </if>
      <if test="cateringTimeCode != null">
        cateringTimeCode = #{cateringTimeCode,jdbcType=VARCHAR},
      </if>
      <if test="cateringTimeName != null">
        cateringTimeName = #{cateringTimeName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        startTime = #{startTime,jdbcType=TIME},
      </if>
      <if test="endTime != null">
        endTime = #{endTime,jdbcType=TIME},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=CHAR},
      </if>
      <if test="lang != null">
        lang = #{lang,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        updateDate = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>