<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beanmapper.DecomposeRecipeModelMapper">
  <resultMap id="BaseResultMap" type="com.efuture.omdmain.model.DecomposeRecipeModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="drid" jdbcType="BIGINT" property="drid" />
    <result column="entId" jdbcType="BIGINT" property="entId" />
    <result column="erpCode" jdbcType="VARCHAR" property="erpCode" />
    <result column="sheetNo" jdbcType="VARCHAR" property="sheetNo" />
    <result column="sgid" jdbcType="BIGINT" property="sgid" />
    <result column="goodsCode" jdbcType="VARCHAR" property="goodsCode" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  
  <!--按条件查询分解配方单表 -->
  <select id="getDecomposeRecipeList" parameterType="map" resultType="map">
		SELECT d.*,g.goodsName,g.barNo,g.categoryCode,c.categoryName
		FROM decomposeRecipe d
		JOIN goods g ON  g.sgid=d.sgid
		LEFT JOIN category c ON  g.categoryId=c.categoryId
		WHERE 1=1
		<if test="entId != null">
			AND d.entId = #{entId}
		</if>
		<if test="erpCode != null">
			AND d.erpCode = #{erpCode}
		</if>
		<if test="goodsCode != null">
			AND d.goodsCode like concat('%',#{goodsCode},'%')
		</if>
		<if test="goodsName != null">
			AND g.goodsName like concat('%',#{goodsName},'%')
		</if>
		<if test="categoryId != null">
			AND g.categoryId IN 
            <foreach collection="categoryId" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
		</if>
		<if test="page_no != null and page_size != null">
			limit ${page_no},${page_size}
		</if>
	</select>
  
  	<!--按条件查询分解配方单表总数 -->
	<select id="countDecomposeRecipeList" parameterType="map" resultType="long">
		SELECT
			COUNT(1)
		FROM decomposeRecipe d
		JOIN goods g ON  g.sgid=d.sgid
		LEFT JOIN category c ON  g.categoryId=c.categoryId
		WHERE 1=1
		<if test="entId != null">
			AND d.entId = #{entId}
		</if>
		<if test="erpCode != null">
			AND d.erpCode = #{erpCode}
		</if>
		<if test="goodsCode != null">
			AND d.goodsCode like concat('%',#{goodsCode},'%')
		</if>
		<if test="goodsName != null">
			AND g.goodsName like concat('%',#{goodsName},'%')
		</if>
		<if test="categoryId != null">
			AND g.categoryId IN 
            <foreach collection="categoryId" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
		</if>
 	</select>
  
  <!--批量删除分解配方单-->
  <delete id="decomposeRecipeDelete" parameterType="java.util.List">
		DELETE FROM decomposeRecipe WHERE
		drid IN
		<foreach collection="drids" index="index" open="(" separator="," close=")" item="item">
			#{item}
		</foreach>
  </delete>
  
  <select id="selectDetailInfo" parameterType="map" resultType="map">
  	SELECT r.entId, r.erpCode, r.sheetNo, r.sgid, 
  	d.goodsCode, d.barNo, d.goodsName, d.categoryCode, d.categoryName,
  	d.purPriceAmount, d.goodsSpec, d.recipeRate
  	FROM DecomposeRecipe r, DecomposeRecipeDetail d 
  	WHERE 1=1
  	AND r.drid = d.drid
  	<if test="entId != null">
  		AND r.entId = #{entId}
  	</if>
  	<if test="erpCode != null">
  		AND r.erpCode = #{erpCode}
  	</if>
  	<if test="sgid != null">
  		AND r.sgid = #{sgid}
  	</if>
  	<if test="goodsCode != null">
  		AND r.goodsCode = #{goodsCode}
  	</if>
  </select>
  
</mapper>