<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beanmapper.DecomposeRecipeDetailModelMapper">
  <resultMap id="BaseResultMap" type="com.efuture.omdmain.model.DecomposeRecipeDetailModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="drdid" jdbcType="BIGINT" property="drdid" />
    <result column="entId" jdbcType="BIGINT" property="entId" />
    <result column="drid" jdbcType="BIGINT" property="drid" />
    <result column="goodsCode" jdbcType="VARCHAR" property="goodsCode" />
    <result column="barNo" jdbcType="VARCHAR" property="barNo" />
    <result column="goodsName" jdbcType="VARCHAR" property="goodsName" />
    <result column="categoryCode" jdbcType="VARCHAR" property="categoryCode" />
    <result column="categoryName" jdbcType="VARCHAR" property="categoryName" />
    <result column="purPriceAmount" jdbcType="DECIMAL" property="purPriceAmount" />
    <result column="goodsSpec" jdbcType="VARCHAR" property="goodsSpec" />
    <result column="recipeRate" jdbcType="REAL" property="recipeRate" />
  </resultMap>
  
  <!--删除分解配方单，同时删除分解配方单明细-->
  <delete id="deleteAll" parameterType="map">
	  	DELETE FROM decomposeRecipeDetail 
	  	WHERE 1=1 AND drid IN
	  	<foreach collection="drids" index="index" open="(" separator="," close=")" item="item">
			#{item}
		</foreach>
  </delete>
  
  <!--批量删除分解配方单明细-->
  <delete id="deleteByDrdid" parameterType="map">
  	DELETE FROM decomposeRecipeDetail 
  	WHERE 1=1 AND drdid IN
  	<foreach collection="drdids" index="index" open="(" separator="," close=")" item="item">
		#{item}
	</foreach>
  </delete>
  
  
  <delete id="deleteByDrid" parameterType="map">
  	DELETE FROM decomposeRecipeDetail 
  	WHERE drid = #{drid}
  </delete>
  
  
</mapper>