<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beanmapper.ExtERPPaymentMethodModelMapper">
  <resultMap id="BaseResultMap" type="com.efuture.omdmain.model.ExtERPPaymentMethodModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="eepmid" jdbcType="BIGINT" property="eepmid" />
    <result column="entId" jdbcType="BIGINT" property="entId" />
    <result column="erpCode" jdbcType="VARCHAR" property="erpCode" />
    <result column="parentId" jdbcType="BIGINT" property="parentId" />
    <result column="parentCode" jdbcType="VARCHAR" property="parentCode" />
    <result column="payLevel" jdbcType="INTEGER" property="payLevel" />
    <result column="payType" jdbcType="VARCHAR" property="payType" />
    <result column="virtualPayType" jdbcType="SMALLINT" property="virtualPayType" />
    <result column="payCode" jdbcType="VARCHAR" property="payCode" />
    <result column="paySCode" jdbcType="VARCHAR" property="paySCode" />
    <result column="payName" jdbcType="VARCHAR" property="payName" />
    <result column="payPattern" jdbcType="VARCHAR" property="payPattern" />
    <result column="rate" jdbcType="DOUBLE" property="rate" />
    <result column="changeRate" jdbcType="DOUBLE" property="changeRate" />
    <result column="minAmount" jdbcType="DECIMAL" property="minAmount" />
    <result column="maxAmount" jdbcType="DECIMAL" property="maxAmount" />
    <result column="roundType" jdbcType="VARCHAR" property="roundType" />
    <result column="roundPrecision" jdbcType="DOUBLE" property="roundPrecision" />
    <result column="overflowFlag" jdbcType="BIT" property="overflowFlag" />
    <result column="changeFlag" jdbcType="BIT" property="changeFlag" />
    <result column="recordFlag" jdbcType="BIT" property="recordFlag" />
    <result column="invoiceFlag" jdbcType="BIT" property="invoiceFlag" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="leafFlag" jdbcType="BIT" property="leafFlag" />
    <result column="sourceFromCode" jdbcType="VARCHAR" property="sourceFromCode" />
    <result column="dealStatus" jdbcType="INTEGER" property="dealStatus" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
</mapper>