<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beanmapper.ExtGoodsVenderRefModelMapper">
  <resultMap id="BaseResultMap" type="com.efuture.omdmain.model.ExtGoodsVenderRefModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="egvrid" jdbcType="BIGINT" property="egvrid" />
    <result column="entId" jdbcType="BIGINT" property="entId" />
    <result column="erpCode" jdbcType="VARCHAR" property="erpCode" />
    <result column="shopId" jdbcType="BIGINT" property="shopId" />
    <result column="shopCode" jdbcType="VARCHAR" property="shopCode" />
    <result column="venderCode" jdbcType="VARCHAR" property="venderCode" />
    <result column="goodsCode" jdbcType="VARCHAR" property="goodsCode" />
    <result column="cost" jdbcType="DECIMAL" property="cost" />
    <result column="contractCost" jdbcType="DECIMAL" property="contractCost" />
    <result column="costTaxRate" jdbcType="REAL" property="costTaxRate" />
    <result column="deductRate" jdbcType="DECIMAL" property="deductRate" />
    <result column="returnFlag" jdbcType="INTEGER" property="returnFlag" />
    <result column="orderFlag" jdbcType="INTEGER" property="orderFlag" />
    <result column="logistics" jdbcType="INTEGER" property="logistics" />
    <result column="offDate" jdbcType="TIMESTAMP" property="offDate" />
    <result column="defaultSort" jdbcType="INTEGER" property="defaultSort" />
    <result column="inDate" jdbcType="TIMESTAMP" property="inDate" />
    <result column="inOper" jdbcType="VARCHAR" property="inOper" />
    <result column="sourceFromCode" jdbcType="VARCHAR" property="sourceFromCode" />
    <result column="dealStatus" jdbcType="INTEGER" property="dealStatus" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
</mapper>