<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beanmapper.ExtVenderMapper">
  <resultMap id="BaseResultMap" type="com.efuture.omdmain.model.ExtVender">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="evid" jdbcType="BIGINT" property="evid" />
    <result column="entId" jdbcType="BIGINT" property="entId" />
    <result column="erpCode" jdbcType="VARCHAR" property="erpCode" />
    <result column="venderCode" jdbcType="VARCHAR" property="venderCode" />
    <result column="vendersName" jdbcType="VARCHAR" property="vendersName" />
    <result column="venderName" jdbcType="VARCHAR" property="venderName" />
    <result column="venderEnName" jdbcType="VARCHAR" property="venderEnName" />
    <result column="parentVenderId" jdbcType="BIGINT" property="parentVenderId" />
    <result column="venderType" jdbcType="INTEGER" property="venderType" />
    <result column="contractType" jdbcType="INTEGER" property="contractType" />
    <result column="majorId" jdbcType="INTEGER" property="majorId" />
    <result column="sShopId" jdbcType="VARCHAR" property="sShopId" />
    <result column="venderCardId" jdbcType="VARCHAR" property="venderCardId" />
    <result column="taxPayNum" jdbcType="VARCHAR" property="taxPayNum" />
    <result column="IdentityCard" jdbcType="VARCHAR" property="identityCard" />
    <result column="localFlag" jdbcType="INTEGER" property="localFlag" />
    <result column="dayPayFlag" jdbcType="INTEGER" property="dayPayFlag" />
    <result column="primaryFlag" jdbcType="INTEGER" property="primaryFlag" />
    <result column="payMode" jdbcType="INTEGER" property="payMode" />
    <result column="prepayFlag" jdbcType="INTEGER" property="prepayFlag" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="contactMan" jdbcType="VARCHAR" property="contactMan" />
    <result column="contactPhone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="zipCode" jdbcType="VARCHAR" property="zipCode" />
    <result column="bankName" jdbcType="VARCHAR" property="bankName" />
    <result column="bankAccount" jdbcType="VARCHAR" property="bankAccount" />
    <result column="bankAccountName" jdbcType="VARCHAR" property="bankAccountName" />
    <result column="bizScope" jdbcType="VARCHAR" property="bizScope" />
    <result column="bizLevel" jdbcType="VARCHAR" property="bizLevel" />
    <result column="chairMan" jdbcType="VARCHAR" property="chairMan" />
    <result column="zoneId" jdbcType="INTEGER" property="zoneId" />
    <result column="taxLevel" jdbcType="INTEGER" property="taxLevel" />
    <result column="orderMode" jdbcType="INTEGER" property="orderMode" />
    <result column="venderStatus" jdbcType="INTEGER" property="venderStatus" />
    <result column="netAddress" jdbcType="VARCHAR" property="netAddress" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="invoiceAddress" jdbcType="VARCHAR" property="invoiceAddress" />
    <result column="invoiceHead" jdbcType="VARCHAR" property="invoiceHead" />
    <result column="registerCap" jdbcType="DECIMAL" property="registerCap" />
    <result column="entKind" jdbcType="VARCHAR" property="entKind" />
    <result column="orderDay" jdbcType="VARCHAR" property="orderDay" />
    <result column="inDate" jdbcType="TIMESTAMP" property="inDate" />
    <result column="inDepartment" jdbcType="VARCHAR" property="inDepartment" />
    <result column="inVendee" jdbcType="VARCHAR" property="inVendee" />
    <result column="endVendee" jdbcType="VARCHAR" property="endVendee" />
    <result column="endReason" jdbcType="VARCHAR" property="endReason" />
    <result column="endDate" jdbcType="TIMESTAMP" property="endDate" />
    <result column="chnageReason" jdbcType="VARCHAR" property="chnageReason" />
    <result column="inBrand" jdbcType="VARCHAR" property="inBrand" />
    <result column="shipmentSto" jdbcType="VARCHAR" property="shipmentSto" />
    <result column="deliveryType" jdbcType="VARCHAR" property="deliveryType" />
    <result column="parentFlag" jdbcType="INTEGER" property="parentFlag" />
    <result column="mallFlag" jdbcType="INTEGER" property="mallFlag" />
    <result column="purType" jdbcType="INTEGER" property="purType" />
    <result column="originType" jdbcType="INTEGER" property="originType" />
    <result column="payLevel" jdbcType="INTEGER" property="payLevel" />
    <result column="isScm" jdbcType="INTEGER" property="isScm" />
    <result column="str1" jdbcType="VARCHAR" property="str1" />
    <result column="str2" jdbcType="VARCHAR" property="str2" />
    <result column="str3" jdbcType="VARCHAR" property="str3" />
    <result column="str4" jdbcType="VARCHAR" property="str4" />
    <result column="str5" jdbcType="VARCHAR" property="str5" />
    <result column="isTrust" jdbcType="BIT" property="isTrust" />
    <result column="isSpec" jdbcType="BIT" property="isSpec" />
    <result column="scmCtl" jdbcType="BIT" property="scmCtl" />
    <result column="isSalt" jdbcType="BIT" property="isSalt" />
    <result column="trustValueRate" jdbcType="REAL" property="trustValueRate" />
    <result column="payStkValueRate" jdbcType="REAL" property="payStkValueRate" />
    <result column="isTczs" jdbcType="BIT" property="isTczs" />
    <result column="venderGrade" jdbcType="VARCHAR" property="venderGrade" />
    <result column="payGrade" jdbcType="VARCHAR" property="payGrade" />
    <result column="s3" jdbcType="VARCHAR" property="s3" />
    <result column="n1" jdbcType="DECIMAL" property="n1" />
    <result column="n2" jdbcType="DOUBLE" property="n2" />
    <result column="d1" jdbcType="TIMESTAMP" property="d1" />
    <result column="d2" jdbcType="TIMESTAMP" property="d2" />
    <result column="sourceFromCode" jdbcType="VARCHAR" property="sourceFromCode" />
    <result column="dealStatus" jdbcType="INTEGER" property="dealStatus" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
</mapper>