<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="beanmapper.GoodsSpecialModelMapper" >
  <resultMap id="BaseResultMap" type="com.efuture.omdmain.model.GoodsSpecialModel" >
    <id column="gsid" property="gsid" jdbcType="BIGINT" />
    <result column="goodsCode" property="goodsCode" jdbcType="VARCHAR" />
    <result column="goodsType" property="goodsType" jdbcType="INTEGER" />
    <result column="entId" property="entId" jdbcType="BIGINT" />
    <result column="erpCode" property="erpCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    gsid, goodsCode, goodsType, entId, erpCode
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from goodsspecial
    where gsid = #{gsid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from goodsspecial
    where gsid = #{gsid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.efuture.omdmain.model.GoodsSpecialModel" >
    insert into goodsspecial (gsid, goodsCode, goodsType, 
      entId, erpCode)
    values (#{gsid,jdbcType=BIGINT}, #{goodsCode,jdbcType=VARCHAR}, #{goodsType,jdbcType=INTEGER}, 
      #{entId,jdbcType=BIGINT}, #{erpCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.efuture.omdmain.model.GoodsSpecialModel" >
    insert into goodsspecial
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gsid != null" >
        gsid,
      </if>
      <if test="goodsCode != null" >
        goodsCode,
      </if>
      <if test="goodsType != null" >
        goodsType,
      </if>
      <if test="entId != null" >
        entId,
      </if>
      <if test="erpCode != null" >
        erpCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gsid != null" >
        #{gsid,jdbcType=BIGINT},
      </if>
      <if test="goodsCode != null" >
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=INTEGER},
      </if>
      <if test="entId != null" >
        #{entId,jdbcType=BIGINT},
      </if>
      <if test="erpCode != null" >
        #{erpCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.efuture.omdmain.model.GoodsSpecialModel" >
    update goodsspecial
    <set >
      <if test="goodsCode != null" >
        goodsCode = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        goodsType = #{goodsType,jdbcType=INTEGER},
      </if>
      <if test="entId != null" >
        entId = #{entId,jdbcType=BIGINT},
      </if>
      <if test="erpCode != null" >
        erpCode = #{erpCode,jdbcType=VARCHAR},
      </if>
    </set>
    where gsid = #{gsid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efuture.omdmain.model.GoodsSpecialModel" >
    update goodsspecial
    set goodsCode = #{goodsCode,jdbcType=VARCHAR},
      goodsType = #{goodsType,jdbcType=INTEGER},
      entId = #{entId,jdbcType=BIGINT},
      erpCode = #{erpCode,jdbcType=VARCHAR}
    where gsid = #{gsid,jdbcType=BIGINT}
  </update>
  <!-- 批量插入 -->
  <insert id="batchInsert" parameterType="map">  
        insert into goodsspecial (gsid,goodsCode,goodsType,entId,erpCode) values  
        <foreach collection="values" item="item" separator=",">  
	      (#{item.gsid,jdbcType=BIGINT}, #{item.goodsCode,jdbcType=VARCHAR}, #{item.goodsType,jdbcType=VARCHAR}, #{item.entId,jdbcType=BIGINT}, #{item.erpCode,jdbcType=VARCHAR}) 
        </foreach>  
   </insert>
   
   <delete id="batchDelete" parameterType="map">
		DELETE FROM	goodsspecial WHERE goodsCode IN
		<foreach collection="values" index="index" item="item" open="(" separator="," close=")">
           #{item}       
       	</foreach>  
       	<if test="entId != null" >
        	AND entId = #{entId,jdbcType=BIGINT}
	    </if>
	    <if test="erpCode != null" >
	        AND erpCode = #{erpCode,jdbcType=VARCHAR}
	    </if>
	     <if test="goodsType != null" >
	        AND goodsType = #{goodsType,jdbcType=VARCHAR}
	    </if>
	</delete>
</mapper>