<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beanmapper.GoodsShopRefModelMapper">
  <resultMap id="BaseResultMap" type="com.efuture.omdmain.model.GoodsShopRefModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="gsrid" jdbcType="BIGINT" property="gsrid" />
    <result column="entId" jdbcType="BIGINT" property="entId" />
    <result column="erpCode" jdbcType="VARCHAR" property="erpCode" />
    <result column="shopId" jdbcType="BIGINT" property="shopId" />
    <result column="shopCode" jdbcType="VARCHAR" property="shopCode" />
    <result column="saleOrgId" jdbcType="BIGINT" property="saleOrgId" />
    <result column="orgCode" jdbcType="VARCHAR" property="orgCode" />
    <result column="siid" jdbcType="BIGINT" property="siid" />
    <result column="stallCode" jdbcType="VARCHAR" property="stallCode" />
    <result column="sgid" jdbcType="BIGINT" property="sgid" />
    <result column="goodsName" jdbcType="VARCHAR" property="goodsName" />
    <result column="goodsCode" jdbcType="VARCHAR" property="goodsCode" />
    <result column="venderCode" jdbcType="VARCHAR" property="venderCode" />
    <result column="goodStatus" jdbcType="INTEGER" property="goodStatus" />
    <result column="cost" jdbcType="DECIMAL" property="cost" />
    <result column="contractCost" jdbcType="DECIMAL" property="contractCost" />
    <result column="costTaxRate" jdbcType="REAL" property="costTaxRate" />
    <result column="deductRate" jdbcType="DECIMAL" property="deductRate" />
    <result column="salePrice" jdbcType="DECIMAL" property="salePrice" />
    <result column="customPrice" jdbcType="DECIMAL" property="customPrice" />
    <result column="bulkPrice" jdbcType="DECIMAL" property="bulkPrice" />
    <result column="pcs" jdbcType="INTEGER" property="pcs" />
    <result column="partsNum" jdbcType="REAL" property="partsNum" />
    <result column="stepDiff" jdbcType="REAL" property="stepDiff" />
    <result column="safeStockDays" jdbcType="INTEGER" property="safeStockDays" />
    <result column="minStockDays" jdbcType="INTEGER" property="minStockDays" />
    <result column="maxStockDays" jdbcType="INTEGER" property="maxStockDays" />
    <result column="priceRight" jdbcType="SMALLINT" property="priceRight" />
    <result column="continuePurFlag" jdbcType="SMALLINT" property="continuePurFlag" />
    <result column="importantFlag" jdbcType="SMALLINT" property="importantFlag" />
    <result column="returnFlag" jdbcType="SMALLINT" property="returnFlag" />
    <result column="operateFlag" jdbcType="SMALLINT" property="operateFlag" />
    <result column="orderFlag" jdbcType="SMALLINT" property="orderFlag" />
    <result column="logistics" jdbcType="SMALLINT" property="logistics" />
    <result column="dcshopId" jdbcType="VARCHAR" property="dcshopId" />
    <result column="fdcShopId" jdbcType="VARCHAR" property="fdcShopId" />
    <result column="inDate" jdbcType="TIMESTAMP" property="inDate" />
    <result column="inOper" jdbcType="VARCHAR" property="inOper" />
    <result column="offDate" jdbcType="TIMESTAMP" property="offDate" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <update id="updateByGoods">
    <foreach collection="value" item="item" open="" separator=";" close="">
      Update goodsShopRef SET price=#{item.normalPrice} , normalPrice=#{item.normalPrice}
      WHERE goodsCode=#{item.goodsCode} AND shopId=#{item.shopId} AND shopCode=#{item.shopCode}
    </foreach>
  </update>
  
  <select id="search"  parameterType="map" resultMap="BaseResultMap">
  	SELECT f.*, g.goodsCode
  	FROM goodsShopRef f, goods g
  	WHERE 1=1 AND f.entId = g.entId AND f.sgid = g.sgid
  	<if test="entId != null">
  		AND f.entId = #{entId}
  	</if>
  	<if test="sgid != null">
  		AND f.sgid = #{sgid}
  	</if>
  	<if test="page_no != null and page_size != null">
		limit ${page_no},${page_size}
	</if>
  </select>
  
  <select id="selectByState" parameterType="map" resultType="java.util.Map">
  	SELECT g.*, s.shopName, '' as goodsName
  	FROM GoodsShopRef as g, Shop as s
  	WHERE 1=1 AND g.entId = s.entId AND g.shopId = s.shopId
  	<if test = "entId != null">
  		AND g.entId = #{entId}
  	</if>
  	<if test = "shopId != null">
  		AND g.shopId = #{shopId}
  	</if>
  	<if test = "erpCode != null">
  		AND g.erpCode = #{erpCode}
  	</if>
  	<if test = "sgid != null">
  		AND g.sgid = #{sgid}
  	</if>
  	ORDER BY s.entId,s.shopId
  	<if test = "page_no != null and page_size != null">
  		limit ${page_no},${page_size}
  	</if>
  </select>
  
  <select id="selectByStateCount" parameterType="map" resultType="long">
  	SELECT COUNT(1)
  	FROM GoodsShopRef as g, Shop as s
  	WHERE 1=1 AND g.entId = s.entId AND g.shopId = s.shopId
  	<if test = "entId != null">
  		AND g.entId = #{entId}
  	</if>
  	<if test = "shopId != null">
  		AND g.shopId = #{shopId}
  	</if>
  	<if test = "erpCode != null">
  		AND g.erpCode = #{erpCode}
  	</if>
  	<if test = "sgid != null">
  		AND g.sgid = #{sgid}
  	</if>
  </select>
  
  
 	<!--删除档口商品时,更新goodsshopref表 -->
 	<update id="updateGoodsShopRef" parameterType="map">
	  	UPDATE goodsshopref t 
			SET t.siid = null , t.stallCode = null , t.updateDate = now()
			WHERE t.gsrid = #{gsrid}
    </update>
  	
  	<!--删除档口信息时,更新goodsshopref表 -->
  	<update id="updateGoodsShopRefList" parameterType="java.util.List">
		<foreach collection="value" item="item" open="" separator=";" close="">
			Update goodsshopref SET siid= null , stallCode = null , updateDate = now()
	      	WHERE erpCode = #{item.erpCode} and shopId = #{item.shopId} and goodsCode = #{item.goodsCode}
		</foreach>
  	</update>
  
  <select id="selectGoodsTaxRate" parameterType="map" resultType="map">
  	select gf.sgid as goodsId,gf.goodsCode,gf.costTaxRate as inputTax from goodsshopref gf where gf.entId = #{entId} and gf.erpCode = #{erpCode} and gf.shopId = #{shopId}
  	and gf.sgid in 
  	<foreach collection="goodsIds" item="item" open="(" separator="," close=")">
		#{item}
	</foreach>
  </select>
  
</mapper>