<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beanmapper.GoodsMoreBarCodeModelMapper">
  <resultMap id="BaseResultMap" type="com.efuture.omdmain.model.GoodsMoreBarCodeModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="gsid" jdbcType="BIGINT" property="gsid" />
    <result column="entId" jdbcType="BIGINT" property="entId" />
    <result column="erpCode" jdbcType="VARCHAR" property="erpCode" />
    <result column="sgid" jdbcType="BIGINT" property="sgid" />
    <result column="goodsCode" jdbcType="VARCHAR" property="goodsCode" />
    <result column="codeType" jdbcType="SMALLINT" property="codeType" />
    <result column="barNo" jdbcType="VARCHAR" property="barNo" />
    <result column="partsNum" jdbcType="DOUBLE" property="partsNum" />
    <result column="partsUnit" jdbcType="VARCHAR" property="partsUnit" />
    <result column="sortLevel" jdbcType="VARCHAR" property="sortLevel" />
    <result column="salePrice" jdbcType="DECIMAL" property="salePrice" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  
  <select id="selectByState" parameterType="map" resultType="map">
  	SELECT b.*, 
  	g.partsUnit, g.partsNum, g.rweight, g.longScale, g.wideScale, g.highScale,
  	g.goodsStatus, g.originArea, g.goodsName
  	FROM GoodsMoreBarcode b, Goods g
  	WHERE 1=1
  	<if test = "entId != null">
  		AND b.entId = #{entId}
  	</if>
  	<if test = "erpCode != null">
  		AND b.erpCode = #{erpCode}
  	</if>
  	<if test = "sgid != null">
  		AND b.sgid = #{sgid}
  	</if>
  	<if test = "codeType != null">
  		AND b.codeType = #{codeType}
  	</if>
  	AND b.entId = g.entId
  	AND b.sgid = g.sgid
  	<if test="page_no != null and page_size != null">
		limit ${page_no},${page_size}
	</if>
  </select>
  
  <select id="selectByStateCount" parameterType="map" resultType="long">
  	SELECT COUNT(1)
  	FROM GoodsMoreBarcode b, Goods g
  	WHERE 1=1
  	<if test = "entId != null">
  		AND b.entId = #{entId}
  	</if>
  	<if test = "erpCode != null">
  		AND b.erpCode = #{erpCode}
  	</if>
  	<if test = "sgid != null">
  		AND b.sgid = #{sgid}
  	</if>
  	<if test = "codeType != null">
  		AND b.codeType = #{codeType}
  	</if>
  	AND b.entId = g.entId AND b.erpCode = g.erpCode
  	AND b.sgid = g.sgid
  </select>
</mapper>