<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beanmapper.GoodsSpecPriceModelMapper">
  <resultMap id="BaseResultMap" type="com.efuture.omdmain.model.GoodsSpecPriceModel">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="gspid" jdbcType="BIGINT" property="gspid" />
    <result column="entId" jdbcType="BIGINT" property="entId" />
    <result column="erpCode" jdbcType="VARCHAR" property="erpCode" />
    <result column="shopId" jdbcType="BIGINT" property="shopId" />
    <result column="shopCode" jdbcType="VARCHAR" property="shopCode" />
    <result column="sgid" jdbcType="BIGINT" property="sgid" />
    <result column="goodsCode" jdbcType="VARCHAR" property="goodsCode" />
    <result column="codeType" jdbcType="SMALLINT" property="codeType" />
    <result column="barNo" jdbcType="VARCHAR" property="barNo" />
    <result column="partsNum" jdbcType="DOUBLE" property="partsNum" />
    <result column="partsUnit" jdbcType="VARCHAR" property="partsUnit" />
    <result column="salePrice" jdbcType="DECIMAL" property="salePrice" />
    <result column="customPrice" jdbcType="DECIMAL" property="customPrice" />
    <result column="bulkPrice" jdbcType="DECIMAL" property="bulkPrice" />
    <result column="sortLevel" jdbcType="VARCHAR" property="sortLevel" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  
  <select id="selectByState" parameterType="map" resultMap="BaseResultMap">
  	SELECT p.*
  	FROM GoodsSpecPrice p
  	WHERE 1=1
  	<if test = "entId != null and entId != ''">
  		AND p.entId = #{entId}
  	</if>
  	<if test = "erpCode != null and erpCode != ''">
  		AND p.erpCode = #{erpCode}
  	</if>
  	<if test = "codeType != null and codeType != ''">
  		AND p.codeType = #{codeType}
  	</if>
  	<if test = "sgid != null and sgid != ''">
  		AND p.sgid = #{sgid}
  	</if>
  	ORDER BY p.erpCode, p.shopId
  	<if test="page_no != null and page_size != null">
		limit ${page_no},${page_size}
	</if>
  </select>
  
  <select id="selectByStateCount" parameterType="map" resultType="long">
  	SELECT COUNT(1)
  	FROM GoodsSpecPrice p
  	WHERE 1=1
  	<if test = "entId != null and entId != ''">
  		AND p.entId = #{entId}
  	</if>
  	<if test = "erpCode != null and erpCode != ''">
  		AND p.erpCode = #{erpCode}
  	</if>
  	<if test = "codeType != null and codeType != ''">
  		AND p.codeType = #{codeType}
  	</if>
  	<if test = "sgid != null and sgid != ''">
  		AND p.sgid = #{sgid}
  	</if>
  </select>
</mapper>