<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beanmapper.GoodsProcessModelMapper">
  <resultMap id="BaseResultMap" type="com.efuture.omdmain.model.GoodsProcessModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ssgid" jdbcType="BIGINT" property="ssgid" />
    <result column="entId" jdbcType="BIGINT" property="entId" />
    <result column="erpCode" jdbcType="VARCHAR" property="erpCode" />
    <result column="sgid" jdbcType="BIGINT" property="sgid" />
    <result column="goodsCode" jdbcType="VARCHAR" property="goodsCode" />
    <result column="processType" jdbcType="VARCHAR" property="processType" />
    <result column="processFee" jdbcType="DECIMAL" property="processFee" />
    <result column="minProcessFee" jdbcType="DECIMAL" property="minProcessFee" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
</mapper>