<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="beanmapper.MinDiscountModelMapper" >
	<resultMap id="BaseResultMap" type="com.efuture.omdmain.model.MinDiscountModel" >
	  <id column="minDisId" property="minDisId" jdbcType="BIGINT" />
	  <result column="entId" property="entId" jdbcType="BIGINT" />
	  <result column="erpCode" property="erpCode" jdbcType="VARCHAR" />
	  <result column="categoryCode" property="categoryCode" jdbcType="VARCHAR" />
	  <result column="minDiscount" property="minDiscount" jdbcType="REAL" />
	  <result column="level" property="level" jdbcType="SMALLINT" />
	  <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
	</resultMap>
	<!-- 查询ClassCode的商品数量 -->
	<select id="countGoodsByClassCode" parameterType="map" resultType="int" >
		SELECT count(1) FROM goods WHERE categoryCode in
			<foreach collection="categoryCode" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
	</select>

	<!-- 查询ArtiCode对应的ClassCode的折扣 -->
	<select id="selectClassDisc" parameterType="map" resultType="map" >
		SELECT
			c.categoryCode,
			c.parentCode,
			c.`level`,
			c.erpCode,
			c.entId,
			m.minDisId,
			m.categoryCode AS minDiscCategoryCode,
			m.minDiscount 
		FROM
			category c
			LEFT JOIN mindiscount m ON c.categoryCode = m.categoryCode 
			AND c.entId = m.entId 
			AND c.erpCode = m.erpCode 
		WHERE c.parentCode = #{parentCode} and c.level = #{level}+1
	</select>
	
    <!-- 更新折扣 -->
	<update id="updateMinDiscount" parameterType="map">
		update mindiscount set minDiscount = #{minDiscount} where entId = #{entId} and erpCode = #{erpCode} and categoryCode = #{categoryCode}
	</update>
  
	<!-- 更新ClassCode对应的Goods ItemCode折扣 -->  
	<update id="updateItemCodeFromClassCode" parameterType="map">
		update goods set minDiscount = #{minDiscount},updateDate = #{updateDate},modifier = #{modifier} where entId = #{entId} and erpCode = #{erpCode} 
			and categoryCode in
			<foreach collection="classCodes" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
			<if test='refresh == "0"'>
				and (minDiscount = #{oldMinDiscount})
		    </if>
	</update>
	
	<!-- 更新ClassCode对应的SaleGoods ItemCode折扣 -->  
	<update id="updateSaleItemCodeFromClassCode" parameterType="map">
		update salegoods set minDiscount = #{minDiscount},updateDate = #{updateDate} where entId = #{entId} and erpCode = #{erpCode} 
			and categoryCode in
			<foreach collection="classCodes" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
			<if test='refresh == "0"'>
				and (minDiscount = #{oldMinDiscount})
		    </if>
	</update>

	<!-- (New 单个)更新ClassCode对应的Goods ItemCode折扣 屏蔽更新商品的更新时间 updateDate = #{updateDate}-->
	<update id="updateGoodsMinDisc" parameterType="map">
		update goods set minDiscount = #{minDiscount},modifier = #{modifier} where entId = #{entId} and erpCode = #{erpCode}
		and categoryCode = #{classCode}
		<if test='refresh == "0"'>
			and (minDiscount = #{oldMinDiscount})
		</if>
	</update>

	<!-- (New 单个)更新ClassCode对应的SaleGoods ItemCode折扣 -->
	<update id="updateSaleGoodsMinDisc" parameterType="map">
		update salegoods set minDiscount = #{minDiscount},updateDate = #{updateDate} where entId = #{entId} and erpCode = #{erpCode}
		and categoryCode = #{classCode}
		<if test='refresh == "0"'>
			and (minDiscount = #{oldMinDiscount})
		</if>
	</update>
</mapper>