<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beanmapper.PackageAttGoodsRefMapper">
  <resultMap id="BaseResultMap" type="com.efuture.omdmain.model.PackageAttGoodsRef">
    <!--@mbg.generated-->
    <!--@Table PackageAttGoodsRef-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="entId" jdbcType="BIGINT" property="entId" />
    <result column="erpCode" jdbcType="VARCHAR" property="erpCode" />
    <result column="pCode" jdbcType="VARCHAR" property="pCode" />
    <result column="goodsCode" jdbcType="VARCHAR" property="goodsCode" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, entId, erpCode, pCode, goodsCode, `status`, lang, creator, createDate, modifier, 
    updateDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from PackageAttGoodsRef
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from PackageAttGoodsRef
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.efuture.omdmain.model.PackageAttGoodsRef">
    <!--@mbg.generated-->
    insert into PackageAttGoodsRef (id, entId, erpCode, 
      pCode, goodsCode, `status`, 
      lang, creator, createDate, 
      modifier, updateDate)
    values (#{id,jdbcType=BIGINT}, #{entId,jdbcType=BIGINT}, #{erpCode,jdbcType=VARCHAR}, 
      #{pCode,jdbcType=VARCHAR}, #{goodsCode,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, 
      #{lang,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="upsert" parameterType="map">
    <!--@mbg.generated-->
    replace into PackageAttGoodsRef
    (id, entId, erpCode, pCode, goodsCode, `status`, lang, creator, createDate, modifier,
    updateDate)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.entId,jdbcType=BIGINT}, #{item.erpCode,jdbcType=VARCHAR},
      #{item.pCode,jdbcType=VARCHAR}, #{item.goodsCode,jdbcType=VARCHAR}, #{item.status,jdbcType=SMALLINT},
      #{item.lang,jdbcType=VARCHAR}, #{item.creator,jdbcType=VARCHAR}, #{item.createDate,jdbcType=TIMESTAMP},
      #{item.modifier,jdbcType=VARCHAR}, #{item.updateDate,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <delete id="delete" parameterType="com.efuture.omdmain.model.PackageAttGoodsRef">
    delete from PackageAttGoodsRef where erpCode = #{erpCode,jdbcType=VARCHAR} and entId = #{entId,jdbcType=BIGINT}
        and pCode = #{pCode,jdbcType=VARCHAR}  and goodsCode = #{goodsCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.efuture.omdmain.model.PackageAttGoodsRef">
    <!--@mbg.generated-->
    insert into PackageAttGoodsRef
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="entId != null">
        entId,
      </if>
      <if test="erpCode != null">
        erpCode,
      </if>
      <if test="pCode != null">
        pCode,
      </if>
      <if test="goodsCode != null">
        goodsCode,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="lang != null">
        lang,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="updateDate != null">
        updateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="entId != null">
        #{entId,jdbcType=BIGINT},
      </if>
      <if test="erpCode != null">
        #{erpCode,jdbcType=VARCHAR},
      </if>
      <if test="pCode != null">
        #{pCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null">
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="lang != null">
        #{lang,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.efuture.omdmain.model.PackageAttGoodsRef">
    <!--@mbg.generated-->
    update PackageAttGoodsRef
    <set>
      <if test="entId != null">
        entId = #{entId,jdbcType=BIGINT},
      </if>
      <if test="erpCode != null">
        erpCode = #{erpCode,jdbcType=VARCHAR},
      </if>
      <if test="pCode != null">
        pCode = #{pCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null">
        goodsCode = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=SMALLINT},
      </if>
      <if test="lang != null">
        lang = #{lang,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        updateDate = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efuture.omdmain.model.PackageAttGoodsRef">
    <!--@mbg.generated-->
    update PackageAttGoodsRef
    set entId = #{entId,jdbcType=BIGINT},
      erpCode = #{erpCode,jdbcType=VARCHAR},
      pCode = #{pCode,jdbcType=VARCHAR},
      goodsCode = #{goodsCode,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=SMALLINT},
      lang = #{lang,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createDate = #{createDate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      updateDate = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>