<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beanmapper.PackageAttCateMapper">
  <resultMap id="BaseResultMap" type="com.efuture.omdmain.model.PackageAttCate">
    <!--@mbg.generated-->
    <!--@Table PackageAttCate-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="entId" jdbcType="BIGINT" property="entId" />
    <result column="erpCode" jdbcType="VARCHAR" property="erpCode" />
    <result column="pCode" jdbcType="VARCHAR" property="pCode" />
    <result column="pName" jdbcType="VARCHAR" property="pName" />
    <result column="requiredCount" jdbcType="INTEGER" property="requiredCount" />
    <result column="pEnName" jdbcType="VARCHAR" property="pEnName" />
    <result column="parentCode" jdbcType="VARCHAR" property="parentCode" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="level" jdbcType="SMALLINT" property="level" />
    <result column="leafFlag" jdbcType="BOOLEAN" property="leafFlag" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>

  <!-- 查询是否重复的属性名称 -->
  <select id="selectPName" parameterType="map" resultMap="BaseResultMap">
    select * from packageattcate where pName like '${pName}%' and erpCode = '${erpCode}'
  </select>

  <!--copy packageattcate 數據-->
  <insert id="copyData" parameterType="map">
    insert into packageattcate (id, entId, erpCode, pCode, pName, requiredCount, pEnName,parentCode, `status`, `level`,
        leafFlag, lang, creator,createDate, modifier, updateDate)
    select uuid_short(), `entId`, `erpCode`, #{newPCode}, #{newPName}, requiredCount, pEnName, parentCode,`status`, `level`,
        leafFlag, lang,#{creator}, now(), #{creator}, now() from packageattcate where id = #{id};
  </insert>

  <insert id="copyDicData" parameterType="map">
    insert into packageattdict (id, entId, erpCode, pCode, dCode, dName, dEnName, `status`, orderNum,lang, creator, createDate,modifier, updateDate)
    select uuid_short(),entId, erpCode, #{newPCode}, dCode, dName, dEnName, `status`, orderNum,lang, #{creator}, now(), #{creator}, now()
        from packageattdict where erpCode = #{erpCode} and pCode = #{pCode}
  </insert>

  <!--查询是否有重复的属性名称(只针对树形数据的第二级数据)-->
  <select id="existPNameCount" parameterType="map" resultType="int">
    select count(1) from packageattcate where pCode != #{pCode,jdbcType=VARCHAR} and erpCode = #{erpCode,jdbcType=VARCHAR}
        and pName = #{pName,jdbcType=VARCHAR} and level = 2
  </select>

  <!-- 查询分类编码的子编码数据 -->
  <select id="countSonPCode" parameterType="map" resultType="int">
      select count(1) from packageattcate where parentCode = #{pCode,jdbcType=VARCHAR} and erpCode = #{erpCode,jdbcType=VARCHAR}
  </select>

  <!--查询属性分类编码-->
  <select id="countPCode" parameterType="map" resultType="int">
    select count(1) from packageattcate where pCode = #{pCode,jdbcType=VARCHAR} and erpCode = #{erpCode,jdbcType=VARCHAR}
  </select>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, entId, erpCode, pCode, pName, requiredCount, pEnName, parentCode, `status`, `level`, leafFlag,
    lang, creator, createDate, modifier, updateDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from PackageAttCate
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from PackageAttCate
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.efuture.omdmain.model.PackageAttCate">
    <!--@mbg.generated-->
    insert into PackageAttCate (id, entId, erpCode,
      pCode, pName, requiredCount, pEnName,
      parentCode, `status`, `level`,
      leafFlag, lang, creator,
      createDate, modifier, updateDate
      )
    values (#{id,jdbcType=BIGINT}, #{entId,jdbcType=BIGINT}, #{erpCode,jdbcType=VARCHAR},
      #{pCode,jdbcType=VARCHAR}, #{pName,jdbcType=VARCHAR},#{requiredCount,jdbcType=INTEGER}, #{pEnName,jdbcType=VARCHAR},
      #{parentCode,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, #{level,jdbcType=SMALLINT},
      #{leafFlag,jdbcType=BOOLEAN}, #{lang,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="upsert" parameterType="map">
    <!--@mbg.generated-->
    replace into PackageAttCate
    (id, entId, erpCode, pCode, pName, requiredCount, pEnName, parentCode, `status`, `level`, leafFlag,
    lang, creator, createDate, modifier, updateDate)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.entId,jdbcType=BIGINT}, #{item.erpCode,jdbcType=VARCHAR},
      #{item.pCode,jdbcType=VARCHAR}, #{item.pName,jdbcType=VARCHAR}, #{item.requiredCount,jdbcType=INTEGER},#{item.pEnName,jdbcType=VARCHAR},
      #{item.parentCode,jdbcType=VARCHAR}, #{item.status,jdbcType=SMALLINT}, #{item.level,jdbcType=SMALLINT},
      #{item.leafFlag,jdbcType=BOOLEAN}, #{item.lang,jdbcType=VARCHAR}, #{item.creator,jdbcType=VARCHAR},
      #{item.createDate,jdbcType=TIMESTAMP}, #{item.modifier,jdbcType=VARCHAR}, #{item.updateDate,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into packageattcate
    (id, entId, erpCode, pCode, pName, requiredCount, pEnName, parentCode, `status`,
    `level`, leafFlag, lang, creator, createDate, modifier, updateDate)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.entId,jdbcType=BIGINT}, #{item.erpCode,jdbcType=VARCHAR},
      #{item.pCode,jdbcType=VARCHAR}, #{item.pName,jdbcType=VARCHAR}, #{item.requiredCount,jdbcType=INTEGER},
      #{item.pEnName,jdbcType=VARCHAR}, #{item.parentCode,jdbcType=VARCHAR}, #{item.status,jdbcType=SMALLINT},
      #{item.level,jdbcType=SMALLINT}, #{item.leafFlag,jdbcType=BOOLEAN}, #{item.lang,jdbcType=VARCHAR},
      #{item.creator,jdbcType=VARCHAR}, #{item.createDate,jdbcType=TIMESTAMP}, #{item.modifier,jdbcType=VARCHAR},
      #{item.updateDate,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update packageattcate
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="entId = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.entId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="erpCode = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.erpCode,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="pCode = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.pCode,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="pName = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.pName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="requiredCount = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.requiredCount,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="pEnName = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.pEnName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="parentCode = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.parentCode,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=SMALLINT}
        </foreach>
      </trim>
      <trim prefix="`level` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.level,jdbcType=SMALLINT}
        </foreach>
      </trim>
      <trim prefix="leafFlag = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.leafFlag,jdbcType=BOOLEAN}
        </foreach>
      </trim>
      <trim prefix="lang = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.lang,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="creator = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.creator,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="createDate = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createDate,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="modifier = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.modifier,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="updateDate = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updateDate,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <delete id="delete" parameterType="com.efuture.omdmain.model.PackageAttCate">
    delete from PackageAttCate where erpCode = #{erpCode,jdbcType=VARCHAR} and entId = #{entId,jdbcType=BIGINT}
        and pCode = #{pCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.efuture.omdmain.model.PackageAttCate">
    <!--@mbg.generated-->
    insert into PackageAttCate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="entId != null">
        entId,
      </if>
      <if test="erpCode != null">
        erpCode,
      </if>
      <if test="pCode != null">
        pCode,
      </if>
      <if test="pName != null">
        pName,
      </if>
      <if test="pEnName != null">
        pEnName,
      </if>
      <if test="requiredCount != null">
        requiredCount,
      </if>
      <if test="parentCode != null">
        parentCode,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="level != null">
        `level`,
      </if>
      <if test="leafFlag != null">
        leafFlag,
      </if>
      <if test="lang != null">
        lang,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="updateDate != null">
        updateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="entId != null">
        #{entId,jdbcType=BIGINT},
      </if>
      <if test="erpCode != null">
        #{erpCode,jdbcType=VARCHAR},
      </if>
      <if test="pCode != null">
        #{pCode,jdbcType=VARCHAR},
      </if>
      <if test="pName != null">
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="requiredCount != null">
        #{requiredCount,jdbcType=INTEGER},
      </if>
      <if test="pEnName != null">
        #{pEnName,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null">
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="level != null">
        #{level,jdbcType=SMALLINT},
      </if>
      <if test="leafFlag != null">
        #{leafFlag,jdbcType=BOOLEAN},
      </if>
      <if test="lang != null">
        #{lang,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.efuture.omdmain.model.PackageAttCate">
    <!--@mbg.generated-->
    update PackageAttCate
    <set>
      <if test="entId != null">
        entId = #{entId,jdbcType=BIGINT},
      </if>
      <if test="erpCode != null">
        erpCode = #{erpCode,jdbcType=VARCHAR},
      </if>
      <if test="pCode != null">
        pCode = #{pCode,jdbcType=VARCHAR},
      </if>
      <if test="pName != null">
        pName = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="requiredCount != null">
        pName = #{requiredCount,jdbcType=INTEGER},
      </if>
      <if test="pEnName != null">
        pEnName = #{pEnName,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null">
        parentCode = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=SMALLINT},
      </if>
      <if test="level != null">
        `level` = #{level,jdbcType=SMALLINT},
      </if>
      <if test="leafFlag != null">
        leafFlag = #{leafFlag,jdbcType=BOOLEAN},
      </if>
      <if test="lang != null">
        lang = #{lang,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        updateDate = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efuture.omdmain.model.PackageAttCate">
    <!--@mbg.generated-->
    update PackageAttCate
    set entId = #{entId,jdbcType=BIGINT},
      erpCode = #{erpCode,jdbcType=VARCHAR},
      pCode = #{pCode,jdbcType=VARCHAR},
      pName = #{pName,jdbcType=VARCHAR},
      requiredCount = #{requiredCount,jdbcType=INTEGER},
      pEnName = #{pEnName,jdbcType=VARCHAR},
      parentCode = #{parentCode,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=SMALLINT},
      `level` = #{level,jdbcType=SMALLINT},
      leafFlag = #{leafFlag,jdbcType=BOOLEAN},
      lang = #{lang,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createDate = #{createDate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      updateDate = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>