<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beanmapper.PaymentMethodRefModelMapper">
  <resultMap id="BaseResultMap" type="com.efuture.omdmain.model.PaymentMethodRefModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pmrid" jdbcType="BIGINT" property="pmrid" />
    <result column="entId" jdbcType="BIGINT" property="entId" />
    <result column="erpCode" jdbcType="VARCHAR" property="erpCode" />
    <result column="pmid" jdbcType="BIGINT" property="pmid" />
    <result column="payCode" jdbcType="VARCHAR" property="payCode" />
    <result column="payName" jdbcType="VARCHAR" property="payName" />
    <result column="paymentModeId" jdbcType="VARCHAR" property="paymentModeId" />
    <result column="paymentModeName" jdbcType="VARCHAR" property="paymentModeName" />
    <result column="paymentSMode" jdbcType="VARCHAR" property="paymentSMode" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  
  <!--按条件查询支付方式关系表 -->
	<select id="getPaymentMethodRefList" parameterType="map" resultType="map">
		SELECT s.*
		FROM paymentmethodref s
		WHERE 	1=1
		<if test="entId != null">
			AND s.entId = #{entId}
		</if>
		<if test="erpCode != null">
			AND s.erpCode = #{erpCode}
		</if>
		<if test="pmid != null">
			AND s.pmid = #{pmid}
		</if>
		<if test="payName != null">
			AND s.payName like concat('%',#{payName},'%')
		</if>
		<if test="paymentModeName != null">
			AND s.paymentModeName like concat('%',#{paymentModeName},'%')
		</if>
		<if test="status != null">
			AND s.status = #{status}
		</if>
		<if test="page_no != null and page_size != null">
			limit ${page_no},${page_size}
		</if>
	</select>
	
	<!--按条件查询支付方式关系表总数 -->
	<select id="countPaymentMethodRefList" parameterType="map" resultType="long">
		SELECT COUNT(1)
		FROM paymentmethodref s
		WHERE 	1=1
		<if test="entId != null">
			AND s.entId = #{entId}
		</if>
		<if test="erpCode != null">
			AND s.erpCode = #{erpCode}
		</if>
		<if test="pmid != null">
			AND s.pmid = #{pmid}
		</if>
		<if test="payName != null">
			AND s.payName like concat('%',#{payName},'%')
		</if>
		<if test="paymentModeName != null">
			AND s.paymentModeName like concat('%',#{paymentModeName},'%')
		</if>
		<if test="status != null">
			AND s.status = #{status}
		</if>
 	</select>
 	
</mapper>