<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beanmapper.ProcessRecipeModelMapper">
  <resultMap id="BaseResultMap" type="com.efuture.omdmain.model.ProcessRecipeModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="prid" jdbcType="BIGINT" property="prid" />
    <result column="entId" jdbcType="BIGINT" property="entId" />
    <result column="sheetNo" jdbcType="VARCHAR" property="sheetNo" />
    <result column="sgid" jdbcType="BIGINT" property="sgid" />
    <result column="goodsCode" jdbcType="VARCHAR" property="goodsCode" />
    <result column="processType" jdbcType="SMALLINT" property="processType" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  
  <select id="selectByState" parameterType="map" resultType="java.util.Map"> 
  	SELECT p.prid, p.entId, p.sheetNo, p.sgid, p.goodsCode, 
  	case when p.processType then 1 else 0 end as processType, 
  	g.sgid, g.categoryId, g.categoryCode, g.goodsName, g.barNo, g.erpCode,
  	g.goodsType, g.goodsCode, g.goodsDisplayName, g.fullName, g.enSName, g.enFname, g.measureUnit
  	FROM ProcessRecipe p, Goods g
  	WHERE 1=1 AND p.entId = g.entId AND p.sgid = g.sgid
  	<if test = "entId != null">
  		AND p.entId = #{entId}
  	</if>
  	<if test = "goodsCode != null">
  		AND p.goodsCode = #{goodsCode}
  	</if>
  	<if test = "sgid != null">
  		AND p.sgid = #{sgid}
  	</if>
  	<if test = "erpCode != null">
  		AND g.erpCode = #{erpCode}
  	</if>
  	<if test="categoryId != null and categoryId.size() > 0">
		AND g.categoryId IN
		<foreach collection="categoryId" open="(" separator="," item="item" index="index" close=")">
			#{item}
		</foreach>
	</if>
  	<if test = "goodsName != null">
  		AND g.goodsName LIKE '${goodsName}%'
  	</if>
  	<if test="page_no != null and page_size != null">
		limit ${page_no},${page_size}
	</if>
  </select>
  
  <select id="selectByStateCount" parameterType="map" resultType="long"> 
  	SELECT COUNT(1)
  	FROM ProcessRecipe p, Goods g
  	WHERE 1=1 AND p.entId = g.entId AND p.sgid = g.sgid
  	<if test = "entId != null">
  		AND p.entId = #{entId}
  	</if>
  	<if test = "goodsCode != null">
  		AND p.goodsCode = #{goodsCode}
  	</if>
  	<if test = "sgid != null">
  		AND p.sgid = #{sgid}
  	</if>
  	<if test = "erpCode != null">
  		AND g.erpCode = #{erpCode}
  	</if>
  	<if test="categoryId != null and categoryId.size() > 0">
		AND g.categoryId IN
		<foreach collection="categoryId" open="(" separator="," item="item" index="index" close=")">
			#{item}
		</foreach>
	</if>
  	<if test = "goodsName != null">
  		AND g.goodsName LIKE '${goodsName}%'
  	</if>
  </select>
  
  <delete id="batchDelete" parameterType="map">
	DELETE FROM ProcessRecipe WHERE
	prid IN
	<foreach collection="prids" index="index" open="(" separator="," close=")" item="item">
		#{item}
	</foreach>
  </delete>
  
  <select id="selectByDetailGoodsCode" parameterType="map" resultType="map">
  	SELECT p.prid, p.entId, p.sheetNo, p.sgid, p.goodsCode as goodsCodeM,
  	d.goodsCode, d.barNo, d.goodsName, d.categoryCode, d.categoryName, d.weight, d.recipeRate, d.purPriceAmount
  	FROM ProcessRecipe p, ProcessRecipeDetail d 
  	WHERE 1=1 AND p.entId = #{entId} 
  	AND p.prid = d.prid 
  	AND d.goodsCode = #{goodsCode}
  </select>
</mapper>






