<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beanmapper.ProcessRecipeDetailModelMapper">
  <resultMap id="BaseResultMap" type="com.efuture.omdmain.model.ProcessRecipeDetailModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="prdid" jdbcType="BIGINT" property="prdid" />
    <result column="entId" jdbcType="BIGINT" property="entId" />
    <result column="prid" jdbcType="BIGINT" property="prid" />
    <result column="goodsCode" jdbcType="VARCHAR" property="goodsCode" />
    <result column="barNo" jdbcType="VARCHAR" property="barNo" />
    <result column="goodsName" jdbcType="VARCHAR" property="goodsName" />
    <result column="categoryCode" jdbcType="VARCHAR" property="categoryCode" />
    <result column="categoryName" jdbcType="VARCHAR" property="categoryName" />
    <result column="purPriceAmount" jdbcType="DECIMAL" property="purPriceAmount" />
    <result column="goodsSpec" jdbcType="VARCHAR" property="goodsSpec" />
    <result column="weight" jdbcType="REAL" property="weight" />
    <result column="recipeRate" jdbcType="REAL" property="recipeRate" />
  </resultMap>
  
  <select id="selectByPrid" parameterType="map" resultMap="BaseResultMap">
  	SELECT d.prdid, d.entId, d.prid, d.goodsCode, d.barNo,  
  	d.goodsName, d.categoryCode, d.categoryName, d.purPriceAmount, d.goodsSpec,
  	d.weight, d.recipeRate as recipeRate, 
  	g.sgid, g.measureUnit
  	FROM ProcessRecipeDetail d, Goods g
  	WHERE 1=1 
  	<if test="prid != null">
  		AND d.prid = #{prid}
  	</if>
  	AND d.entId = g.entId AND d.goodsCode = g.goodsCode
  	<if test="erpCode != null">
  		AND g.erpCode = #{erpCode}
  	</if>
  </select>
  
  <select id="selectByPrid4Map" parameterType="map" resultType="map">
  	SELECT d.prdid, d.entId, d.prid, d.goodsCode, d.barNo,  
  	d.goodsName, d.categoryCode, d.categoryName, d.purPriceAmount, d.goodsSpec,
  	d.weight, d.recipeRate as recipeRate,
  	g.sgid, g.measureUnit
  	FROM ProcessRecipeDetail d, Goods g
  	WHERE 1=1 
  	<if test="prid != null">
  		AND d.prid = #{prid}
  	</if>
  	AND d.entId = g.entId AND d.goodsCode = g.goodsCode
  	<if test="erpCode != null">
  		AND g.erpCode = #{erpCode}
  	</if>
  </select>
  
  <delete id="deleteByPrid" parameterType="map">
  	DELETE FROM ProcessRecipeDetail 
  	WHERE prid = #{prid}
  </delete>
  
  <delete id="batchDeleteByPrid" parameterType="map">
  	DELETE FROM ProcessRecipeDetail 
  	WHERE 1=1 AND prid IN
  	<foreach collection="prids" index="index" open="(" separator="," close=")" item="item">
		#{item}
	</foreach>
  </delete>
</mapper>