<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beanmapper.SetMealTypeRefModelMapper">
	<resultMap id="BaseResultMap" type="com.efuture.omdmain.model.SetMealTypeRefModel">
		<!--
		  WARNING - @mbg.generated
		-->
		<id column="smtrid" jdbcType="BIGINT" property="smtrid" />
		<result column="entId" jdbcType="BIGINT" property="entId" />
		<result column="goodsCode" jdbcType="VARCHAR" property="goodsCode" />
		<result column="typeName" jdbcType="VARCHAR" property="typeName" />
		<result column="optionNum" jdbcType="INTEGER" property="optionNum" />
		<result column="lang" jdbcType="VARCHAR" property="lang" />
		<result column="creator" jdbcType="VARCHAR" property="creator" />
		<result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
		<result column="modifier" jdbcType="VARCHAR" property="modifier" />
		<result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="erpCode" jdbcType="VARCHAR" property="erpCode" />
		<result column="goodsId" jdbcType="BIGINT" property="goodsId" />
		<result column="shopCode" jdbcType="VARCHAR" property="shopCode" />
		<result column="shopId" jdbcType="BIGINT" property="shopId" />
	</resultMap>

	<!-- 复制数据：先删除旧数据，再复制新数据 -->
	<!--1.先删除数据 -->
	<delete id="deleteData" parameterType="map">
		delete from setmealtyperef where goodsId = #{toSsgid}
	</delete>

	<!--2.copy setmealtyperef 數據-->
	<insert id="copyData" parameterType="map">
		insert into setmealtyperef (`smtrid`, `entId`, `erpCode`, `goodsCode`, `typeName`, `optionNum`, `lang`, `creator`, `createDate`, `modifier`, `updateDate`, `shopCode`, `shopId`, `goodsId`)
		select uuid_short(), `entId`, `erpCode`, #{toGoodsCode}, `typeName`, `optionNum`, `lang`, #{creator}, now(), #{creator}, now(), `shopCode`, `shopId`, #{toSsgid} from setmealtyperef where goodsId = #{fromSsgid}
	</insert>

	<select id="selectTCMealType" parameterType="map" resultType="map">
		SELECT t.goodsCode tcCode,t.typeName,t.optionNum
		FROM setmealtyperef t
		left join saleGoods sg on (t.entId=sg.entId and t.goodsCode=sg.goodsCode)
		WHERE 1=1
		<if test="entId != null">
			AND t.entId = #{entId}
		</if>
		<if test="erpCode != null">
			AND sg.erpCode = #{erpCode}
		</if>
		<if test="shopCode != null and shopCode != ''">
			AND sg.shopCode = #{shopCode}
		</if>
		<if test="goodsCode != null">
			AND t.goodsCode IN
			<foreach collection="goodsCode" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</select>

	<select id="selectByState" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
			s.*
		FROM
			SetMealTypeRef s, SaleGoods g
		WHERE 1=1 AND s.entId = g.entId AND s.goodsCode = g.goodsCode AND g.ssgid = #{ssgid}
	</select>

	<select id="selectByState4Map" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			s.*,
			CASE WHEN sg.goodsName  IS NULL THEN '' ELSE sg.goodsName END AS goodsName
		FROM
			SaleGoods sg, SetMealTypeRef s
		WHERE 1=1
		AND sg.ssgid = #{ssgid}
		AND s.entId = sg.entId AND s.goodsCode = sg.goodsCode and s.erpCode = sg.erpCode AND s.shopCode = sg.shopCode
	</select>

	<delete id="deleteByGoodsCodeShopCode" parameterType="java.util.List">
		<foreach collection="value" item="item" open="" separator=";" close="">
			DELETE FROM setMealTypeRef WHERE goodsCode = #{item.goodsCode} AND shopCode = #{item.shopCode} AND erpCode = #{item.erpCode} AND entId = #{item.entId}
		</foreach>
	</delete>

	<insert id="batchInsert" parameterType="java.util.List">
		<foreach collection="value" item="item" open="" separator=";" close="">
			INSERT INTO setMealTypeRef(smtrid, entId, goodsCode, typeName, optionNum, lang, creator, createDate, modifier, updateDate,erpCode,goodsId,shopId,shopCode)
			VALUES(#{item.smtrid}, #{item.entId}, #{item.goodsCode}, #{item.typeName},#{item.optionNum}, #{item.lang}, #{item.creator}, #{item.createDate},
				#{item.modifier}, #{item.updateDate},#{item.erpCode},#{item.goodsId},#{item.shopId},#{item.shopCode})
		</foreach>
	</insert>

</mapper>