<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beanmapper.ShopModelMapper">
  <resultMap id="BaseResultMap" type="com.efuture.omdmain.model.ShopModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="shopId" jdbcType="BIGINT" property="shopId" />
    <result column="entId" jdbcType="BIGINT" property="entId" />
    <result column="erpCode" jdbcType="VARCHAR" property="erpCode" />
    <result column="shopCode" jdbcType="VARCHAR" property="shopCode" />
    <result column="shopName" jdbcType="VARCHAR" property="shopName" />
    <result column="shopSName" jdbcType="VARCHAR" property="shopSName" />
    <result column="parentId" jdbcType="BIGINT" property="parentId" />
    <result column="parentCode" jdbcType="VARCHAR" property="parentCode" />
    <result column="shopForm" jdbcType="VARCHAR" property="shopForm" />
    <result column="shopTypex" jdbcType="VARCHAR" property="shopTypex" />
    <result column="purchaseTypex" jdbcType="VARCHAR" property="purchaseTypex" />
    <result column="owneShopIdx" jdbcType="VARCHAR" property="owneShopIdx" />
    <result column="shopSize" jdbcType="VARCHAR" property="shopSize" />
    <result column="shopLevel" jdbcType="VARCHAR" property="shopLevel" />
    <result column="commerceCircle" jdbcType="VARCHAR" property="commerceCircle" />
    <result column="league" jdbcType="VARCHAR" property="league" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="priceGroup" jdbcType="VARCHAR" property="priceGroup" />
    <result column="shopZonex" jdbcType="VARCHAR" property="shopZonex" />
    <result column="openningTime" jdbcType="TIMESTAMP" property="openningTime" />
    <result column="bookNo" jdbcType="VARCHAR" property="bookNo" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="companyName" jdbcType="VARCHAR" property="companyName" />
    <result column="deliveryCode" jdbcType="VARCHAR" property="deliveryCode" />
    <result column="deliveryName" jdbcType="VARCHAR" property="deliveryName" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="busiAreage" jdbcType="DOUBLE" property="busiAreage" />
    <result column="buildAreage" jdbcType="DOUBLE" property="buildAreage" />
    <result column="rent" jdbcType="DECIMAL" property="rent" />
    <result column="deliveryCycle" jdbcType="VARCHAR" property="deliveryCycle" />
    <result column="safeStockDays" jdbcType="INTEGER" property="safeStockDays" />
    <result column="orderCycle" jdbcType="VARCHAR" property="orderCycle" />
    <result column="recordDate" jdbcType="TIMESTAMP" property="recordDate" />
    <result column="regionId" jdbcType="BIGINT" property="regionId" />
    <result column="regionCode" jdbcType="VARCHAR" property="regionCode" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="serviceRadiu" jdbcType="INTEGER" property="serviceRadiu" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="level" jdbcType="SMALLINT" property="level" />
    <result column="leafFlag" jdbcType="BIT" property="leafFlag" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="groupCode" jdbcType="VARCHAR" property="groupCode" />
    <result column="shopEnName" jdbcType="VARCHAR" property="shopEnName" />
    <result column="enAddress" jdbcType="VARCHAR" property="enAddress" />
  </resultMap>
  
  <select id="selectByState" parameterType="map" resultMap="BaseResultMap">
  	SELECT s.*
  	FROM 
  	Shop s
  	WHERE 1=1
  	<if test="entId != null">
  		AND s.entId = #{entId}
  	</if>
  	<if test="shopId != null">
  		AND s.shopId = #{shopId}
  	</if>
  </select>
  
  <select id="selectIn" parameterType="list" resultMap="BaseResultMap">
  	SELECT c.*
  	FROM Shop c
  	WHERE 1=1 AND c.shopId IN
	<foreach collection="value" index="index" item="item" open="(" separator="," close=")">
		${item}       
	</foreach>
  </select>
  
  <select id="selectByErpCode" parameterType="map" resultType="map">
  	SELECT s.*
  	FROM Shop s
  	WHERE 1=1
  	<if test = "entId != null">
  	 	AND s.entId = #{entId}
  	</if>
  	<if test = "erpCode != null and erpCode.size() > 0">	
  		AND s.erpCode IN
  		<foreach collection="erpCode" item="item" index="index" open="(" separator="," close=")">
  			#{item}
  		</foreach>
  	</if>
  	AND s.leafFlag = 1 AND s.status = 1
  </select>
  
  	<!--查门店全部业态 -->
	<select id="selectALLshopForm" parameterType="map" resultType="map">
		SELECT shopForm from shop s  
		WHERE  1=1
		<if test="entId != null">
			AND s.entId = #{entId}
		</if>
		<if test="erpCode != null">
			AND s.erpCode = #{erpCode}
		</if>
		GROUP BY shopForm
	</select>
	
	<!--查业态下门店 -->
	<select id="getCodeByShopForm" parameterType="map" resultType="map">
		SELECT shopId,entId,erpCode,shopName,shopCode,shopForm,shopSName
		from shop s  
		WHERE  leafFlag = 1
		<if test="entId != null">
			AND s.entId = #{entId}
		</if>
		<if test="erpCode != null">
			AND s.erpCode = #{erpCode}
		</if>
		<if test="shopForms != null">
		    AND s.shopForm IN
			<foreach collection="shopForms" index="index" item="item" open="(" separator="," close=")">
		       #{item}       
		    </foreach>
		</if>
	</select>
  
    <!--修改门店信息 -->
    <update id="updateShop" parameterType="java.util.Map">
		UPDATE shop
		<set>
			<if test="regionId != null and regionId ==-1">
				regionId = null,
			</if>
			<if test="regionId != null and regionId !=-1">
				regionId = #{regionId},
			</if>
			<if test="address != null">
				address = #{address},
			</if>
			<if test="enAddress != null">
				enAddress = #{enAddress},
			</if>
			<if test="longitude != null">
				longitude = #{longitude},
			</if>
			<if test="latitude != null">
				latitude = #{latitude},
			</if>
			<if test="serviceRadiu != null">
				serviceRadiu = #{serviceRadiu},
			</if>
			<if test="modifier != null">
				modifier = #{modifier},
			</if>
			<if test="updateDate != null">
				updateDate = #{updateDate},
			</if>
			<if test="shopName != null">
				shopName = #{shopName},
			</if>
			<if test="shopEnName != null">
				shopEnName = #{shopEnName},
			</if>
			<if test="shopSName != null">
				shopSName = #{shopSName},
			</if>
			<if test="shopSize != null">
				shopSize = #{shopSize},
			</if>
			<if test="companyName != null">
				companyName = #{companyName},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="telephone != null">
				telephone = #{telephone},
			</if>
			<if test="shopTypex != null">
				shopTypex = #{shopTypex},
			</if>
		</set>
		WHERE shopId = #{shopId}
    </update>
  
  	<!--查门店全部业态 去重-->
	<select id="selectALLshopFormDis" parameterType="map" resultType="map">
		select DISTINCT shopForm from shop  
		WHERE  shopForm != '' and shopForm is NOT null
		<if test="entId != null">
			AND entId = #{entId}
		</if>
		<if test="erpCode != null">
			AND erpCode = #{erpCode}
		</if>
		GROUP BY shopForm
	</select>
	
	<!-- 查询该业态下的所有门店 -->
	<select id="selectShopByShopFrom" parameterType="map" resultType="map">
		select * from shop where `status`=1 and leafFlag=1 
		<if test="shopForm != null">
			AND shopForm = #{shopForm}
		</if>
 		<if test="entId != null">
			AND entId = #{entId}
		</if>
		<if test="erpCode != null">
			AND erpCode = #{erpCode}
		</if>
		GROUP BY shopCode
	</select>
  
</mapper>