<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beanmapper.ShopGoodsInfoUpdateModelMapper">
  <resultMap id="BaseResultMap" type="com.efuture.omdmain.model.ShopGoodsInfoUpdateModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="shopGoodsInfoId" jdbcType="BIGINT" property="shopGoodsInfoId" />
    <result column="entId" jdbcType="BIGINT" property="entId" />
    <result column="erpCode" jdbcType="VARCHAR" property="erpCode" />
    <result column="erpName" jdbcType="VARCHAR" property="erpName" />
    <result column="shopCode" jdbcType="VARCHAR" property="shopCode" />
    <result column="shopName" jdbcType="VARCHAR" property="shopName" />
    <result column="goodsCode" jdbcType="VARCHAR" property="goodsCode" />
    <result column="oldGoodsName" jdbcType="VARCHAR" property="oldGoodsName" />
    <result column="oldGoodsDisplayName" jdbcType="VARCHAR" property="oldGoodsDisplayName" />
    <result column="oldSalePrice" jdbcType="DECIMAL" property="oldSalePrice" />
    <result column="oldGoodsFromCode" jdbcType="VARCHAR" property="oldGoodsFromCode" />
    <result column="oldCategoryCode" jdbcType="VARCHAR" property="oldCategoryCode" />
    <result column="oldCategoryName" jdbcType="VARCHAR" property="oldCategoryName" />
    <result column="newGoodsName" jdbcType="VARCHAR" property="newGoodsName" />
    <result column="newGoodsDisplayName" jdbcType="VARCHAR" property="newGoodsDisplayName" />
    <result column="newSalePrice" jdbcType="DECIMAL" property="newSalePrice" />
    <result column="newGoodsFromCode" jdbcType="VARCHAR" property="newGoodsFromCode" />
    <result column="newCategoryCode" jdbcType="VARCHAR" property="newCategoryCode" />
    <result column="newCategoryName" jdbcType="VARCHAR" property="newCategoryName" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="ssgid" jdbcType="BIGINT" property="ssgid" />
  </resultMap>
  
  
  	<!--按条件查询门店商品资料修改表 -->
	<select id="getShopGoodsInfoUpdateList" parameterType="map" resultType="map">
		SELECT s.* 
		FROM shopgoodsinfoupdate s
		where 1=1
		<if test="entId != null">
			AND  s.entId = #{entId}
		</if>
		<if test="erpCode != null and erpCode != ''">
			AND s.erpCode = #{erpCode}
		</if>
		<if test="shopCode != null and shopCode != ''">
			AND s.shopCode = #{shopCode}
		</if>
		<if test="goodsCode != null and goodsCode != ''">
			AND s.goodsCode like concat('%',#{goodsCode},'%')
		</if>
		<if test="goodsName != null and goodsName != ''">
			AND (s.oldGoodsName like concat('%',#{goodsName},'%') or s.newGoodsName like concat('%',#{goodsName},'%'))
		</if>
		<if test="endTime!=null and endTime!=''">
 			AND s.createDate <![CDATA[ <= ]]> #{endTime}
		</if>
		<if test="beginTime!=null and beginTime!=''">
 			AND s.createDate <![CDATA[ >= ]]> #{beginTime}
		</if>
			ORDER BY createDate desc
		<if test="page_no != null and page_size != null">
			limit ${page_no},${page_size}
		</if>
	</select>

	<!--按条件查询门店商品资料修改表 总数 -->
	<select id="countShopGoodsInfoUpdateList" parameterType="map" resultType="long">
		SELECT COUNT(1)
		FROM shopgoodsinfoupdate s
		WHERE  1=1
		<if test="entId != null">
			AND s.entId = #{entId}
		</if>
		<if test="erpCode != null and erpCode != ''">
			AND s.erpCode = #{erpCode}
		</if>
		<if test="shopCode != null and shopCode != ''">
			AND s.shopCode = #{shopCode}
		</if>
		<if test="goodsCode != null and goodsCode != ''">
			AND s.goodsCode like concat('%',#{goodsCode},'%')
		</if>
		<if test="goodsName != null and goodsName != ''">
			AND (s.oldGoodsName like concat('%',#{goodsName},'%') or s.newGoodsName like concat('%',#{goodsName},'%'))
		</if>
		<if test="endTime!=null and endTime!=''">
 			AND s.createDate <![CDATA[ <= ]]> #{endTime}
		</if>
		<if test="beginTime!=null and beginTime!=''">
 			AND s.createDate <![CDATA[ >= ]]> #{beginTime}
		</if>
	</select>
  
</mapper>