<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beanmapper.StallInfoModelMapper">
  <resultMap id="BaseResultMap" type="com.efuture.omdmain.model.StallInfoModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="siid" jdbcType="BIGINT" property="siid" />
    <result column="entId" jdbcType="BIGINT" property="entId" />
    <result column="erpCode" jdbcType="VARCHAR" property="erpCode" />
    <result column="shopId" jdbcType="BIGINT" property="shopId" />
    <result column="shopCode" jdbcType="VARCHAR" property="shopCode" />
    <result column="stallCode" jdbcType="VARCHAR" property="stallCode" />
    <result column="stallName" jdbcType="VARCHAR" property="stallName" />
    <result column="printAddress" jdbcType="VARCHAR" property="printAddress" />
    <result column="printName" jdbcType="VARCHAR" property="printName" />
    <result column="stallStatus" jdbcType="SMALLINT" property="stallStatus" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="selfId" jdbcType="VARCHAR" property="selfId" />
    <result column="nasPath" jdbcType="VARCHAR" property="nasPath" />
    <result column="pattern" jdbcType="CHAR" property="pattern" />
  </resultMap>

	<!--查询套餐的虚拟商品 add by yihaitao 2024-06-28-->
	<select id="searchDetailSaleGoods" parameterType="map" resultType="map">
		select * from salegoods where ssgid in (select goodsId from setmealdetail where sgoodsId in
			<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
				${item}
			</foreach>
		)
	</select>

  <!--某档口下查询归属档口商品-->
  <select id="searchStallGoods" parameterType="map" resultType="map" >
	SELECT
		s.*,
		c.categoryName 
	FROM
		saleGoods s
		LEFT JOIN category c ON s.categoryId = c.categoryId 
	WHERE
		s.goodsStatus IN ( 1, 2, 3 ) 
		AND goodsCode = #{goodsCode}
		AND s.goodstype in (0,9,13)
		AND s.mainBarcodeFlag = 1 
		AND s.erpCode = #{erpCode}  
		AND s.shopId = #{shopId}
		LIMIT 0,1
  </select>
  
  <!-- 可售商品表:根据商品编码更新主从条码的商品类型 -->
   <update id="updateSaleGoodsType" parameterType="java.util.Map">
	update salegoods set goodsType = #{goodsType},updateDate = #{updateDate} 
		where goodsCode = #{goodsCode}
	      and erpCode = #{erpCode} 
	      and entId = #{entId} 
	      and shopCode = #{shopCode}
	      and goodsType != 20;
	 
	  update salegoods s1 left join salegoods s2 on s1.goodsCode = s2.goodsCode and s1.shopId = s2.shopId 
			set s1.goodsType = #{goodsType}, s1.updateDate = #{updateDate}, s1.processFlag = #{processFlag} 
			where s1.mainBarcodeFlag = 0 and s1.goodsType != 20 and s2.ssgid = #{ssgid};
   </update>
  
  <!-- 商品主档表：根据商品编码，经营公司，企业ID更新商品编码 -->
   <update id="updateGoodsType" parameterType="java.util.Map">
	update goods set goodsType = #{goodsType},updateDate = #{updateDate} 
		where goodsCode = #{goodsCode}
	      and erpCode = #{erpCode} 
	      and entId = #{entId} 
   </update>
   
  <select id="search" parameterType="map" resultMap="BaseResultMap">
  	SELECT s.*
  	FROM stallInfo s
  	WHERE 1=1
  	<if test = "siid != null and siid != ''">
  		AND s.siid = #{siid}
  	</if>
  </select>
</mapper>